{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans %}About {{ SITE_NAME }}{% endblocktrans %}{% endblock %}
{% block page_title %}{% blocktrans %}About {{ SITE_NAME }}{% endblocktrans %}{% endblock %}

{% block body %}
<div class="block copy">
    {% blocktrans %}

	<h3>Our Mission Statement</h3>
	<p>MHPSS Network aspires to improve mental health and
	psychosocial well being in emergencies and situations of
	adversity by improving access to people, resources and
	knowledge.</p>

	<h3>Our Purpose</h3>
	<ul>
	<li>Enable dialogue and collaboration amongst people and diverse
	communities of practice</li>
	<li>Share state of the art practice and resources</li>
	<li>Facilitate peer support</li>
	</ul>


	<h3>Our Guiding Principles</h3>
	<ul>
	<li>Flexible and evolutionary</li>
	<li>Clear remit and structure</li>
	<li>Pluralistic and inclusive</li>
	<li>Local context at the centre</li>
	<li>International agents as support</li>
	<li>Light in terms of structure and process</li>
	<li>Sustainable in terms of structure and finance</li>
	<li>Realistic goals</li>
	</ul>


	<h3>Our Main Functions</h3>
	<ol>
	<li>To provide an accessible platform where documents can be posted,
	accessed and reviewed</li>
	<li>To act as a gateway to existing resources and networks</li>
	<li>To facilitate the development of thematic and geographical
	communities of practice</li>
	<li>To enable connections between people, knowledge and resources</li>
	<li>To provide on-line workspaces/forums</li>
	<li>To inform users of new content that reflects their interests</li>
	</ol>


	<h3>Our Face-to-face community</h3>

	<p>The website is only one of the tools towards building a MHPSS
	community. The aim of the face-to-face community is to
	leverage and un-tap new resources by creating linkages between
	people. Networkers will have a proven record as ‘connectors’ in
	their own sphere (geographic or professional) and will be
	supported by the Network to enrich and extend this role.</p>


	<h3>The Stewarding Group</h3>

	<p>The stewarding group, a maximum of eight individuals, was
	constituted based on institutional and personal purpose as well
	as in the interest of representing a diversity of geographical
	regions, professional competences and personal skills.</p>

	<ul>
	<li><em>Alison Strang</em>, Queen Margret University</li>
	<li><em>Alphonse Rutayisire</em>, Repssi</li>
	<li><em>Ananda Galappatti</em>, Psychosocial Professional Sri Lanka</li>
	<li><em>Lene Christensen</em>, IFRC</li>
	<li><em>Sabine Rakotomalala</em>, Terre des Hommes</li>
	<li><em>Jonathan Robinson</em>, The Hub</li>
	</ul>
	
<!--
	<h3>Why The Hub?</h3>
	<p>This is the amazing thing. We all have ideas. But where to go to make them happen? We've learnt that people and institutions working at the frontier of new innovations need access to the all the experience, resources, connections and investment they can muster. So we're dedicating ourselves to designing and hosting events and experiences that create access to the resources, connections, experience, knowledge and capital to support the journey path of ideas into action.</p>
	<p>Our events range from high-profile Hub Lectures, Thought Dinners and inter-disciplinary Innovation Labs to open-source Hub Lunches that foster peer-based learning and collaboration amongst our membership.</p>
	<p><q>Probably the most gutsy and dynamic event I have ever been to.</q></p>
	<p>Dame Anita Roddick, founder of The Body Shop</p>
	<p><q>This place that has become known world-wide is proving what is possible.</q></p>
	<p>Kofi Annan speaking on the Soweto Mountain of Hope, a Hub collaboration</p>

	<h3>What we do</h3>
	<p>We're a social enterprise with the ambition to inspire and support imaginative and enterprising initiatives for a better world. The Hub is a global community of people from every profession, background and culture working at 'new frontiers' to tackle the world's most pressing social, cultural and environmental challenges.</p>
	<p>We believe that there is no absence of good ideas in the world.  The problem is a crisis of access, scale, resources and impact. So it felt vital to create places around the world for accessing space, resources, connections, knowledge, experience and investment.</p>
	<p>We've been working across four continents, and 12 cities to create places for people who change things. This is the ambition. We set out to create places that borrow from the best of a member's club, an innovation agency, a serviced office and a think-tank to create a very different kind of innovation environment. Places with all the tools and trimmings needed to grow and develop new ventures. Places to access experience, knowledge, finance and markets. And above all, places for experience and encounter, full of diverse people doing amazing things. We call these places Hubs. In many ways we're just getting started. And we'd like you to be part of it.</p>

	<h3>You're invited.</h3>
	<p>This is an invitation to be part of a unique global ecosystem of people, places and ideas dedicated to creating a better world.</p>
	<p>The Hub is about the power of people with ideas. s about the audacity, optimism and drive of the people who believe they can change things. Change minds, change lives, and ultimately change the world a little. This is the thing. Another world is not just possible, s happening. People from every profession, background and culture are being united by one thing - the imagination and drive to pursue enterprising ideas for a radically better world. These are the people who see and do things differently. The entrepreneurs, the executives, the policy-makers, the freelance professionals, the community leaders. The Hub is becoming the place they call home.</p>
	<p>Hubs can be found in cities all over the world. They are places to work, meet, innovate, learn and relax. They are designed for people who crave the inspiration, resources, knowledge, connections and investment to start and grow new ideas.</p>
	<p>In the same way that an ecosystem is about the interaction of living things with their environment, the Hub is about the power of inspiring places where new connections, relationships and initiatives can evolve, adapt and thrive.</p>
-->
	{% endblocktrans %}

</div>
{% endblock %}

{% block side_bar %}
{% include "about/sidebar.html" %}
{% endblock %}
