{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Help" %}{% endblock %}
{% block page_title %}{% trans "Help" %}{% endblock %}

{% block body %}
<div id="help" class="block copy">
    {% blocktrans %}

	<h3 id="topics">Topics</h3>
	<ol>
	  <li><a href="#becoming_a_member">Becoming a Member</a></li>
	  <li><a href="#editing_your_profile">Editing Your Profile</a></li>
	  <li><a href="#working_with_resources">Working with Resources</a></li>


	  
	  
		<li><a href="#adding_groups">Adding Groups</a></li>
		<li><a href="#adding_resources">Adding Resources</a></li>
		<li><a href="#sending_messages">Sending messages</a></li>
		<li><a href="#joining_regions">Joining Regions</a></li>
		<li><a href="#about_regions">Find out more about Regions</a></li>
		<li><a href="#permissions_settings">Change your permissions settings</a></li>
		<li><a href="#contact">Contact the MHPSS network</a></li>
		<li><a href="#about_network">Find out more about the MHPSS network</a></li>
		<li><a href="#hosts">Hosts</a></li>
		<li><a href="#exploring">Exploring the site</a></li>
		<li><a href="#using_tags">Using Tags</a></li>
		<li><a href="#searching_site">Searching the site</a></li>
	</ol>

	
	<h3 id="becoming_a_member">Becoming a Member</h3>

	Applying for Membership
	<ol>
	  <li>A new user account can be requested, by going to ‘Apply to Join’.</li> 
	  <li>When completed, simply click on ‘Request Account’.</li>
	  <li>Once your request is accepted by the Hosts, you will receive a confirmation email to your email address asking you to create a password for your account. Follow the instructions given in the email. After submitting your user name and your password, you will become a Member. </li>
	</ol>
	
	Logging In
	<ol>
	  <li>Once you become a Member, you can ‘Log In’ each time you enter the site, in order to use the site, e.g. add resources, join groups, etc.</li> 
	  <li>You can Log In either by using the Log In box in the Welcome page as you enter the site.</li>
	  <li>Or by clicking on the ‘Log In’ link at the top right corner of the navigation bar which will take you to the Log In form shown here.</li>
	</ol>
	
	<h3 id="editing_your_profile">Editing Your Profile.</h3>
	<ol>
	  <li>Click on ‘Profile’ at the top right corner of the navigation bar.</li>
	  <li>Fill in your details.</li>
	  <li>A pencil icon will appear when you take the curser over the fields, e.g. phone number. Click on the icon and a text box will appear for you to fill in the information, as shown. Then click the ‘Save’ button.</li> 
	  <li>Click on the pencil mark that appears on the image on the left side of the Profile page if you would like to add your photo. 
	    <ol>
	      <li>Browse and upload your picture</li>
	      <li>Click ‘Upload Picture’</li>
	    </ol>
	  </li>
	</ol>
	


<h2 id="working_with_resources">Working with Resources</h3>

<h3>Types of Resources</h3> 

<p>You can upload wiki pages and documents such as word files, PDF files and power point presentations. Videos and audio clips cannot be uploaded directly but their links can be added to wiki pages.  Though you can view and download these resources as well, there will be restrictions depending on the permission settings applied to the resources. For instance, some of the resources will be accessible only to the members of a particular group.</p>


<h3 id="#adding_resources">Adding Resources</h3>
  <ol>
  <li>Go to the group/region to which you want to upload a resource.</li>
  <li>Click on the 'Add...' button which can be found on the right side of the group page.</li>
  <li>A pop up screen will appear on your screen</li>
  <li>Choose if it is going to be an upload of a page or a resource.</li>
  <li>Then click 'Create Resource' to add more details about the content before saving it.</li>
  <li>Titles of resources should not have more than 60 characters in order to be uploaded. You can shorten them when filling the title box and write the full title as the first line of the description for the resource, as shown in the example below:
    <ol>
      <li>E.g. 'MHPSS in Humanitarian Emergencies-What Should General Health Coordinators Know?'</li>
      <li> Title: 'What Should General Health Coordinators Know?' </li>
      <li>Description: 'MHPSS in Humanitarian Emergencies-What Should General Health Coordinators Know?' This is a useful guide for ...</li>
    </ol>
  </li>

  </ol>
  



	<h3 id="adding_groups">Adding Groups</h3>
	<ol>
		<li>Go to the [Groups] page through the main navigation bar on the top right hand corner of any page.<!--img src="/site_media/images/help/groups_nav.jpg" /--></li>
		<li>On the groups page click the [create] a group button at the top of the list of groups<!--img src="/site_media/images/help/groups_create.jpg" /--></li>
		<li>Fill in your group details.</li>
		<li>Select a permissions setting for your group. It can always be customised later.</li>
		<li>Click 'Create New Group'</li>
		<li>If you want to customise the permissions, you can do so by clicking the small lock symbol in the top right hand corn</li>
	</ol>
	<p><a class="top_link" href="#topics">Back to topics</a></p>
	
	<h3 id="adding_resources">Adding Resources</h3>
	<p>All Resources must be added to a group to make them easier for other to find. Become a member of an appropriate group to add resoucres to it.</p>
	<ol>
		<li>Click on the 'Add...' button which can be found on the groups pages.</li>
		<li>Choose where you are adding the resource to. This will help other network members find it. If you are already in a Group it will have automatically filled this in with the group page that you are on.</li>
		<li>Choose if it is going to be an upload of a file or a resource.</li>
		<li>Then click 'Create Resource' to add more details about the content before saving it.</li>
	</ol>
	<p><a class="top_link" href="#topics">Back to topics</a></p>

	<h3 id="sending_messages">Sending messages</h3>
	<ol>
		<li>
			<ol>
				<li>Click on [Inbox] in the top right hand corner</li>
				<li>then click 'compose' to start writing a message. You will need to enter a user name of one of the members of the site or an e-mail address of the person you are trying to contact.</li>
			</ol>
			<p>OR</p>
			<ol>
				<li>Find the MHPSS network member that you would like to contact.</li>
				<li>On the right hand side of their profile you will see a link to be able to 'send message' under their image.</li>
			</ol>
		</li>
		<li>Fill in your message and the subject.</li>
		<li>Click send. You can find a copy of your message in the sent its tab on the same page.</li>
	</ol>
	<p><a class="top_link" href="#topics">Back to topics</a></p>

	<h3 id="joining_regions">Joining Regions</h3>
	<p>[Regions] will help you to connect to relevant Resources and People around the world that are living or working in the that Region. Each region has a Host that will connect you and keep you up-to-date with the latest happenings in your area.</p>
	<ol>
		<li>Visit the region you would like to be part of through the 'Regions' Tab in the main navigation.</li>
		<li>Select a region that you would like to be part of, eg. Europe</li>
		<li>On a Region page you will see a 'Join Region' button on the right hand side. Click this.</li>
		<li>You will now start to receive updates telling you when new resources have been added to this region. Your Host will also keep you up-to-date with the latest movements in the network.</li>
	</ol>
	<p><a class="top_link" href="#topics">Back to topics</a></p>
	
	<h3 id="about_regions">Find out more about Regions</h3>
	<p>The best way to find out more about regions is to either look around the [Regions] on the site or contact the region Host. Their address is region@psychosocialnetwork.net and is present on all [Regions] pages.</p>
	<p><a class="top_link" href="#topics">Back to topics</a></p>
	
	<h3 id="permissions_settings">Change your permissions settings</h3>
	<p>You can choose who has permission to do what in your group or on your resource by adjusting the sliders. </p>
	<ol>
		<li>To change you permissions setting on any content you have created go to the top right hand corner and look for the Lock symbol.</li>
		<li>Click on this lock and a screen will 'pop-up' with sliders.</li>
		<li>On the left hand side there is a vertical list of types of users .A creator is the person who made the content. A Host is the administrator for the group. </li>
		<li>Along the top there is a list of actions you can give them permission to do. Adjust each slider as you require. </li>
		<li>You may also want to adjust the permissions for different areas eg. Group Resources. </li>
		<li>Close the box, using the 'x' in the top right hand corner and your permissions will become active.</li>
	</ol>
	<p><a class="top_link" href="#topics">Back to topics</a></p>
	
	<h3 id="contact">Contact the MHPSS network</h3>
	<p>You can contact the Host of your [Region] for more information about the MHPSS network in your area. They also have links to the other regions around the world.</p>
	<p>OR</p>
	<p>Click the [Contact] button at the bottom of any page to find the contact details for the main organisation.</p>
	<p><a class="top_link" href="#topics">Back to topics</a></p>
	
	<h3 id="about_network">Find out more about the MHPSS network</h3>
	<p>Visit the [About] page at the bottom of the site to find out a little more about MHPSS network or contact your Region Host.</p>
	<p><a class="top_link" href="#topics">Back to topics</a></p>
	
	<h3 id="hosts">Hosts</h3>
	<p>A Host is providing the connection between the face to face community on the ground and the wider network. They are building the community by making connections between the members, harvesting and sharing useful resources with the network.</p>
	<p><a class="top_link" href="#topics">Back to topics</a></p>
	
	<h3 id="exploring">Exploring the site</h3>
	<ul>
		<li>Search, which is present on any page</li>
		<li>Tags can be used with Groups and Resources</li>
		<li>Look at members who are interested in what you are interested in and follow them to stay up to date with items they are sharing with the network.</li>
	</ul>
	<p><a class="top_link" href="#topics">Back to topics</a></p>
	
	<h3 id="using_tags">Using Tags</h3>
	<ul>
		<li>You can add Tags to groups or Resources you find helpful so they are easy to find again.</li>
		<li>Other members will also be adding tags to content they add.</li>
		<li>Using the explore page you can filter content using tags by clicking on a Tag to see all the items tagged with that particular tag.</li>
		<li>You can then filter your search to show results showing any particular tag.</li>
	</ul>
	<p><a class="top_link" href="#topics">Back to topics</a></p>
	
	<h3 id="searching_site">Searching the site</h3>
	<ul>
		<li>A search box is present on every page, simply type in the keywords you are looking for.</li>
		<li>You can either visit a specific section and refine your search by keeping the refinement box selected or deselect it and do a full search of all the content on the sit.</li>
		<li>You will not be able to search for group or resource titles longer than
60 characters as they can not be created on the site.</li>
	</ul>
	<p><a class="top_link" href="#topics">Back to topics</a></p>

	{% endblocktrans %}
</div>
{% endblock %}

{% block side_bar %}
{% include "about/sidebar.html" %}
{% endblock %}
﻿

 
Searches and Tags

1.Go to the Resources page and search for the resource you need either by title or by tag.
2.If searching by title, type the exact title in the ‘New Search’ search box to the right OR type in key words from the title e.g. MHPSS + Emergencies + Health + Coordinators +
3.OR You can filter content using tags by clicking on a Tag to see all the items tagged with that particular tag. You can then filter your search to show results showing any particular tag.
4.Tags are key words that relate to the resource and will help to identify the resource easily, e.g. emergencies, MHPSS. Tags with regards to groups are the skills and needs that members add.
5.You need to add Tags to groups or the Resources you upload and Resources you find helpful so they are easy to find again.  These would be especially useful when searching for specific resources with long titles that may have been shortened for the site. Other members will also be adding tags to content they add.  
6.To tag resources, click on the resource you want to tag, and add the tags you want by typing them in the text box as shown (note – you can add only 1 tag at a time). The tag will appear above the box  in blue.
7.If you want to remove the tag, simply click the cross next to the tag. 
Working with Members
Inviting Members
You can send invitations to other members to join a particular Group or a Region where you are already a Member. You can also join other groups by accepting invitations from those group members.
SENDING INVITATIONS
1.Go to the Group/Region to which you want to invite other members.
2.Click the ‘Invite Members’ below the Group/Region image.
3.Add the Username or the email address of the Member you wish to invite, type in the invitation message, and click the ‘Invite’ button (note – you can send only one invitation at a time)
4.The invitation will go to the Inbox of the Member, and will be indicated in your ‘sent’ box as well.

ACCEPTIONG INVITATIONS
1.If you receive an invitation from another Member, it will be in your Inbox. Go to your Inbox and click on the invitation. 
2.Click on ‘click here to accept’ if you would like to accept the invitation. If not, you can delete the message. You can also reply to the message by clicking on the ‘Reply’ button.
3.Once you accept the invitation, it will take you to the relevant Group/Region which you can then join by clicking on the ‘Join Group’/’Join Region’.

INVITING TO THE MHPSS NETWORK
1.You can also invite your friends/colleagues to join the MHPSS network by clicking on the ‘Invite’ button at the right hand side of the Messages page
2.Fill in the required details and sent the invite by clicking on the ‘Invite to Psychosocial Network’. 

Searching for Members

1.You can visit the Members page and type the name of the Member you are looking for in either of the Search boxes that appear on the page.
2.Note - If you deselect the refinement box, you can do a full search of all the content on the site.
3.OR If you are on another page, deselect the refinement box and type the name of the Member you are looking for.

Sending Messages

1.Click on ‘Inbox’
2.Then click 'compose' to start writing a message. You will need to enter a user name of one of the members of the site or an e-mail address of the person you are trying to contact.
	OR
1.Find the MHPSS network member that you would like to contact.
2.Beneath their profile image you will see a link to be able to send them messages.
3.Fill in your message and the subject.
4.Click ‘Send’. You can find a copy of your message in the ‘Sent’ tab on the Messages page
Working with Groups
The Group Creator and Group Host

The Group Creator is the group member who sets up the group whereas the Group Host is the member of the group who takes the responsibility of managing the group. The Group Host’s responsibilities include managing the group membership, managing the group permissions and promoting interaction among the members. The Group Host is not to be confused with the Regional Host (see Working with Regions).  PHIL CAN YOU PROVIDE A LINK HERE?

Creating Groups

1.Go to the ‘Groups’ page through the main navigation bar on the top right hand corner of any page or by clicking ‘Explore Groups’ on the Home page.
2.On the groups page click the ‘Create New Group’ button on the top left corner. 
3.Fill in your group details.
4.Select a permissions setting for your group. It can always be customized later.
5.Click 'Create'.

Joining Groups

1.Go to the ‘Groups’ page and click on the group you want to join. 
2.Click ‘Join Group’ which you can see below the group image
3. You can also join a group if you receive an invitation from a member of a particular group
4.Once you join, you will see that your profile has been added to the Members section of the group. 
5.If you wish to leave the group, simply click on ‘Leave Group’ which you will see below the group picture after you join the group. 

Searching Groups
1.You can visit the Group page and type the name of the Group you are looking for in either of the Search boxes that appear on the page.
2.Note - If you deselect the refinement box, you can do a full search of all the content on the site.
3.OR If you are on another page, deselect the refinement box and type the name of the Group you are looking for.
Working with Regions
Joining Regions

1.The best way to find out more about regions is to either look around the Regions on the site or contact the Region Host. Their addresses can be found in Annex 1 and is present on all Regions pages.
2.Visit the region you would like to be part of through the 'Regions' tab in the main navigation bar on the top right hand corner of any page or click on ‘Visit Regions’ on the Home page.
3.Select a region that you would like to be part of, e.g. Europe
4.Once you enter a Region page you will see a 'Join Region' button on the right hand side below the region picture. Click this.
5.Once you join, you will see that your profile has been added to the Members section of the Region. 
6.You will now start to receive updates telling you when new resources have been added to this region. Your Host will also keep you up-to-date with the latest movements in the network.
7.If you wish to leave the group, simply click on ‘Leave Region’ which you will see below the Region picture after you join the Region.
8.Note – Members cannot create Regions, but you can make a request for this via the network Host! 
Editing Permissions
CONTENT
1.To change your permissions settings on any content you have created, click on the content and go to the top right hand corner of the download page that appears. You will see the Lock symbol below the heading.
2.Click on this lock and a screen will 'pop-up' with sliders.
3.On the left hand side there is a vertical list of types of users and along the top there is a list of actions you can give them permission to do. Adjust each slider as you require.

GROUPS
1.You may also want to adjust the permissions for different areas e.g. Group Resources.
2.Click on the lock symbol next to the group image.
3.Change the settings by adjusting the sliders

PROFILE
1.If you want to change the permissions for your profile, click on the lock symbol located towards the top centre of the page.
2.Adjust the slider to change who can view your profile. 

SAVING CHANGES
1.Close the box, using the 'x' in the top right hand corner and your permissions will become active.
2.Note - permission settings for the Regions can be changed only by the Regional Hosts.

What is a Host?

A Host provides the connection between the face to face community on the ground and the wider network. They build the community by making connections between the members, harvesting and sharing useful resources with the network. If you need any help or information regarding the MHPSS site, you can contact the network Host at info@psychosocialnetwork.net  

