{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Help" %}{% endblock %}
{% block page_title %}{% trans "Help" %}{% endblock %}

{% block body %}
<div id="help" class="block copy">
    {% blocktrans %}

	<ol>
		<li><a href="#adding_groups">Adding Groups</a></li>

	</ol>
	
	<h3 id="adding_groups">Adding Groups</h3>
	<ol>
		<li>Go to the [Groups] page through the main navigation bar on the top right hand corner of any page.<img src="/site_media/images/help/groups_nav.jpg" /></li>
		<li>On the groups page click the [create] a group button at the top of the list of groups<img src="/site_media/images/help/groups_create.jpg" /></li>
		<li>Fill in your group details.</li>
		<li>Select a permissions setting for your group. It can always be customised later.</li>
		<li>Click 'Create New Group'</li>
		<li>If you want to customise the permissions, you can do so by clicking the small lock symbol in the top right hand corn</li>
	</ol>
	<a class="top_link" href="#">Back to top</a>
	
	<h3>Adding Resources</h3>
	<ol>
		<li>click on the 'Add...' button which can be found on the groups pages.</li>
		<li>choose where you are adding the resource to. This will help other network members find it. If you are already in a Group it will have automatically filled this in with the group page that you are on.</li>
		<li>Choose if it is going to be an upload of a file or a resource.</li>
		<li>Then click 'Create Resource' to add more details about the content before saving it.</li>
	</ol>
	
	<h3>Sending messages</h3>
	<ol>
		<li>
			<ol>
				<li>Click on [Inbox] in the top right hand corner</li>
				<li>then click 'compose' to start writing a message. You will need to enter a user name of one of the members of the site or an e-mail address of the person you are trying to contact.</li>
			</ol>
			<p>OR</p>
			<ol>
				<li>Find the MHPSS network member that you would like to contact.</li>
				<li>On the right hand side of their profile you will see a link to be able to 'send message' under their image.</li>
			</ol>
		</li>
		<li>Fill in your message and the subject.</li>
		<li>Click send. You can find a copy of your message in the sent its tab on the same page.</li>
	</ol>
	
	<h3>Joining Regions</h3>
	<p>[Regions] will help you to connect to relevant Resources and People around the world that are living or working in the that Region. Each region has a Host that will connect you and keep you up-to-date with the latest happenings in your area.</p>
	<ol>
		<li>Visit the region you would like to be part of through the 'Regions' Tab in the main navigation.</li>
		<li>Select a region that you would like to be part of, eg. Europe</li>
		<li>On a Region page you will see a 'Join Region' button on the right hand side. Click this.</li>
		<li>You will now start to receive updates telling you when new resources have been added to this region. Your Host will also keep you up-to-date with the latest movements in the network.</li>
	</ol>
	
	<h3>Find out more about Regions</h3>
	<p>The best way to find out more about regions is to either look around the [Regions] on the site or contact the region Host. Their address is region@psychosocialnetwork.net and is present on all [Regions] pages.</p>
	
	<h3>Change your permissions settings</h3>
	<ol>
		<li>To change you permissions setting on any content you have created go to the top right hand corner and look for the Lock symbol.
		<li>Click on this lock and a screen will 'pop-up' with sliders.
		<li>On the left hand side there is a vertical list of types of users and along the top there is a list of actions you can give them permission to do. Adjust each slider as you require.
		<li>You may also want to adjust the permissions for different areas eg. Group Resources. 
		<li>Close the box, using the 'x' in the top right hand corner and your permissions will become active.
	</ol>
	
	<h3>Contact the MHPSS network</h3>
	<p>You can contact the Host of your [Region] for more information about the MHPSS network in your area. They also have links to the other regions around the world.</p>
	<p>OR</p>
	<p>Click the [Contact] button at the bottom of any page to find the contact details for the main organisation.</p>
	
	<h3>Find out more about the MHPSS network</h3>
	<p>Visit the [About] page at the bottom of the site to find out a little more about MHPSS network or contact your Region Host.</p>
	
	<h3>Hosts</h3>
	<p>A Host is providing the connection between the face to face community on the ground and the wider network. They are building the community by making connections between the members, harvesting and sharing useful resources with the network.</p>
	
	<h3>Exploring the site</h3>
	<ul>
		<li>Search, which is present on any page</li>
		<li>Tags can be used with Groups and Resources</li>
		<li>Look at members who are interested in what you are interested in and follow them to stay up to date with items they are sharing with the network.</li>
	</ul>
	
	<h3>Using Tags</h3>
	<ul>
		<li>You can add Tags to groups or Resources you find helpful so they are easy to find again.</li>
		<li>Other members will also be adding tags to content they add.</li>
		<li>Using the explore page you can filter content using tags by clicking on a Tag to see all the items tagged with that particular tag.</li>
		<li>You can then filter your search to show results showing any particular tag.</li>
	</ul>
	
	<h3>Searching the site</h3>
	<ul>
		<li>A search box is present on every page, simply type in the keywords you are looking for.</li>
		<li>You can either visit a specific section and refine your search by keeping the refinement box selected or deselect it and do a full search of all the content on the sit.</li>
	</ul>

	{% endblocktrans %}
</div>
{% endblock %}

{% block side_bar %}
{% include "about/sidebar.html" %}
{% endblock %}