{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Privacy Policy" %}{% endblock %}
{% block page_title %}{% trans "Privacy Policy" %}{% endblock %}

{% block body %}
<div class="block copy">
    {% blocktrans %}

	<h3>Privacy Policy</h3>

	<ol>
	<li>We take your privacy seriously and will comply with the provisions of the Data Protection Act 1998 in using any personal data we collect from you. </li>
	<li>The following applies to any information you provide to us, for example, during the registration process to become a Registered Member. </li>
	<li>You authorise us to use, store or otherwise process any personal information which relates to and identifies you, including but not limited to your name and address ("Personal Information"), to the extent reasonably necessary to provide the services which are available through our website by us, our members, successors, suppliers, associates, sub-contractors or other third parties. </li>
	<li>You authorise us to use, store or otherwise process your Personal Information in particular for the following purposes: </li>
	<li>for market, customer, product and website assessment and analysis to enable us to review, develop and improve our services and provide you and other users with relevant information about our services; </li>
	<li>if you are a Registered Member, your name, address, and other requested personal details for use in your online profile, which shall be accessible and viewable by any user of the website (whether a Registered member or not). You must ensure that the Personal Information you provide is accurate and complete and that all registration details (where applicable) contain your correct name, address and other requested details. </li>
	<li>we will not use your Personal information to share with and sell to our members, suppliers, associates, sub-contractors or other third parties for market . </li>
	<li>If you would like to review or modify any part of your Personal Information then you should e-mail us at info@ psychosocialnetwork.net </li>
	<li>We may disclose some or all of the information collected from you if required to do so by law or other legally binding obligation. </li>
	</ol>

	<h3>Acknowledgement</h3>

	<ol>
	<li>By using our website you acknowledge that you have read the terms of this privacy policy and that you consent to the collection of information from you and use of such information as described in this policy. </li>
	</ol>

	<h3>Confidential Information</h3>

	<ol>
	<li>If you are a Registered Member, you must take all reasonable precautions to prevent the disclosure and unauthorised use of the following information and you must not write down or tell anyone: </li>
	<li>your login details or those of any other Registered Member, should you come to know them; </li>
	<li>any information which can only be accessed in the Member Area of the website. </li>
	<li>If you suspect that someone knows your login details, please contact us by email at info@ psychosocialnetwork.netor by post to 5 Torrens Street, London EC1V 1NQ. Your liability will cease in relation to actions after we receive notification. If unauthorised use of your login details is due to you acting without reasonable care, fraud, your disclosure to someone else or misuse, you will be liable for any loss caused. </li>
	<li>We reserve the right to suspend your access to the Members Area at any time at our discretion, including for the following reasons, namely, if:- </li>
	<li>incorrect login details were used to attempt to access your account; or </li>
	<li>we suspect an unauthorised person is attempting to access your account. </li>
	</ol>

    {% endblocktrans %}
</div>
{% endblock %}

{% block side_bar %}
{% include "about/sidebar.html" %}
{% endblock %}