{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Terms of Service" %}{% endblock %}
{% block page_title %}{% trans "Terms of Service" %}{% endblock %}

{% block body %}
<div class="block copy">
    {% blocktrans %}

<h3>Introduction</h3>

	<p>This site is administered by Hub World Ltd and MHPSS network</p>
	
	<ol>
	<li>A part of our website is only accessible to MHPSS network members. To become a member you must submit an application through the website. If your application is approved, you can create a user name and password, these are used to "login", enabling access to restricted areas of the site or logged in site. HOWEVER, THESE TERMS AND CONDITIONS APPLY TO ALL PARTS OF OUR WEBSITE, INCLUDING THE LOGGED IN AREAS. </li>
	<li>Please read these terms and conditions carefully before using our website. In particular, we draw your attention to clause 11 (Liability). </li>
	<li>By using or accessing our website, you agree to be legally bound by these terms and conditions of use as they may be modified and posted on our website from time to time. </li>
	<li>If there is any conflict between these terms and conditions and any rules and/or specific terms of use appearing on any part of our website relating to any particular function or feature, those specific rules and/or terms of use shall prevail. </li>
	<li>You agree to use our website only for lawful purposes, and in manner which does not infringe on the rights, or restrict or inhibit the use and enjoyment of, the website by any third party. If you do not wish to be bound by these terms and conditions then you may not use our website and you must leave immediately. </li>
	</ol>
	
	<h3>Nature of our Website</h3>
	
	<ol>
	<li>Our website provides information about The MHPSS Network, it's members and their related activities. The MHPSS Network functions as a Network, and our website is the tool for connecting it's members and enabling them to actively engage in the community. </li>
	</ol>
	
	<h3>Interactive Zones</h3>
	
	<ol>
	<li>The website permits access to a range of interactive tools that members can use in their respective Interactive zones. </li>
	<li>Groups pages where groups can be made and listed. </li>
	<li>Members pages where profiles are listed </li>
	<li>various pages on which Registered Members can write comments; </li>
	<li>a Resource section, with both publicly available, private and member only materials may be listed, posting and shared. These include various materials such as documents, images, audio files, policy papers, toolkits, etc </li>
	<li>Depending on the particular Interactive Zone, users may be permitted by us to post and/or upload content, such as comments on a topic, details of a forthcoming event, audio and video files, photographs or other images and documents (each posting or upload is referred to in these terms and conditions as a "Posting"). </li>
	<li>For your protection when you use any Interactive Zone we strongly recommend you to: </li>
	<li>avoid giving out any financial information (such as bank account details or credit card numbers); </li>
	<li>alert our team immediately by clicking the feedback link if someone attempts to send you such information or other personal details you have any particular concerns about the information you have received. </li>
	<li>We cannot accept any liability for any loss or damage you may suffer as a result of you revealing your identity or other personal details when using the website. </li>
	<li>We reserve the right to review, store, copy, edit, reject, block, delay, suspend, remove or delete Postings or take down or stop access to any Interactive Zone at any time and in our sole discretion. You waive and agree not to assert any so-called moral or similar rights (whether arising under the Copyright Designs and Patents Act 1988 or otherwise) you may have in any Postings that you make. This includes waiving the rights to be identified as the author of and to prevent derogatory treatment of the Postings. </li>
	<li>Postings By posting on an Interactive Zone, you hereby grant to Hub World Ltd a licence to publish, use, modify, publicly display, reproduce and distribute such Postings on the website. </li>
	<li>You must ensure that there is nothing in your conversations which is or might be regarded as harassing, threatening, abusive, vulgar, obscene, defamatory, racist or otherwise unlawful. </li>
	<li>Hub World Ltd assumes no responsibility for monitoring any Interactive Zone for inappropriate content or conduct. If at any time Hub World Ltd chooses, in its sole discretion, to monitor an Interactive Zone, Hub World Ltd nonetheless assumes no responsibility for Postings, no obligation to modify or remove any inappropriate Postings, and no responsibility for the conduct of the user submitting any such Postings. </li>
	<li>You are solely responsible for the postings that you post on an Interactive Zone. Hub World Ltd does not endorse and has no control over the Postings. Postings are not necessarily reviewed by The Hub Hub World Ltd prior to publication and do not necessarily reflect the opinions or policies of Hub World Ltd . Hub World Ltd makes no warranties, express or implied, as to the Postings or as to the accuracy and reliability of the Postings and expressly disclaims any and all liability in connection with Postings. </li>
	<li>You warrant that your Postings or any use we may make of them under these terms of use will not: </li>
	<li>violate the rights of or harm or threaten the safety of any person; </li>
	<li>infringe the copyright, trademarks, rights of privacy, publicity or other intellectual property or other rights of any other person or entity; </li>
	<li>contain malicious code, such as viruses, worms, Trojan horses or other potentially harmful programs or material; or involve the transmission of junk mail, chain letters or unsolicited mass mailing ("spam"); </li>
	<li>be likely to deceive any person; </li>
	<li>(except in relation to Postings by Registered Members) contain offers of any goods or commercial or professional services or any requests or offers of financial aid; </li>
	<li>be made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence; </li>
	<li>violate any applicable law, statute, rule or regulation. </li>
	<li>If you become aware of any Postings which contain objectionable matter please contact Hub World Ltd promptly through your Region Host or 'contact' link at the bottom right hand side of the page. </li>
	<li>Disclaimer Hub World Ltd is not responsible for any incorrect or inaccurate Postings on our website or posted in connection with our website. Hub World Ltd assumes no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorised access to, or alteration of, any Posting. </li>
	</ol>
	
	<h3>Website Content</h3>
	
	<ol>
	<li>We will do our best to ensure that the content published on our website is accurate; however, we do not (to the extent permitted by applicable law) accept responsibility for, or give any warranties as to the accuracy or otherwise of such content (whether published on or offline) and the use of such content, including, in particular, any content relating to any products, services or information or other materials supplied by or opportunities offered by, you or any third party; </li>
	<li>In relation to content relating to the products, services, opportunities offered and information and other materials supplied by, you or any third party: </li>
	<li>all such content is based solely on information provided to us and is published in good faith; </li>
	<li>all such content is provided on an "as is" basis and you assume total responsibility and risk for your use of or reliance on such information; </li>
	<li>Our website is controlled and operated by us in England. We have used our best endeavours to ensure that our website complies with UK laws. We make no representations that the materials on our website are appropriate or available for use in locations outside the UK. Those who visit our website from other locations do so on their own initiative, and are responsible for compliance with all applicable laws. If use of our website and/or viewing of it, or use of any material or content on our website or services, or products or services advertised or offered through our website are contrary to or infringe any applicable law in your jurisdiction(s), you are not authorised to view or use our website and you must exit immediately. </li>
	</ol>
	
	<h3>Use of Content</h3>
	
	<ol>
	<li>Unless condition 5.2 or 5.3 below applies, content such as a photograph, or document, may be copied for personal use only, provided that copyright and source indications are also copied, no modifications to the content are made and the particular content in question is copied in its entirety. </li>
	<li>Commercial use or publication of all or any content of our website is strictly prohibited without our prior written consent. Nothing contained in these terms and conditions shall be construed as conferring any licence by us to use any such content. </li>
	<li>Where content, such as a photograph or document, has been published on the website with the express permission of the copyright owner of such content, all rights to such content are subject to the conditions attached to such permission. If it is not clear whether such permission allows copies to be made, then such permission to use such content must be requested and obtained direct from the copyright owners as indicated. </li>
	<li>Though you can delete items you have created from the site, they may have been copied or fed else where and will not be removed from their new positions. </li>
	</ol>

	<h3>Privacy Policy</h3>

	<ol>
	<li>We take your privacy seriously and will comply with the provisions of the Data Protection Act 1998 in using any personal data we collect from you. </li>
	<li>The following applies to any information you provide to us, for example, during the registration process to become a Registered Member. </li>
	<li>You authorise us to use, store or otherwise process any personal information which relates to and identifies you, including but not limited to your name and address ("Personal Information"), to the extent reasonably necessary to provide the services which are available through our website by us, our members, successors, suppliers, associates, sub-contractors or other third parties. </li>
	<li>You authorise us to use, store or otherwise process your Personal Information in particular for the following purposes: </li>
	<li>for market, customer, product and website assessment and analysis to enable us to review, develop and improve our services and provide you and other users with relevant information about our services; </li>
	<li>if you are a Registered Member, your name, address, and other requested personal details for use in your online profile, which shall be accessible and viewable by any user of the website (whether a Registered member or not). You must ensure that the Personal Information you provide is accurate and complete and that all registration details (where applicable) contain your correct name, address and other requested details. </li>
	<li>we will not use your Personal information to share with and sell to our members, suppliers, associates, sub-contractors or other third parties for market . </li>
	<li>If you would like to review or modify any part of your Personal Information then you should e-mail us at info@ psychosocialnetwork.net </li>
	<li>We may disclose some or all of the information collected from you if required to do so by law or other legally binding obligation. </li>
	</ol>
	
	<h3>Acknowledgement</h3>
	
	<ol>
	<li>By using our website you acknowledge that you have read the terms of this privacy policy and that you consent to the collection of information from you and use of such information as described in this policy. </li>
	</ol>
	
	<h3>Confidential Information</h3>
	
	<ol>
	<li>If you are a Registered Member, you must take all reasonable precautions to prevent the disclosure and unauthorised use of the following information and you must not write down or tell anyone: </li>
	<li>your login details or those of any other Registered Member, should you come to know them; </li>
	<li>any information which can only be accessed in the Member Area of the website. </li>
	<li>If you suspect that someone knows your login details, please contact us by email at info@ psychosocialnetwork.netor by post to 5 Torrens Street, London EC1V 1NQ. Your liability will cease in relation to actions after we receive notification. If unauthorised use of your login details is due to you acting without reasonable care, fraud, your disclosure to someone else or misuse, you will be liable for any loss caused. </li>
	<li>We reserve the right to suspend your access to the Members Area at any time at our discretion, including for the following reasons, namely, if:- </li>
	<li>incorrect login details were used to attempt to access your account; or </li>
	<li>we suspect an unauthorised person is attempting to access your account. </li>
	</ol>

	<h3>Linked Sites</h3>
	
	<ol>
	<li>Hub World ltd make no representations whatsoever about any other websites which you may access through the MHPSS Network website or which may link to our website. When you access any other website you understand that it is independent from Hub World ltd and that we have no control over the content or availability of that website. In addition, a link to any other website does not mean that Hub World ltd endorses or accepts any responsibility for the content, or the use of, such a website and Hub World ltd shall not be liable for any loss or damage caused or alleged to be caused by or in connection with use of or reliance on any content, goods or services available on or through any other website or resource. Any concerns regarding any external link should be directed to its website administrator or web master. </li>
	<li>Availability of our Website </li>
	<li>We will try to make our website available but cannot guarantee that our website will operate continuously or without interruptions or be error free and we can accept no liability for its unavailability. You must not attempt to interfere with the proper working of our website and, in particular, you must not attempt to circumvent security, tamper with, hack into, or otherwise disrupt any computer system, server, website, router or any other Internet connected device. </li>
	<li>Modifications to Website </li>
	<li>We reserve the right to make changes or corrections, alter, suspend or discontinue any aspect of our website or the content or services available through it, including your access to it. Unless explicitly stated to the contrary, any new features including new content shall be subject to these terms and conditions. </li>
	<li>Please note that although we try to ensure that the content of our website is accurate, it may contain typographical errors or other inaccuracies. </li>
	</ol>
	
	<h3>Liability</h3>
	
	<ol>
	<li>We may permit users of our website to post information around mental Health and Psychosocial Support, funding and other opportunities and non profit activities. Any purchase from, or entry into arrangements with, another party in respect of any information around mental Health and Psychosocial Support, funding and other opportunities or activity advertised or promoted on our website is made solely between you and that party (referred to below as the "Promoter"). To the extent permitted by law, we accept no liability in relation to any rights, claims or otherwise which you may have as a result of or in connection with viewing any product or service description, funding or other opportunity or activity advertised or promoted on our website. </li>
	<li>In particular, in relation to any promotion or offer made by a third party Promoter on our website, we make no representations or warranties that: </li>
	<li>the Promoter has the right to make the offer to you; </li>
	<li>the subject matter of the offer or promotion will correspond with the description provided on our website; </li>
	<li>the subject matter of the offer or promotion will be of satisfactory quality; </li>
	<li>the subject matter of the offer or promotion will be fit for any specific purpose for which you have bought it; or </li>
	<li>the subject matter of the offer or promotion will be delivered to you in any particular way, on any particular date or subject to any particular conditions. </li>
	<li>We exclude all express or implied terms, conditions, warranties, representations or endorsements whatsoever with regard to our website or any products or services or information appearing on it. </li>
	<li>We accept no liability for any loss or damage arising out of or in connection with the viewing, use or performance of our website or its contents (except where we have been negligent), or for any indirect loss or damage which results from the incident that caused you to claim, or for any loss of data, profit, revenue or business (whether direct or indirect) in each case, however caused, even if foreseeable, whether due to inaccuracy, error, omission or any other cause and whether on the part of Hub World Ltd or our servants, agents or any other person or entity. </li>
	<li>If we are liable to you for any reason, our liability will be limited to &poound;100. This limit does not apply to any liability we may have for death or personal injury resulting from our negligence or for our fraudulent misrepresentation. </li>
	<li>You are responsible for ensuring that your computer system meets all relevant technical specifications necessary to use our website and is compatible with our website. You also understand that we cannot and do not guarantee or warrant that any material available for downloading from our website will be free from infection, viruses and/or other code that has contaminating or destructive properties. You are responsible for implementing sufficient procedures and virus checks (including anti-virus and other security checks) to satisfy your particular requirements for the accuracy of data input and output. </li>
	<li>The limitations and exclusions in this clause do not affect your non-excludable statutory rights and only apply to the extent permitted by applicable law. </li>
	</ol>
	
	<h3>General</h3>
	
	<ol>
	<li>We may assign, transfer, novate or subcontract any or all of our rights and obligations under these terms and conditions at any time. </li>
	<li>We may alter these terms and conditions from time to time and post the new version on our website, following which all use of our website will be governed by that version. You must check the terms and conditions on the website regularly. </li>
	<li>You acknowledge that you have not entered into this agreement in reliance upon any statement, warranty or representation made by Hub World Ltd or any other person and you irrevocably and unconditionally waive any rights to claim damages and/or to rescind these terms and conditions by reason of any misrepresentation (other than a fraudulent misrepresentation) that is not contained in the terms and conditions (including our privacy policy in paragraph 6 above). </li>
	<li>If any provision or term of these terms and conditions shall become or be declared illegal, invalid or unenforceable for any reason whatsoever, such term or provision shall be divisible from the other terms and conditions and shall be deemed to be deleted from them. </li>
	<li>These terms and conditions and your use of our website are governed by English law and you submit to the exclusive jurisdiction of the English court. </li>
	<li>Except in respect of a payment obligation, neither you nor Hub World Ltd will be held liable for any failure to perform any obligation to the other due to causes beyond your or Hub World Ltd's respective reasonable control. </li>
	<li>Failure or delay by either party enforcing an obligation or exercising a right under these terms and conditions does not constitute a waiver of that obligation or right. </li>
	<li>These terms and conditions do not confer any rights on any person or party (other than you and/or us) pursuant to the Contracts (Rights of Third Parties) Act 1999. </li>
	</ol>
	
	<h3>Notices</h3>
	
	<ol>
	<li>All notices shall be given: </li>
	<li>to us via e-mail at Hub World ltd or by post at 5 Torrens Street, London, EC1V 1NQ </li>
	<li>to you at either the e-mail or postal address you provide during any ordering process. </li>
	<li>Notice will be deemed received when an e-mail is received in full (or else on the next business day if it is received on a weekend or a public holiday in the place of receipt) or three days after the date of posting. </li>
	<li>Replacement These terms and conditions replace all other terms and conditions previously applicable to the use of our website. </li>
	</ol>

	<p>Hub World Ltd, 5 Torrens Street, London EC1V 1NQ </p>

    {% endblocktrans %}
</div>
{% endblock %}

{% block side_bar %}
{% include "about/sidebar.html" %}
{% endblock %}