/* Layout: Header */

#header {
	color		: #fff;
	height		: 110px;
	margin-bottom	: 20px;
	position	: relative;
}


/* Site Title */

#header h1 a {
	color		: #fff;
	display		: block;
	line-height	: 1.5em;
	padding-top	: 20px;
}

#header h1 a:hover {
	color		: #ddd;
}


/* Account Navigation */

#header #account_navigation {
	list-style	: none;
	position	: absolute;
	right		: 0;
	top			: 0;
}
	
#header #account_navigation li {
	float		: left;
	margin-left	: 15px;
}

#header #account_navigation li.first {
	margin-left	: 0;
}

#header #account_navigation li a,
#header #account_navigation li span {
	color		: #ccc;
	display		: block;
	padding-top	: 10px;
}

#header #account_navigation li span a {
	display		: inline;
	padding-top	: 0;
}

#header #account_navigation li.active a,
#header #account_navigation li a:hover {
	background	: url('../images/account_nav_indicator.gif') 50% 0 no-repeat;
	color		: #fff;
}


/* Main Navigation */

#header #main_navigation {
	bottom		: 0;
	font-size	: 1.6em;
	letter-spacing	: 1px;
	line-height	: 1.4em;
	list-style	: none;	
	position	: absolute;
	right		: 0;
}

#header #main_navigation li {
	float		: left;
	margin-left	: 20px;
}

#header #main_navigation li a {
	color		: #bbb;
	display		: block;
	padding-bottom	: 15px;
}

#header #main_navigation li.active a,
#header #main_navigation li a:hover {
	background	: url('../images/main_nav_indicator.gif') 50% 102% no-repeat;
	color		: #fff;
}
