{% extends "site_base.html" %}

{% load i18n %}
{% load avatar_tags %}

{% load uni_form_tags %}

{% block body %}
    
<div class="block">

  {% if user.is_authenticated %}
    <p class="error_message_large">{% blocktrans %}Note: You're already logged in.{% endblocktrans %}</p>
  {% else %}

	<h4>{% trans "Your details" %}</h4>
	<p class="note">{% trans "Please enter your details below to finish creating your account." %}</p>

  <form class="full_block" action="{{submit_url}}" method="POST">

    <fieldset>

      <ul>

        <li>
          <div class="label">
            <label for="name">Name</label>
          </div>
          <div class="value">
            {{display_name}}
          </div>
        </li>

        <li>
          <div class="label">
            <label for="username"><abbr class="required" title="required">* </abbr>Username</label>
          </div>
          <div class="value">
            <input  id="username" name="username" class="text" type="text" value="{{form.data.username}}"/>
            {{form.username.errors}}
          </div>
        </li>

        <li>
          <div class="label">
            <label for="password1"><abbr class="required" title="required">* </abbr>Password</label>
          </div>
          <div class="value">
            <input  id="password1" name="password1" class="text" type="password" />
            {{form.password1.errors}}
          </div>
        </li>

        <li>
          <div class="label">
            <label for="password2"><abbr class="required" title="required">* </abbr>Re-enter password</label>
          </div>
          <div class="value">
            <input  id="password2" name="password2" class="text" type="password" />
            {{form.password2.errors}}
          </div>
        </li>

      </ul>

    </fieldset>

    <fieldset class="buttons">

      <input class="submit button" type="Submit" value="Create account" />
      <p class="alternative">{% trans "Already have an account?" %} <a href="{% url acct_login %}">{% trans "Log in" %}</a>!</p>

    </fieldset>

  </form>

</div>

{% endif %}

{% endblock %}
