{% extends "site_base.html" %}

{% load i18n %}
{% load avatar_tags %}

{% load uni_form %}

{% block head_title %}{% trans "Apply to join" %}{% endblock %}
{% block page_title %}{% trans "Apply to join" %}{% endblock %}

{% block body %}

<div class="block">

  {% if user.is_authenticated %}
  <p class="error_message_large">{% blocktrans %}Note: You're already logged in.{% endblocktrans %}</p>
  {% endif %}

  <h4>{% trans "Your details" %}</h4>
  <p class="note">{% trans "Please enter your details below to request an account."%}</p>

  <form class="full_block" id="apply_form" method="post" action="{% url acct_apply %}">

    <fieldset>

      <ul>
	<li>
          <div class="label">
	      <label for="id_first_name"><span class="required">*</span>{% trans "First Name" %}</label>

          </div>
	  <div class="value">
	    <input  id="id_first_name" name="first_name" class="text" type="text" value="{{form.data.first_name}}"/>
   	    {{form.first_name.errors}}
          </div>
	</li>
	<li>
          <div class="label">
              <label for="id_last_name"><span class="required">*</span>{% trans "Last Name" %}</label>
	  </div>
	  <div class="value">
  	      <input  id="id_last_name" name="last_name" class="text" type="text" value="{{form.data.last_name}}"/>
	       {{form.last_name.errors}}
          </div>
	</li>
        <li>
          <div class="label">
            <label for="id_email_address"><span class="required">*</span>{% trans "Email" %}</label>
          </div>
          <div class="value">
            <input  id="id_email_address" name="email_address" class="text" type="text" value="{{form.data.email_address}}"/>
            {{form.email_address.errors}}
          </div>
        </li>

        <li>
          <div class="label">
            <label for="id_organisation">{% trans "Organisation" %}</label>
          </div>
          <div class="value">
            <input  id="id_organisation" name="organisation" class="text" type="text" value="{{form.data.organisation}}"/>
            {{form.organisation.errors}}
          </div>
        </li>

      </ul>

    </fieldset>

    <fieldset>
      <ul>
        <li>
          <div class="label">
            <label for="id_address"><span class="required">*</span>{% trans "Address" %}</label>
            <p class="note"></p>
          </div>
          <div class="value">
	    <textarea  id="id_address" name="address" class="text" type="text">{{form.data.address}}</textarea>
            {{form.address.errors}}
          </div>
        </li>
        <li>
          <div class="label">
            <label for="id_postcode">{% trans "Zip/Postcode" %}</label>
            <p class="note"></p>
          </div>
          <div class="value">
            <input  id="id_postcode" name="post_or_zip" class="text" type="text" value="{{form.data.post_or_zip}}" />
            {{form.post_or_zip.errors}}
          </div>
        </li>
        <li>
          <div class="label">
            <label for="id_country"><span class="required">*</span>{% trans "Country" %}</label>
            <p class="note"></p>
          </div>
          <div class="value">
	    {{country_field}}
          </div>
        </li>
      </ul>
    </fieldset>

    <fieldset>

      <ul>

        <li>
          <div class="label">
            <label for="id_about"><span class="required">*</span>{% trans "Tell us a bit about yourself" %}</label>
            <p class="note">{% blocktrans %}what you do and why you're interested in {{ SITE_NAME }}?{% endblocktrans %}</p>
          </div>
          <div class="value">
            <textarea id="id_about" class="text" name="about_and_why" rows="5">{{form.data.about_and_why}}</textarea>
            {{ form.about_and_why.errors}}
          </div>
        </li>

        <li  class='disabled'>
          <div class="label">
            <label for="interests"><span class="required">*</span>{% trans "What are your interests?" %}</label>
          </div>
          <div class="value">
            <!-- <input  id="interests" class="text" type="text" /> -->
            <span style="color:red">(Use existing tag functionality profiles here)</span>
          </div>
        </li>

        <li class='disabled'>
          <div class="label">
            <label for="skills"><abbr class="required" title="required">* </abbr>What are your skills?</label>
          </div>
          <div class="value">
            <!-- <input  id="skills" class="text" type="text" /> -->
            <span style="color:red">(Use existing tag functionality from profiles here)</span>
          </div>
        </li>

        <li>
          <div class="label">
            <label for="id_referal"><abbr class="required" title="required">* </abbr>How did you find out about {{ SITE_NAME }}?</label>
          </div>
          <div class="value">
            <textarea id="id_referal" class="text" name="find_out" rows="2">{{form.data.find_out}}</textarea>
            {{form.find_out.errors}}
          </div>
        </li>

        <li class="unlabelled">
          <div class="value checkboxes">
            <div class="label">
              <label for="physical_hub">{% blocktrans %}I'm interested in joining a {{HUB_NAME}}{% endblocktrans %}.</label>
              <p class="note">{% blocktrans %}Connect and stay up-to-date with the latest happenings in your area.{% endblocktrans %}</p>
              <select id="which_hub" name="group" style="display: none;">
                <option value="" readonly="readonly">{% blocktrans %}Please select a {{HUB_NAME}}...{% endblocktrans %}</option>
                {% for h in hubs %}
                <option value="{{h.group_name}}" {% ifequal h.group_name form.data.group %} selected="selected"{% endifequal %}>{{h.display_name}}</option>
                {% endfor %}
              </select>
              {{ form.which_hub.errors }}
            </div>
            <input id="physical_hub" name="physical_hub_check" class="checkbox" type="checkbox" {% ifequal form.data.physical_hub_check 'on'  %}checked="checked"{% endifequal %}>
          </div>
        </li>

      </ul>

    </fieldset>

    <fieldset class="buttons">

      <input class="submit button" type="submit" value="{% trans "Request account" %}" />
      {% url terms as terms_url %}
      {% url privacy as privacy_url %}
      <abbr class="asterisk" title="{% blocktrans %}* By clicking 'Request account', you are indicating that you have read and agree to the Terms of Service and Privacy Policy</a>.{% endblocktrans %}">*</abbr>
      {% if user.is_authenticated %}{% else %}<p class="alternative">{% trans "Already have an account?" %} <a href="{% url acct_login %}">{% trans "Log in" %}</a>!</p>{% endif %}

    </fieldset>


    <p class="note">{% blocktrans %}* By clicking "Request account", you are indicating that you have read and agree to the <a href="{{ terms_url }}">Terms of Service</a> and <a href="{{ privacy_url }}">Privacy Policy</a>.{% endblocktrans %}</p>

  </form>

</div>

{% endblock %}

{% block side_bar %}
{% include "account/sidebar.html" %}
{% endblock %}

{% block extra_body %}
    {% load jquery_validation %}
    {% include_validation %}
    <!-- XXX move into .js file -->
    <script type="text/javascript">
       jq(document).ready(function() {
          if(jq("#physical_hub:checked").length===1) {
             jq("#which_hub").show();
          }
          jq("#physical_hub").click(function() {
              jq("#which_hub").toggle();
          });
          jq('#signup_form').validate('{% url signup_form_validate %}', {type: 'table', fields: ['username'], dom: jq('#id_username'), event: 'change'});
          jq("#id_username").focus();
       });
    </script>
{% endblock %}
