{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Log in" %}{% endblock %}
{% block page_title %}{% trans "Log in to " %}{% if site_name %}{{ site_name }}{% else %}Site{% endif %} {% endblock %}

{% block body %}

<div class="block">

    {% if user.is_authenticated %}
        <p><span class="warning">{% trans "Note" %}</span>: {% blocktrans %}you are already logged in as {{ user }}.{% endblocktrans %}</p>
    {% else %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
        {% url acct_signup as signup_url %}
        <p>{% blocktrans %}Don't have an account? <a href="{{ signup_url }}">Sign up</a>!{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
    
    <form class="login uniForm full" method="POST" action="">
	    <p>{% trans "Please enter your username and password."%}</p>
		{% if message %}<p class="error_message_large">{{message}}</p>{% endif %}
        <fieldset>
	  <ul>
	    <li id="div_id_username" class="ctrlHolder ">
	      <label for="id_username"><span class="required">*</span> Username</label>
	      <input id="id_username" type="text" class="text" name="username" maxlength="30" />
	      {{ form.username.errors }}
	    </li>
	    <li id="div_id_password" class="ctrlHolder ">
	      <label for="id_password"><span class="required">*</span> Password</label>
	      <input type="password" name="password" type="text" class="text" id="id_password" />
	      {{ form.password.errors }}
	    </li>
	    <li id="div_id_remember" class="ctrlHolder checkboxes">
	      <label>&nbsp;</label>
	      <input type="checkbox" class="checkbox" name="remember" id="id_remember" />
	      <div class="label_extended">
		<label for="id_remember">{% trans "Remember me"%} 
		  <span class="extra">{% trans "Stay logged in for 3 weeks" %}</span></label>
	      </div>
	    </li>
	  </ul>			
	  <ul>
	    <li class="form_block">
	      <input type="submit" class="submit button" value="{% trans "Log in" %}" />
	      or <a href="{% url acct_apply %}">{% trans "Apply to join" %}</a>
	    </li>
	  </ul>
        </fieldset>
    </form>
    <a href="{% url acct_passwd_reset %}">{% trans "Forgotten your password?" %}</a>
    
</div>

{% endblock %}

{% block side_bar %}
{% include "account/sidebar.html" %}
{% endblock %}

{% block extra_body %}
<script>
    jq("#id_username").focus();
</script>
{% endblock %}
