{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Log in" %}{% endblock %}
{% block page_title %}{% trans "Log in" %}{% endblock %}

{% block body %}

<div class="block">

  {% if user.is_authenticated %}
  <p class="error_message_large">{% blocktrans %}Note: You're already logged in.{% endblocktrans %}</p>
  {% endif %}

  <h4>Log in to {% if SITE_NAME %}{{ SITE_NAME }}{% else %}Site{% endif %} </h4>
  <p class="note">{% trans "Please enter your username and password."%}</p>

  <form class="login full_block" method="POST" action="">

    {% if message %}<p class="error_message_large">{{message}}</p>{% endif %}

    <fieldset>

      <ul>

        <li>
          <div class="label">
            <label for="id_username"><abbr class="required" title="required">* </abbr>Username</label>
          </div>
          <div class="input">
            <input id="id_username" type="text" class="text" name="username" maxlength="30" />
            {{ form.username.errors }}
          </div>
        </li>

        <li>
          <div class="label">
            <label for="id_password"><abbr class="required" title="required">* </abbr>Password</label>
          </div>
          <div class="input">
            <input type="password" name="password" type="text" class="text" id="id_password" />
            {{ form.password.errors }}
          </div>
        </li>

        <li id="div_id_remember" class="unlabelled">
          <div class="input checkboxes">
            <div class="label">
              <label for="id_remember">{% trans "Remember me"%}</label>
              <p class="note">{% trans "Stay logged in for 3 weeks" %}</p>
            </div>
            <input type="checkbox" class="checkbox" name="remember" id="id_remember" />
          </div>
        </li>

      </ul>

    </fieldset>

    <fieldset class="buttons">

      <input type="submit" class="submit button" value="{% trans 'Log in' %}" />
      <span class="alternative">or <a href="{% url acct_apply %}">{% trans "Apply to join" %}</a></span>

    </fieldset>

  <p class="note"><a href="{% url acct_passwd_reset %}">{% trans "Forgotten your password?" %}</a></p>

  </form>

</div>

{% endblock %}

{% block side_bar %}
{% include "account/sidebar.html" %}
{% endblock %}

{% block extra_body %}
<script>
    jq("#id_username").focus();
</script>
{% endblock %}
