{% extends "account/base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}
{% block page_title %}{% trans "Password reset" %}{% endblock %}


{% block body %}

<div class="block">

{{ current_site }}
    {% if user.is_authenticated %}
        <p><span class="warning">{% trans "Note" %}</span>: {% blocktrans %}you are already logged in as {{ user }}.{% endblocktrans %}</p>
    {% endif %}
    <form method="POST" action="" class="uniForm full">
	    <h4>Forgotten your password?</h4>
	    <p>{% trans "Enter your email address below we'll send you a new one." %}</p>
        <fieldset class="inlineLabels">
			<ul>
	        	<li id="div_id_email" class="ctrlHolder ">
	                <label for="id_email"><span class="required">*</span> Email</label>
		            <input id="id_email" type="text" class="text" name="email" size="30" />
					{{ form.email.errors }}
		        </li>
	        </ul>
            <input type="submit" class="submit button" value="{% trans "Send new password" %}" />
        </fieldset>
    </form>
    <span class="extra">{% blocktrans %}If you have any trouble resetting your password, contact us at <a href="mailto:{{ SUPPORT_EMAIL }}">{{ SUPPORT_EMAIL }}</a>.{% endblocktrans %}</span>

</div>

{% endblock %}

{% block side_bar %}
{% include "account/sidebar.html" %}
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
