{% extends "account/base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block page_title %}{% trans "Change Password" %}{% endblock %}

{% block body %}

<div class="block">

  {{ initial }}
  {% if form %}

  <form method="POST" action="" class="uniForm">
  
    <p class="error_message_large">{{form.errors}}</p>
  
    <input type="hidden" name="temp_key" value="{{temp_key}}" id="id_temp_key" />
  
    <fieldset>
  
      <ul>
  
        <li>
          <div class="label">
            <label for="id_password1"><span class="required">*</span> New Password</label>
          </div>
          <div class="input">
            <input type="password" name="password1" id="id_password1" />
          </div>
        <li>
  
        </li>
          <div class="label">
            <label for="id_password2"><span class="required">*</span> New Password (again)</label>
          </div>
          <div class="input">
            <input type="password" name="password2" id="id_password2" />
          </div>
        </li>
  
      </ul>
  
    </fieldset>
  
    <fieldset class="buttons">
  
      <input type="submit" name="action" value="{% trans 'Change password' %}"/>
  
    </fieldset>
  
  </form>

  {% else %}
      <p>{% trans "Your password is now changed." %}</p>
  {% endif %}

</div>

{% endblock %}
