{% extends "account/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}
{% block page_title %}{% trans "Password reset" %}{% endblock %}

{% block body %}

<div class="block">

{{ current_site }}

  {% if user.is_authenticated %}
  <p class="error_message_large">{% blocktrans %}Note: You're already logged in.{% endblocktrans %}</p>
  {% endif %}

  <h4>{% trans "Forgotten your password?" %}</h4>
  <p class="note">{% trans "Enter your email address below we'll send you a link to reset your password." %}</p>

  <form method="POST" action="" class="full_block">

    <fieldset>

      <ul>

        <li>
          <div class="label">
            <label for="email"><abbr class="required" title="required">* </abbr>{% trans "Email" %}</label>
          </div>
          <div class="value">
            <input id="email" type="text" class="text" name="email" size="30" value='{{form.data.email}}'/>
            {{ password_reset_form.email.errors }}
          </div>
        </li>

      </ul>

    </fieldset>

    <fieldset class="buttons">

      <input type="submit" class="submit button" value="{% trans 'Reset password' %}" />

    </fieldset>

    <p class="note">{% blocktrans %}If you have any trouble resetting your password, contact us at <a href="mailto:{{ SUPPORT_EMAIL }}">{{ SUPPORT_EMAIL }}</a>.{% endblocktrans %}</p>

  </form>

</div>

{% endblock %}

{% block side_bar %}
{% include "account/sidebar.html" %}
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
