{% load i18n %}

<h2>{% trans "Permissions" %}</h2>
<p>{% blocktrans %}Change permissions on this {{current_label}}. {% endblocktrans %}</p>

{% if is_agent %}{% else %}
<form id="customize_permissions" action="{% url customize %}">
	<fieldset>
		<ul class="checkboxes">
			<li>
				<input  id="group" name="custom" value="0" class="radio" type="radio" {% if is_custom %}{% else %}checked="checked"{% endif %} />
				<div class="label_extended">
					<label for="group">Use group permission <span class="extra">Currently set to "{{permission_prototype}}"</span></label>
				</div>
			</li>
			<li>
				<input  id="custom" name="custom" value="1" class="radio" type="radio" {% if is_custom %}checked="checked"{% else %}{% endif %} />
				<div class="label_extended">
					<label for="custom">Custom settings <span class="extra">Choose you're own permissions</span></label>
				</div>
			</li>
		</ul>
	</fieldset>
</form>
{% endif %}

<!-- permissions_tabs -->
<div id="permissions_tabs" class="tabbed section yui-navset">
  <ul class="tabbed_navigation yui-nav">
    {% for obj_type, headers, slider_info, type_label, pluralize in sliders %}
    <li class="{% if forloop.first %}selected{% endif %}" >
      <a href="#{{obj_type.lower}}-permissions">
	<span>{{type_label}}{% if pluralize %}s{% endif %}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
  <div class="tabbed_content yui-content">
  {% for obj_type, headers, slider_info, type_label in sliders %}
    <div id="{{obj_type.lower}}-permissions">
      <table class="permissions_slider" id="{{obj_type}}-permissions">
	<tbody>
	  <tr class="headings">
	    <th class="group_column">Group</th>
	    {% for interface in headers %}
	    <th class="attribute_column">{{interface}}</th>
	    {% endfor %}
	  </tr>
	  {% for agent_ref, agent_class, agent_data, visible in slider_info %}
	 {% if visible %} 
	  <tr {% if visible %}{% else %}style="display:none;"{% endif %} id="agent-{{agent_class}}-{{agent_ref.id}}" {% if forloop.first %}class="first"{% endif %}{% if forloop.last %}class="last"{% endif %}>
	    <td class="group_label">
	      {{agent_ref.display_name}}
	    </td>
	    {% for css_class, selected, interface in agent_data %}
	    <td class="setting {{css_class}} {{obj_type}}_{{interface}}" tabindex="-1">	 <!--active inactive and limited -->
	      {% if render_sliders %}
	      {% if forloop.parentloop.first %}
	      <div class="slider_holder" id="holder-{{obj_type}}_{{interface}}">
		<div class="slider" id="slider-{{obj_type}}_{{interface}}"></div>
	      </div>
	      {% endif %}
	      {% endif %}
	    </td>	
	    {% endfor %}
	  </tr>
	  {% endif %}
	  {% endfor %}
	</tbody>
      </table>
    </div>
  {% endfor %}
  </div>
</div>
<p class="extra">{% blocktrans %}Drag the sliders up and down to the desired group to change your settings. Your changes will be saved automatically.{% endblocktrans %}</p>
<p class="extra">{% trans "Click" %} <a href="{% url help %}#setting_permissions" target="help">{% trans "here" %}</a> {% blocktrans %}for help with setting permissions{% endblocktrans %}</p>

<script type="text/javascript">new YAHOO.widget.TabView("permissions_tabs");</script>
<!-- end permissions_tabs -->



	
