<html>
<head>
    <script src="{{ MEDIA_URL }}js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ MEDIA_URL }}js/plus_libs/html.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ MEDIA_URL }}js/plus_libs/my_unit.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ MEDIA_URL }}js/plus_permissions/models.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ MEDIA_URL }}js/plus_permissions/tests.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>

<p>Unit testing SliderModel</p>

<div id='element'></div>

<script>
test_all('');
</script>

</body>
</html>
