<ul id="highlights" class="blocks">

	<li class="first">
		<h3>Popular Resource</h3>
		<a href="/groups/128/upload/ifrc_community_based_pss_trainers_book/view_resource/">
			<div class="image"><img src="site_media/images/resource.jpg" alt="resource thumbnail"></div>
			<h4>IFRC handbook, Community-based psychosocial interventions manual for trainers</h4>
			<p>In a time of crisis, psychosocial support is not an optional extra; it is an obligation. The
International Federation Reference Centre for Psychosocial Support has worked to improve
the psychosocial well-being of beneficiaries, staff and volunteers since 1993.
Over time, we have learned that it is crucial to strengthen psychosocial capacity globally, in
order to respond to natural disasters, conflicts and health-related issues.
</p>
		</a>
	</li>

	<li>
		<h3>Recently updated Group</h3>
		<a href="groups/153/">
			<div class="image"><img alt="Haiti 2010 Earthquake MHPSS Response" src="/site_media/avatars/haiti_2010_earthquake_mhpss_response/resized/180/avatars/haiti_2010_earthquake_mhpss_response/_47101421_haiti_quake466x412.gif"/></div>
			<h4>Haiti 2010 Earthquake MHPSS Response</h4>
			<p>This is a group to share resources in support of MHPSS responses in the aftermath of the earthquake that struck Haiti on 13 January 2010....</p>
		</a>
	</li>

	<li class="last">
		<h3>Active Region</h3>
		<a href="/regions/46/">
			<div class="image"><img alt="Africa" src="/site_media/avatars/africa/resized/180/avatars/africa/africa.jpeg"/></div>
			<h4>Africa</h4>
			<p>A group focused specifically around those living and working in Africa and issues related to this region.</p>
		</a>
	</li>

</ul>

<div class="block copy">
<!--<p>Please be aware that this is the development site and any content you add may be lost at this time. To visit the live site go to <a href="http://www.psychosocialnetwork.net/">http://www.psychosocialnetwork.net</a></p>
<p>The MHPSS (Mental Health and Psychosocial Network) on-line network serves people working in the field of mental health and psychosocial support in emergencies and situations of extreme stress across the world. It aims to connect practitioners, organisations, academics and service users around the world by collaborating and sharing knowledge.</p>
<p>As a member you can add documents, edit them, organise material, and decide who can view and edit material you have posted.</p>
<p>Unless indicated otherwise, all documents on this site are publicly viewable.</p>
<p>You can <a href="{% url acct_apply %}">Apply to join</a> or <a href="{% url acct_login %}">"Log in to try out the site.</a></p>
-->
<p>The Mental Health & Psychosocial Support (MHPSS) Network serves practitioners, organisations, academics, service users, policy-makers and other stakeholders concerned with mental health and psychosocial support in emergencies and situations of adversity. </p>
<p>The MHPSS Network aspires to improve the well-being and mental health of affected communities and persons through</p>
<ul>
	<li>Enabling dialogue and collaboration amongst people and diverse communities of practice</li>
	<li>Sharing state-of-the-art practice and resources</li>
	<li>Facilitating peer support</li>
</ul>
<p>Most resources on this site are publicly viewable online.  As a member you can also contribute to the online library, join and participate in thematic groups  and interact with other members.  You will also be able to decide who can view and edit the material that you post on the site.</p>
<p>You can <a href="{% url acct_apply %}">Apply to join</a> or  <a href="{% url acct_login %}">Log in</a> to start using the site.</p>
<!--p>Find out more about the <a href="{% url about %}">MHPSS Network here</a> or <a href="{% url acct_apply %}">Join the network.</a></p-->
</div>
