<h2>Welcome to the mental health & psychosocial network</h2>


<p>Please be aware that this is the development site and any content you
add may be lost at this time. To visit the live site go to
<a href="http://www.psychosocialnetwork.net">http://www.psychosocialnetwork.net</a></p>

<p>The MHPSS (Mental Health and Psychosocial Network) on-line network
serves people working in the field of mental health and psychosocial
support in emergencies and situations of extreme stress across the
world. It aims to connect practitioners, organisations, academics and
service users around the world by collaborating and sharing knowledge.</p>

<p>As a member you can add documents, edit them, organise material , and decide who can view and edit material you have posted.</p>

<p>Unless indicated otherwise, all documents on this site are publicly viewable.</p>

