{% extends "site_base.html" %}

{% load i18n %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block page_header %}
  {% include INTRO_BAR %}
{% endblock %}

{% block body %}

  {% include WELCOME_PAGE %}

  {% if user.is_authenticated %}
    {% url what_next as what_next_url %}
      <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}">What Next</a>?{% endblocktrans %}</p>
    {% else %}
      {% url acct_signup as signup_url %}
      {% url acct_login as login_url %}
      <p>You can <a href="{% url acct_apply %}">Apply to join</a> or <a href="{{ login_url }}">Log in</a> to try out the site.</p>
        
<!--        <p><b>{% blocktrans %}At this stage, there is openid support, email verification, password management, site announcements, user-to-user messaging, friend invitation (both internal and external to the site), a basic twitter clone, interest groups (called tribes), projects with basic task and issue management, threaded discussions, wikis, blogging, bookmarks, contact import (from vCard, Google or Yahoo), photo management and a notification framework.{% endblocktrans %}</b></p> -->
 {% endif %}
    
{% endblock %}
