{% extends "page_editor.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load app_plugins %}

{% load plus_tags %}
{% load editable_attribute %}

{% block edit_header %}
	<a id="parent" href="{% url plus_groups:group upload.in_agent.obj.id %}">{{upload.in_agent.obj.display_name}}</a>
	<input id="page_title" name="title" class="text" type="text" value="{% if data.title %}{{data.title}}{% else %}{{upload.title}}{% endif %}" />
	{% if errors.title %}<span class="error">{{errors.title}}<span>{% endif %}
{% endblock %}

          
{% block body %}
<div id="main_title" class="block wiki_edit">

	<ul class="icon_text_button_set">
		{% if permissions %}<li><a class="icon_text_button bt_permissions" href="#" rel="#overlay" id="{{upload.edit_key}}permissionedit">{% trans "Permissions" %}</a></li>{% endif %}
	</ul>
	<fieldset>
		<ul>
			<li id="description_area">
				<div class="label">
					<label for="description">{% trans "Description" %}<abbr class="required" title="required"> *</abbr></label>
				</div>
				<div class="value">
					<textarea id="description" class="text" name="description" rows="10" maxlength="200">{% if data.description %}{{data.description}}{% else %}{{upload.description}}{% endif %}</textarea>
					{{errors.description}}
				</div>
			</li>
			<li class="upload_field">
				{% if not upload.resource %}
				<div class="label">
					<label for="resource">{% trans "Select resource" %}<abbr class="required" title="required"> *</abbr></label>
				</div>
				<div class="value">
					<input  id="resource" name="resource" class="file" type="file" />
					{{errors.resource}}
				</div>
				{% else %}
				    {% if upload.download_url %}
				    <div class="label">
					<label for="resource"><abbr class="required" title="required">* </abbr>{% trans "File" %}</label>
				    </div>
				    <div class="value">
				        <a href="{{upload.download_url}}" class="file_name">{{upload.get_file_name}}</a><span> <a href="#" class="replace_file_button">- {% trans "Replace File" %}</a></span>
					<span> <input  id="resource" name="resource"  type="file" class="hidden replace_file" /><a href="#" class="keep_existing hidden" >{% trans "Keep existing file" %}</a></span>
					{% if errors.resource %}
					<p class="errors">{{errors.resource}}</p>
					{% endif %}
					<p>{% trans "Please Note : Because not all members of the network will have access to the latest computers or software, we recommend that you use older, widely used file formats. If possible please stick to Word, Excel and Powerpoint files from Office 2003 or earlier, rather than Office 2007. .DOCX files are particularly likely to cause problems for some readers. Or use PDFs for brochures and final publications." %}</p>
				    </div>
				    {% endif %}
				{% endif %}
			</li>
		</ul>

	</fieldset>

	<fieldset>

		<ul id="content_extra">
			{% if upload.stub %}
			<li>
				{% plus_tag 'Tags' 'tag' upload user %}
			</li>
			{% endif %}
			<li>
				<div class="label">
					<label for="author">{% trans "Copyright / Author" %}</label>
				</div>
				<div class="value">
					<input  id="author" name="author" class="text" type="text" value='{% if data.author %}{{data.author}}{% else %}{{upload.author}}{% endif %}'/>
					{% if errors.author %}<span class="error">{{errors.author}}</span>{% endif %}
					<p>Please note that the author field is currently restricted to 100 characters.
					  If you would like to add a citation to an academic journal, please use 
					  the description field.
					</p>
				</div>
			</li>
			<li>
				<div class="label">
					<label for="license">{% trans "License" %} <span class="extra">('©2009', 'GPL')</span></label>
				</div>
				<div class="value">
					<input name="license" id="license" class="text" type="text" value="{% if data.license %}{{data.license}}{% else %}{{upload.license}}{% endif %}" />
					{% if errors.license %}<span class="error">{{errors.license}}</span>{% endif %}
				</div>
				<input type="hidden" name="new_parent_group" value=""/><!-- needed for form validation. expand to select box later -->
			</li>
		</ul>

	</fieldset>

	<fieldset class="buttons">

	  {% if upload.stub %}     
	  <input class="button" id="edit_submit"  type="submit" value="Create"/>
	  or <a href="{% url plus_groups:deletestub_Resource upload.in_agent.obj.id upload.name  %}">Go back</a>
	  {% else %}
	  <input class="button" id="edit_submit"  type="submit" value="Save"/>
	  or  <a href="{% url plus_groups:view_Resource upload.in_agent.obj.id upload.name  %}">Cancel</a>
	  {% endif %}
	  
	</fieldset>
	

	{% if upload.stub %}{% else %}
	<fieldset class="buttons">
	  <h3>{% trans "Move this upload to a new group" %}</h3>
	  <ul id="move_resource">
	    <li>
	      <label for="move_to">{% trans "Move to group" %}</label>
	      <input class="autocomplete_uploadable_groups" id="move_to" name="move_to" type="select" value=""/>
	      <input type="hidden" name="new_parent_group" value="" id="new_parent_group"/>
	    </li>
	  </ul>
	  <ul>
	    <li>
	      <input class="button" id="move_resource_submit" name="move_resource_submit" type="submit" value="Move"/>
	    </li>
	    </ul>
	</fieldset>
	{% endif %}

	{% if upload.stub %}{% else %}
	<fieldset class="buttons">
	  <h3>{% trans "Alternatively, you may delete this upload." %}</h3>
	  <ul id="delete_buttons">
            <li>
              <label for="delete_check">{% trans "Check this box to confirm that you want to delete this upload." %}</label>
    	      <input id="delete_check" name="delete_check" type="checkbox" value=""/>
            </li>
	  </ul>
	  <ul>
            <li class="delete_hide">
              <input class="button" id="delete_submit" name="delete_submit" type="submit" value="Delete"/>
            </li>
	  </ul>
	</fieldset>
	{% endif %}
	
</div>
{% endblock %}

{% block side_bar %}
   {% if upload.stub %}
   {% else %}
     {% include "plus_resources/sidebar.html" %}
   {% endif %}
{% endblock %}
