{% extends "page_editor.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load app_plugins %}
{% load uni_form %}
{% load plus_tags %}
{% load editable_attribute %}

{% block edit_header %}
    <a id="parent" href="{% url plus_groups:group upload.in_agent.obj.id %}">{{upload.in_agent.obj.display_name}}</a>
    <input id="page_title" name="title" class="text" type="text" value="{% if data.title %}{{data.title}}{% else %}{{upload.title}}{% endif %}" />
    {% if errors.title %}<span class="error">{{errors.title}}<span>{% endif %}
{% endblock %}

          
{% block body %}      
    <div id="main_title" class="block wiki_edit">
      
      <ul class="icon_text_button_set">
	    {% if permissions %}<li><a class="icon_text_button bt_permissions" href="#" rel="#overlay" id="{{upload.edit_key}}permissionedit">{% trans "Permissions" %}</a></li>{% endif %}
      </ul>
      <ul>
	<li id="description_area">
	  <label for="description"><span class="required">*</span>{% trans "Description" %}</label>
	  <textarea id="description" name="description" rows="3" maxlength="20">{{data.description}}</textarea>
	  {{errors.description}}
	</li>
	<li>
	  <label for="resource"><span class="required">*</span>{% trans "Select resource" %}</label>
	  <input  id="resource" name="resource" class="file" type="file" />
	  {{errors.resource}}
	</li>
      </ul>
      <ul id="content_extra">
	<li>
	  <dl>
            {% if upload.stub %}
	       {% plus_tag 'Tags' 'tag' upload user %}
            {% endif %}
	  </dl>
	</li>
	<li>
	  <dl>
	    <dt>
	      <label for="author">{% trans "Copyright / Author" %}</label>
	    </dt>
	    <dd>
	      <span class="error"><input  id="author" name="author" class="text" type="text" value='{{data.author}}'/></span>
	      {% if errors.author %}<span class="error">{{errors.author}}</span>{% endif %}
	    </dd>
	    <dt>
	      <label for="license">{% trans "License" %} <span class="extra">('©2009', 'GPL')</span></label>
	    </dt>
	    <dd>
	      <input name="license" id="license" class="text" type="text" value="{% if data.license %}{{data.license}}{% else %}{{upload.license}}{% endif %}" />
	      {% if errors.license %}<span class="error">{{errors.license}}<span>{% endif %}
	    </dd>
	  </dl>
	</li>
      </ul>
      {% if upload.stub %}     
	 <input class="button" id="edit_submit"  type="submit" value="Create"/>
	 or <a href="{% url plus_groups:deletestub_Resource upload.in_agent.obj.id upload.name  %}">Go back</a>
      {% else %}
	 <input class="button" id="edit_submit"  type="submit" value="Save"/>
	 or  <a href="{% url plus_groups:view_Resource upload.in_agent.obj.id upload.name  %}">Cancel</a>
      {% endif %}
   </div>
{% endblock %}



{% block side_bar %}
   {% if upload.stub %}
   {% else %}
     {% include "plus_wiki/sidebar.html" %}
   {% endif %}
{% endblock %}
