# Ignore emacs backups
*~
# Ignore compiled python
*.pyc

# This user-specific settings
local_settings.py

# Probably will be removed but for the moment, we don't want all the avatars going into the repo
site_media/avatars
site_media/member_resources
site_media/member_res

# PSN data
mhpss_export
