[submodule "site_media_src/js/yui3"]
	path = site_media_src/js/yui3
	url = git://github.com/yui/yui3.git
[submodule "site_media_src/yui2"]
	path = site_media_src/js/yui2
	url = git://github.com/yui/yui2.git
