
<div class='external_links'>
  <ul class="list_of_links">
    {% for l in links %}
    <dl><dt>{{l.text}}:</dt><dd><a href="{{l.url}}">{{l.url}}</a> 
	<a class="delete_link" href="">X</a>
    </dd></dl>
    {% endfor %}
  </ul>

  <form target="{% url add_link %}" class="link_form">
    <input name="target_class" class="target_class" value="{{target_class_name}}" type="hidden" />
    <input name="target_id" class="target_id" value="{{target_id}}" type="hidden" />

    <ul>
      <li>
	<label for="text">Caption:</label>
	<input name="text" id="text" class="link_text" value="{{text}}" />
      </li>
      <li>
	<label for="url">Address:</label>
	<input name="url" id="url" class="url url" />
      </li>
    </ul>
    <input type="submit" value='add' class='submit_link' />
  </form>

  <input type="button" value="+" class="show_link_form"/>
  
</div>
