{% load i18n %}


{% block body %}
<div class="block copy">
    {% blocktrans %}

	<h3>Our Mission Statement</h3>
	<p>MHPSS Network aspires to improve mental health and
	psychosocial well being in emergencies and situations of
	adversity by improving access to people, resources and
	knowledge.</p>

	<h3>Our Purpose</h3>
	<ul>
	<li>Enable dialogue and collaboration amongst people and diverse
	communities of practice</li>
	<li>Share state of the art practice and resources</li>
	<li>Facilitate peer support</li>
	</ul>


	<h3>Our Guiding Principles</h3>
	<ul>
	<li>Flexible and evolutionary</li>
	<li>Clear remit and structure</li>
	<li>Pluralistic and inclusive</li>
	<li>Local context at the centre</li>
	<li>International agents as support</li>
	<li>Light in terms of structure and process</li>
	<li>Sustainable in terms of structure and finance</li>
	<li>Realistic goals</li>
	</ul>


	<h3>Our Main Functions</h3>
	<ol>
	<li>To provide an accessible platform where documents can be posted,
	accessed and reviewed</li>
	<li>To act as a gateway to existing resources and networks</li>
	<li>To facilitate the development of thematic and geographical
	communities of practice</li>
	<li>To enable connections between people, knowledge and resources</li>
	<li>To provide on-line workspaces/forums</li>
	<li>To inform users of new content that reflects their interests</li>
	</ol>


	<h3>Our Face-to-face community</h3>

	<p>The website is only one of the tools towards building a MHPSS
	community. The aim of the face-to-face community is to
	leverage and un-tap new resources by creating linkages between
	people. Networkers will have a proven record as ‘connectors’ in
	their own sphere (geographic or professional) and will be
	supported by the Network to enrich and extend this role.</p>


	<h3>The Stewarding Group</h3>

	<p>The stewarding group, a maximum of eight individuals, was
	constituted based on institutional and personal purpose as well
	as in the interest of representing a diversity of geographical
	regions, professional competences and personal skills.</p>

	<ul>
	<li><em>Alison Strang</em>, Queen Margret University</li>
	<li><em>Brighton Gwezera</em>, REPSSI</li>
	<li><em>Ananda Galappatti</em>, The Good Practice Group</li>
	<li><em>Lene Christensen</em>, IFRC</li>
	<li><em>Sabine Rakotomalala</em>, Terre des hommes-Child Relief (Lausanne) </li>
	<li><em>Jonathan Robinson</em>, The Hub</li>
	</ul>

	<h3>Support to The Network</h3>


        <p>The MHPSS Network is fortunate to have received financial and in-kind contributions from UNICEF (New York Headquarters), UNHCR (Geneva Headquarters), WHO (Geneva Headquarters), IFRC (Secretariat in Geneva & Psychosocial Support Centre in Copenhagen), Terre des hommes-Child Relief (Laussane), REPSSI (Secretariat, Johannesburg), Lloyds TSB Foundation for Scotland (Edinburgh), The Good Practice Group (Colombo) and individual practitioners based in both high-income and developing countries.  </p>

<p>To make a contribution to the network, please get in touch with Alison Strang (<a href="mailto:astrang@qmu.ac.uk">astrang@qmu.ac.uk</a>).</p>


	{% endblocktrans %}

</div>
{% endblock %}

