{% load threadedcommentstags %}
{% load i18n %}


<div id="comments" class="page_content">
  
    {% get_threaded_comment_tree for page as tree %}
    {% for comment in tree %}
    <div class='one_comment'>
        <div style="margin-left: {{ comment.depth }}em;" class="comment">
            <a href="{% url profile_detail comment.user.username%}">{{ comment.user.get_display_name }}</a> said:<br/>
            {% auto_transform_markup comment %}
        </div>
<a id="c{{comment.id }}" href="javascript:show_reply_form('c{{ comment.id }}','{% get_comment_url page comment %}','{{ comment.name }}')">Reply</a>

    </div>
    {% endfor %}

    {% if can_comment %}
    <h3>Comment on page</h3>
	<div class="thumb small">
		<img src="{{SITE_MEDIA}}images/member.jpg"/>
	</div>
    <form method="POST" action="{% get_comment_url page %}">
        <ul>
	  <li>
	    <!--label for="id_name">Name: {{request.user.get_display_name}}</label-->
	    <input id="id_name" type="hidden" name="name" value="{{request.user.username}}"/>
	  </li>
	  <li>
	    <!--label for="id_email">E-mail address: {{request.user.email_address}}</label-->
	    <input id="id_email" type="hidden" name="email" value="{{request.user.email_address}}"/>
	  </li>
	  <li>
	    <textarea id="id_comment" name="comment" cols="40" rows="10"></textarea>
	  </li>

	  <li><input class="button" type="submit" value="Post comment" /></li>
        </ul>
    </form>
    {% else %}
        {% trans "You don't have permission to comment here" %} 
    {% endif %}

</div>
