{% extends "page_editor.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load app_plugins %}
{% load plus_tags %}


{% block edit_header %}
	<a id="parent" href="{% url plus_groups:group page.in_agent.obj.id %}">{{page.in_agent.obj.display_name}}</a>
	<input id="page_title" name="title" class="text" type="text" value="{% if data.title %}{{data.title}}{% else %}{{page.title}}{% endif %}" />
	{% if errors.title %}<div class="error_message">{{errors.title}}</div>{% endif %}
{% endblock %}

{% block body %}      
<div id="main_title" class="block wiki_edit">      

	<ul class="icon_text_button_set">
		{% if permissions %}<li><a class="icon_text_button bt_permissions" href="#" rel="#overlay" id="{{page.edit_key}}permissionedit">{% trans "Permissions" %}</a></li>{% endif %}
	</ul>

	{% if preview_content %}
	<div id="preview_content">
		{% autoescape off %}{{preview_content}}{% endautoescape %}
	</div>
	{% endif %}

	<fieldset>

		<div id="content" class="yui-skin-sam">
			<textarea name="content" rows="30">{% if data.content %}{{data.content}}{% else %}{{page.content}}{% endif %}</textarea>
			{% if errors.content %}<span class="error">{{errors.content}}</span>{% endif %}
		</div>

	</fieldset>

	<fieldset>

		<ul id="content_extra">

			<li>
				{% if page.stub %}
				{% plus_tag 'Tags' 'tag' page user %}
				{% endif %}
			</li>
			<li>
			  <div class="label">
			    <label for="copyright">Copyright Holder</label>
			  </div>
			  <div class="value">
			    <input name="copyright_holder" id="copyright_holder" class="text" type="text" value="{% if data.copyright_holder %}{{data.copyright_holder}}{% else %}{{page.copyright_holder}}{% endif %}" />
			    {% if errors.copyright_holder%}<span class="error">{{errors.license}}</span>{% endif %}
			  </div>
			</li>
			<li>
			  <div class="label">
			    <label for="license">License <span class="extra">('©2009', 'GPL')</span></label>
			  </div>
			  <div class="value">
			    <input name="license" id="license" class="text" type="text" value="{% if data.license %}{{data.license}}{% else %}{{page.license}}{% endif %}" />
			    {% if errors.license %}<span class="error">{{errors.license}}</span>{% endif %}
			  </div>
			</li>
			
			{% if page.stub %}
			{% else %}
			<li class="changes_set">	
				<div class="label">
					<label for="what_changed">What's changed? <span class="extra">describe what you've just changed</span></label>
				</div>
				<div class="value">
					<textarea id="what_changed" name="what_changed" class="text">{{data.what_changed}}</textarea>
					{% if errors.what_changed %}<span class="error">{{errors.what_changed}}</span>{% endif %}
				</div>
			</li>
			{% endif %}

		</ul>

	</fieldset>

    <fieldset class="buttons">

		{% if page.stub %}
		<input class="submit button" id="preview" name="preview"  type="submit" value="Preview"/>      
		<input class="button" id="edit_submit"  type="submit" value="Create"/>
		or <a href="{% url plus_groups:deletestub_WikiPage page.in_agent.obj.id page.name  %}">Go back</a>
		{% else %}
		<input class="submit button" id="preview" name="preview" type="submit" value="Preview"/>
		<input class="button" id="edit_submit"  type="submit" value="Save"/>
		or <a href="{% url plus_groups:view_WikiPage page.in_agent.obj.id page.name  %}">Cancel</a>
		{% endif %}

    </fieldset>

    {% if page.stub %}{% else %}
    <fieldset class="buttons">
      <h3>{% trans "Move this page to a new group" %}</h3>
      <ul id="move_resource">
        <li>
          <label for="move_to">{% trans "Move to group" %}</label>
          <input class="autocomplete_uploadable_groups" id="move_to" name="move_to" type="select" value=""/>
          <input type="hidden" name="new_parent_group" value="" id="new_parent_group"/>
        </li>
      </ul>
      <ul>
        <li>
          <input class="button" id="move_resource_submit" name="move_resource_submit" type="submit" value="Move"/>
        </li>
      </ul>
    </fieldset>
    {% endif %}
    
    
    {% if page.stub %}{% else %}
    <fieldset class="buttons">
      <h3>{% trans "Alternatively, you may delete this page" %}.</h3>
      <ul id="delete_buttons">
        <li>
          <label for="delete_check">{% trans "Check this box to confirm that you want to delete this page." %}</label>
          <input id="delete_check" name="delete_check" type="checkbox" value=""/>
        </li>
      </ul>
      <ul>
        <li class="delete_hide">
          <input class="button" id="delete_submit" name="delete_submit" type="submit" value="Delete"/>
        </li>
      </ul>
    </fieldset>
    {% endif %}
    
</div>
{% endblock %}
   
 {% block side_bar %}
    {% if page.stub %}
    {% else %}
       {% include "plus_wiki/sidebar.html" %}
    {% endif %}
 {% endblock %}
