<dt>{{label}}</dt>
<dd class="tag_manager" id="{{tag_type}}">
  <ul class="tag_list">
    {% for t in tags %}
    <li><a href="/plus_tags/tag/{{t.keyword}}/" class="tag option">{{t.keyword}}</a>
        <a class="delete_tag" href="/plus_tags/{{tagged_class}}/{{tagged_id}}/delete/">X</a></li>
        <!-- should have a permission delete tag item on the tagged_for agent -->
    {% endfor %}                   
  </ul>
  <span class="error_message"></span>
  <!-- This should only show if has permission add tags on the tagged_for agent -->
  <div class="add_tag_form" id="{% url add_generic_tag %}" > 
    <input name="tagged_class" class="tagged_class" value="{{tagged_class}}" type="hidden" />
    <input name="tagged_id" class="tagged_id" value="{{tagged_id}}" type="hidden" />
    <input name="tag_type" type="hidden" class="tag_type text" value="{{tag_type}}" />
    <input name="tag_value" class="tag_value text" id="{% url autocomplete_typed_tag tag_type %}" />
    <input class="button add_tag" type="submit" value="Add" />
  </div> 

</dd>
