{% extends "site_base.html" %}

{% load i18n %}
{% load avatar_tags %}

{% load uni_form %}

{% block body %}


{% if not user.is_authenticated %}
<p>Thank you for applying to join {{PROJECT_NAME}}. Members of {{PROJECT_NAME}} are chosen by our hosts who will assess your application and get back to you.</p>
{% else %}
{% if application_to %}
<p>Your application to join {{application_to}} has been sent to one of the hosts.</p>
{% else %}
<p>You joined something .. anyway </p>
{% endif %}
{% endif %}



{% endblock %}
