{% extends "site_base.html" %}

{% load i18n %}
{% load avatar_tags %}

{% load uni_form %}

{% block head_title %}{% trans "Site Applications" %}{% endblock %}
{% block page_title %}{% trans "Site Applications" %}{% endblock %}

{% block body %}

<div class="block">

<table class="list_of_applications">
  
<tr>
	<th class="name">Name & Email</th>
	<th class="message">Message</th>
	<th class="found">{% trans "Found"%}</th>
	<th class="date">Date</th>
	<th class="group">Group</th>
	<th class="action">Action</th>
</tr>
{% for app in applications %}
<tr>
  <td>
  	{%if app.applicant.last_name %}{{app.applicant.first_name}} {{app.applicant.last_name}}{% else %}{{app.applicant.first_name}}{% endif %}
	<span class="extra">{{app.applicant.email_address}}</span>
  </td>
  <td>{{app.request}}</td>
  <td>{{app.applicant.find_out}}
  <td>{{app.date}}</td>
  <td>{{app.group}}</td>
  <td>
    <form class="authorize" method="POST" action="/contacts/accept_application/{{app.id}}/">
      <input type="submit" class="button" value="accept"/>
      or <a href="#">Decline</a>
    </form>
  </td>

</tr>
{% endfor %}
</table>

</div>

{% endblock %}