{% extends "site_base.html" %}

{% load i18n %}
{% load avatar_tags %}

{% load uni_form %}

{% block page_title %}{% blocktrans %}Applications to: {{title}}{% endblocktrans %}{% endblock %}

{% block body %}

<div class="block">

<table class="list_of_applications">
  
<tr>
	<th class='name'>{% trans 'Name' %}</th>
	<th class='message'>{% trans 'Message' %}</th>
	<th class='date'>{% trans 'Date' %}</th>
	<th class='action'>{% trans 'Action' %}</th>
</tr>
{% for app in applications %}
<tr>
  <td>
  	{%if app.applicant.last_name %}{{app.applicant.first_name}} {{app.applicant.last_name}}{% else %}{{app.applicant.first_name}}{% endif %}
	<span class="extra">{{app.applicant.email_address}}</span>
  </td>
  <td>
    <p>{{app.request}}</p>
    <dl>
      <dt class="applicant_found">{% trans 'Found via' %}</dt><dd>{{app.applicant.find_out}}</dd>
      {% if app.group %}
      <dt class="applicant_group">{% trans 'Joining' %}</dt><dd>{{app.group.get_display_name}}</dd>
      {% endif %}
    </dl>      
  </td>
  <td>{{app.date}}</td>
  <td>
    <form class="authorize" method="POST" action="{% url plus_groups:accept_application app.group.id app.id %}">
      <input type="submit" class="button" value="{% trans 'accept' %}"/>
    </form>
    {% if reject %}
    <form class="authorize" method="POST" action="{% url plus_groups:site_reject app.group.id app.id %}">
      <input type="submit" class="button" value="{% trans 'Decline' %}"/>
    </form>
    {% endif %}
  </td>

</tr>
{% endfor %}
</table>

</div>

{% endblock %}
