{% extends "site_base.html" %}

{% load i18n %}
{% load avatar_tags %}

{% load uni_form_tags %}

{% block page_title %}
{% trans "Invite " %}{% if SITE_NAME %}{% trans "to " %}{{ SITE_NAME }}{% endif %}
{% endblock %}


{% block body %}

<div class="block">
	<!--<h2>Your key for signing up</h2>-->
	<!--This is an approval, click on this key : <a href='{{url}}'>{{url}}</a> to create your account.-->
	<p>Your invitation has been sent.</p>	
	<a href="{% url messages_all %}">Back to messages</a>
</div>


{% endblock %}
