<ul id="highlights" class="blocks">

	<li class="first">
		<h3>Featured Member</h3>
		<a href="/members/catharina.short/">
			<div class="image"><img src="/site_media/avatars/catharina.short/resized/180/avatars/catharina.short/catharina.short" alt="Catharina Short"></div>
			<h4>Catharina Short</h4>
			<p>Stockholm Member</p>
		</a>
	</li>

	<li>
		<h3>Feature</h3>
		<a href="/explore/">
			<div class="image"><img alt="Wikipages" src="/site_media/images/resource.jpg"/></div>
			<h4>Upload Documents And Create Wiki Pages</h4>
			<p>Hub+ lets you upload documents and create wiki-pages about any subject you think may interest the network.</p>
		</a>
	</li>

	<li class="last">
		<h3>Interest Group</h3>
		<a href="/groups/151/">
			<div class="image"><img alt="Green Tech." src="/site_media/avatars/green_technologies/resized/180/avatars/green_technologies/Turbine_aalborg.jpg"/></div>
			<h4>Green Technologies</h4>
			<p>A group focused specifically around those interested in technologies for a sustainable future.</p>
		</a>
	</li>

</ul>

<div class="block">

<p>Please be aware that this site is still under development and you may find some glitches. We are working hard to iron these out. If you find a problem, please <a href="mailto:world.tech.plus@the-hub.net">mail us</a>.</p>

</div>
