/* Layout: Footer */

#footer {
	border-top	: 1px solid #cccccc;
	position	: relative;
}

#footer p {
	padding		: 10px 0 30px;
}

#footer #extra_navigation {
	list-style	: none;
	overflow	: hidden;
	position	: absolute;
	right		: 0;
	top			: 10px;
}

#footer #extra_navigation li {
	float		: left;
	margin-left	: 15px;
}

#footer #extra_navigation li a {
	color		: #000;
}