{% extends listing_args.template_base %}
{% load i18n %}
{% load plus_url %}
{% load listings %}

{% block body %}
{% if create_group %}
<a class="button" href="{% url plus_groups:create_group %}">{% blocktrans %}Create New {{obj_type}}{% endblocktrans %}</a>
{% endif %}

{% if listing_args.tag_string %}
   {% if listing_args.group_id %}
      <form method="GET" action="{% plus_url listing_args.tagged_url listing_args.group_id listing_args.tag_string %}" class="order_list">
   {% else %}
      <form method="GET" action="{% plus_url listing_args.tagged_url listing_args.tag_string %}" class="order_list">
   {% endif %}
{% else %}
   {% if listing_args.group_id %}
      <form method="GET" action="{% plus_url listing_args.search_url listing_args.group_id %}" class="order_list">
   {% else %}
      <form method="GET" action="{% plus_url listing_args.search_url %}" class="order_list">
   {% endif %}
{% endif %}

{% tag_and_search listing_args search.tag_intersection %}
{% if search.All %}
{% if listing_args.multitabbed %}
<div id="section_tab_navigation" class="tabbed section yui-navset">
  <ul class="tabbed_navigation yui-nav">
    <li class="selected"><a href="#results_all"><span>{% trans "All" %}<span class="count">({{search.items_len}})</span></span></a></li>
    {% for name, label, typ_items, items_len in search.search_types %}
    {% if items_len %}
    <li><a href="#results_{{name}}s">{{label}}<span class="count">({{items_len}})</span></a></li>
    {% endif %}
    {% endfor %}
  </ul>
  <ul class="display_options">
    <li class="sort"> 
      <label>{% trans "Sort by" %}:</label>
      <select size="1" name="order">
	{% if listing_args.search_terms %}
	<option value="relevance" {% ifequal listing_args.order "relevance" %}selected="selected"{% endifequal %}>{% trans "Relevance" %}</option>
	{% endif %}
	<option value="modified" {% ifequal listing_args.order "modified" %}selected="selected"{% endifequal %}>{% trans "Most recent" %}</option>
	<!--<option value="view">Most popular</option>-->
	<!--<option value="view">Highest rated</option>-->
	<option value="display_name" {% ifequal listing_args.order "display_name" %}selected="selected"{% endifequal %}>{% trans "A-Z" %}</option>
      </select>
    </li>
  </ul>
  <div class="tabbed_content yui-content">
    <div id="results_all" class="page_content" >
      {% listing search.All "All" listing_args.order listing_args.search_terms listing_args %}
    </div>
    {% for name, label, typ_items, item_len in search.search_types %}
    {% if item_len %}
    <div id="results_{{name}}" class="page_content" >
      {% listing typ_items label listing_args.order listing_args.search_terms listing_args %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
  
</div>
{% else %}
<ul class="display_options">
    <li class="sort"> 
      <label>{% trans "Sort by" %}:</label>
      <select size="1" name="order">
	{% if listing_args.search_terms %}
	<option value="relevance" {% ifequal listing_args.order "relevance" %}selected="selected"{% endifequal %}>{% trans "Relevance" %}</option>
	{% endif %}
	<option value="modified" {% ifequal listing_args.order "modified" %}selected="selected"{% endifequal %}>{% trans "Most recent" %}</option>
	<!--<option value="view">Most popular</option>-->
	<!--<option value="view">Highest rated</option>-->
	<option value="display_name" {% ifequal listing_args.order "display_name" %}selected="selected"{% endifequal %}>{% trans "A-Z" %}</option>
      </select>
    </li>
  </ul>
<div id="results_all" class="page_content" >
  {% listing search.All "All" listing_args.order listing_args.search_terms listing_args %}
</div>
{% endif %}
{% else %}
<p>{% blocktrans %}No results were found.{% endblocktrans %}</p>
{% endif %}
</form>
{% endblock %}
{% block side_bar %}
{% side_search search_args %}
{% include "add.html" %}
{% endblock %}
