{% load i18n %}

<h2>{% trans "Add new" %}</h2>
<div id="add_form" class="block">

	<form class="full_block" method="POST" action="{% url plus_groups:add_content_object %}">

		<h4>{% trans "Create new content" %}</h4>
		<p>{% blocktrans %}Here you can add new pages and files, simply give it a title and choose which group or {{HUB_NAME}} to put it.{% endblocktrans %}</p>

		<fieldset>

		  <ul>

		    <li>
		      <div class="label">
			<label for="title"><abbr class="required" title="required">* </abbr>{% trans "Title" %}</label>
		      </div>
		      <div class="value">
			<input name="title" id="title" class="text" type="text" value="{{form.data.title}}" maxlength="60"/>
			{% if form.errors.title %}<p class="error">{{form.errors.title|safe}}<p>{% endif %}
			  <p>
			    {% trans "Titles must be 60 characters or less." %}
			    {% trans "Click" %} <a href="{% url help %}#adding_resources" target="help">here</a> {% trans "for more help." %}
			  </p>
		      </div>
		    </li>
		    
		  </ul>
		  
		</fieldset>
		<fieldset>
		  
		  <ul>
		    
		    <li>
		      <div class="label">
			<label><abbr class="required" title="required">* </abbr>{% trans "Add this to" %}</label>
		      </div>
		      <div class="value">
			<ul class="checkboxes">
			  <li {% if can_add %}{% else %}class="hidden"{% endif %}>
			    <div class="label_extended">
			      <label><span id="group_display_name">{{group.display_name}}</span><a id="change_group" href="#">  – {% trans "Change group/Hub" %}</a></label>
			      <input name="group" value="{{group.id}}" id="group_input" type="hidden" />
			    </div> 
			  </li>
			  <li id="auto_change_group" {% if can_add %}class="hidden"{% endif %}>
			    <div class="label_extended">
			      <input id="autocomplete_group"  class="text" type="text" />
			      <p class="note">{% blocktrans %}Choose a group or {{HUB_NAME}}.{% endblocktrans %} <a href="{% url help %}#adding_resources">{% trans "More info..." %}</a></p>
			    </div>
			  </li>
			</ul>
		      </div>
		    </li>
		    
		  </ul>
		  
		</fieldset>
		<fieldset {% if can_add %}{% else %}class="hidden"{% endif %}>
		  
		  <ul>
		    
		    <li>
		      <div class="label">
			<label><abbr class="required" title="required">* </abbr>{% trans "Type of content" %}</label>
		      </div>
		      <div class="value checkboxes">
			<ul id="choose_type">
			  {% for create_interface, label, sub_title, active in possible_interfaces %}
			  <li id="{{create_interface}}" {% if active %}{% else %}class="cannot_add" disabled="disabled"{% endif %}>
			    <div class="label">
			      <label for="{{label}}">{{label}}</label>
			      <p class="note">{{sub_title}}</p>
			    </div>
			    <input  id="{{label}}" name="create_iface" class="radio" value="{{create_interface}}" type="radio" {% if form.data.create_iface %}{% ifequal form.data.create_iface create_interface %}checked="checked"{% endifequal %}{% else %}{% if forloop.first %}checked="checked"{% endif %}{% endif %} />
			  </li>
			  {% endfor %}
			</ul>
		      </div>
		    </li>
		    
		  </ul>
		  
		</fieldset>
		
		<fieldset class="buttons">
		  
		  <input id="create_content" {% if can_add %}{% else %}disabled="disabled"{% endif %} class="{% if can_add %}{% else %}disabled {% endif %}submit button" type="Submit" value="{% trans 'Create' %}" />
		  
		</fieldset>
		
	</form>

</div>
