{% load threadedcommentstags %}
{% load i18n %}
{% load avatar_tags %}

<div id="comments" class="page_content">

    {% get_threaded_comment_tree for group as tree %}
	{% if tree %}<ul class="content_list">{% endif %}
    {% for comment in tree %}
    <li class='one_comment'>
        <div style="margin-left: {{ comment.depth }}em;" class="comment">
			<div class="thumb small">{% avatar comment.user 40 %}</div>
            <a href="{% url profile_detail comment.user.username%}">{{ comment.user.get_display_name }}</a> said:<br/>
            {% auto_transform_markup comment %}
        </div>	
	{% if can_comment %}<a id="c{{comment.id }}" href="javascript:show_reply_form('c{{ comment.id }}','{% get_comment_url group comment %}','{{ comment.name }}')">Reply</a>{% endif %}
    </li>
    {% endfor %}
	{% if tree %}</ul>{% endif %}

    {% if can_comment %}
    <h3>New comment</h3>
	<div class="thumb small">{% avatar user 40 %}</div>
    <form method="POST" action="{% get_comment_url group %}">
        <ul>
	  <li>
	    <label for="id_name">{{request.user.get_display_name}}</label>
	    <input id="id_name" type="hidden" name="name" value="{{request.user.username}}"/>
	    <input id="id_email" type="hidden" name="email" value="{{request.user.email_address}}"/>
	  </li>
	  <li>
	    <textarea id="id_comment" name="comment" cols="40" rows="6"></textarea>
	  </li>
	  <li><input type="submit" class="button" value="Comment" /></li>
        </ul>
    </form>
    {% else %}
        {% if request.user.is_authenticated %}
		You do not have permissions to comment on this group.
    	{% else %}
		<p class="extra">You must be logged in to comment on {{SITE_NAME}}. Group Hosts may set who can comment. <!--a href="{% url acct_login %}">{% trans "Log in" %}</a--></p>
    	{% endif %}
    {% endif %}

</div>
