{% load threadedcommentstags %}

<script type="text/javascript">
function show_reply_form(comment_id, url, person_name) {
    var comment_reply = jq('#' + comment_id);
    {% get_free_threaded_comment_form as form %}

    var to_add = jq( new Array(
    '<div class="response"><p>Reply to ' + person_name + ':</p>',
    '<form method="POST" action="' + url + '">',
    '<ul>',  '{{ form.as_ul|oneline }}',
    '<li><input type="submit" value="Submit Comment" /></li>',
    '</ul>', '</form>', '</div>').join(''));
    console.log(to_add);
    to_add.css("display", "none");
    comment_reply.after(to_add);
    to_add.slideDown(function() {
        comment_reply.replaceWith(new Array('<a id="',
        comment_id,'" href="javascript:hide_reply_form(\'',
        comment_id, '\',\'', url, '\',\'', person_name,
        '\')">Stop Replying</a>').join(''));
    });
}
function hide_reply_form(comment_id, url, person_name) {
    var comment_reply = jq('#' + comment_id);
    comment_reply.next().slideUp(function (){
        comment_reply.next('.response').remove();
        comment_reply.replaceWith(new Array('<a id="',
        comment_id,'" href="javascript:show_reply_form(\'',
        comment_id, '\',\'', url, '\',\'', person_name,
        '\')">Reply</a>').join(''));
    });
}
</script>


<div id="comments" class="page_content">

    <h3>Comments on This Group:</h3>
    {% get_free_threaded_comment_tree for group as tree %}
    {% for comment in tree %}
        <div style="margin-left: {{ comment.depth }}em;" class="comment">
            <a href="{{ comment.website }}">{{ comment.name }}</a> said:<br/>
            {% auto_transform_markup comment %}
        </div>
<a id="c{{ comment.id }}" href="javascript:show_reply_form('c{{ comment.id }}','{% get_free_comment_url group comment %}','{{ comment.name }}')">Reply</a>
    {% endfor %}
    <p>Reply to Original:</p>
    <form method="POST" action="{% get_free_comment_url group %}">
        <ul>
            {% get_free_threaded_comment_form as form %}
            {{ form.as_ul }}
            <li><input type="submit" value="Submit Comment" /></li>
        </ul>
    </form>


</div>
