{% extends "site_base.html" %}

{% load i18n %}
{% load avatar_tags %}

{% load uni_form_tags %}

{% block head_title %}{% trans "Create New" %} {{name_of_created}}{% endblock %}
{% block page_title %}{% trans "Create New" %} {{name_of_created}}{% endblock %}

{% block body %}

<div class="block">

  <h4>About your {{name_of_created}}</h4>
  <p class="note">Please enter your details below to create a new {{name_of_created}}.</p>

  <form class="full_block" method="POST" action="{% url plus_groups:create_group %}">

    {% if is_hub %}
    <input type='hidden' name='is_hub' value='True'/>
    <input type="hidden" name="group_type" value="Internal"/>
    {% else %}
    <input type='hidden' name='is_hub' value='False'/>   
    {% endif %}

    <fieldset>

      <ul>

        <li>
          <div class="label">
            <label for="name"><span class="required">*</span> {% trans "Name" %}</label>
          </div>
          <div class="value">
            <input  id="name" name="name" class="text" type="text" value="{{form.data.name}}" />
            {{form.name.errors}}
	    <p>{% trans "Titles must be 60 characters or less." %}</p>
          </div>
        </li>

        {% if is_hub %}
        {% else %}
        <li>
          <div class="label">
            <label for="group_type"><span class="required">*</span> {% trans "Type" %}</label>
          </div>
          <div class="value">
            <select id="group_type" name="group_type">
              <option value="interest">Interest group</option>
              <option value="organisation">Organisation</option>
              <option value="project">Project</option>
              <option value="internal">Internal</option>
            </select>
            {{form.group_type.errors}}
          </div>
        </li>
        {% endif %}

        <li>
          <div class="label">
            <label for="descripton"><span class="required">*</span> Description</label>
          </div>
          <div class="value">
            <textarea id="description" name="description" rows="5">{{form.data.description}}</textarea>
            {{form.description.errors}}	
          </div>
        </li>

        {% if is_hub %}
        <li>
          <div class="label">
            <label for="location">Location</label>
            <p class="note">postcode, country</p>
          </div>
          <div class="value">
            <input  id="location" class="text" name="location" type="text" />
            {{form.location.errors}}
          </div>
        </li>
        {% endif %}

        <li class="disabled">
          <div class="label">
            <label for="about"><span class="required">*</span> What is the group about?</label>
          </div>
          <div class="value">
            <span style="color:red">(Use existing tag functionality here)</span>
          </div>
        </li>

        <li class="disabled">
          <div class="label">
            <label for="skills">What are the group's skills?</label>
          </div>
          <div class="value">
            <span style="color:red">(Use existing tag functionality here)</span>
          </div>
        </li>

        <li class="disabled">
          <div class="label">
            <label for="needs">What are the group's needs?</label>
          </div>
          <div class="value">
            <span style="color:red">(Use existing tag functionality here)</span>
          </div>
        </li>

      </ul>

    </fieldset>
    <fieldset>

      <ul>
      
        <li>
          <div class="label">
            {{form.permissions_set.errors}}
            <label><span class="required">*</span> <span class="label_permissions">Permissions</span></label>
            <p class="note">{% blocktrans %}These settings can be customised once your {{name_of_created}} has been created{% endblocktrans %}</p>
          </div>
          <div class="value checkboxes">
            <ul>
              <li>
                <input  id="public" name="permissions_set" class="radio" type="radio" value="public" checked="checked" />
                <div class="label">
                  <label for="public">Public</label>
                   <p class="note">Visible to the world<br />Site members can join</p>
                </div>
              </li>
              <li>
                <input  id="open" name="permissions_set" class="radio" type="radio" value="open"/>
                <div class="label">
                  <label for="open">{{SITE_NAME_SHORT}} Open</label>
                  <p class="note">Visible to site members<br />Site members can join</p>
                </div>
              </li>
              <li>
                <input  id="invite" name="permissions_set" class="radio" type="radio" value="invite"/>
                <div class="label">
                  <label for="invite">{{SITE_NAME_SHORT}} Invite only</label>
                  <p class="note">Visible to site members<br /> Invited or approved members can join</p>
                </div>
              </li>
              <li>
                <input  id="private" name="permissions_set" class="radio" type="radio" value="private"/>
                <div class="label">
                  <label for="private">Private</label>
                  <p class="note">Visible to group members only<br /> Invited or approved members can join</p>
                </div>
              </li>
            </ul>
          </div>
        </li>

      </ul>
  
    </fieldset>


  
  <!--
  <fieldset>
    <h4>Links</h4>
      <ul class="disabled custom_labels">
        
        <li>
    <div class="label_extended">
      <input  id="link_title" class="text" type="text" value="Website" />
    </div>
    <div class="value_extended">
      <input  id="link_url" class="text" type="text" value="www.mysite.com" />
      <button class="button add_link">X</button>
    </div>
        </li>
        <li>
    <div class="label_extended">
      <input  id="link_title" class="text" type="text" />
    </div>
    <div class="value_extended">
      <input  id="link_url" class="text" type="text" />
      <button class="button add_link">Add</button>
    </div>
        </li>
        <li>
    <div class="label_extended">
      <label for="link_title"><span class="extra">Title ('Website', 'Flickr')</span></label>
    </div>
    <div class="value_extended">
      <label for="link_url"><span class="extra">Website ('www.mysite.com')</span></label>
    </div>
        </li>
      </ul>
      <h4>Contact</h4>
      <ul class="disabled custom_labels">
        <li>
    <div class="label_extended">
      <input  id="link_title" class="text" type="text" />
    </div>
    <div class="value_extended">
      <input  id="link_url" class="text" type="text" />
      <button class="button add_link">Add</button>
    </div>
        </li>
        <li>
    <div class="label_extended">
      <label for="link_title"><span class="extra">Title ('Phone', 'Skype')</span></label>
    </div>
    <div class="value_extended">
      <label for="link_url"><span class="extra">Username/Group ('Meme2009')</span></label>
          </div>
        </li>
      </ul>
      <h4>Email</h4>
      <ul class="disabled custom_labels">
        <li>
    <div class="label_extended">
      <input  id="link_title" class="text" type="text" />
    </div>
    <div class="value_extended">
      <input  id="link_url" class="text" type="text" />
      <button class="button add_link">Add</button>
    </div>
        </li>
        <li>
    <div class="label_extended">
      <label for="link_title"><span class="extra">Title ('Email')</span></label>
    </div>
    <div class="value_extended">
      <label for="link_url"><span class="extra">Email address ('me@domain.com')</span></label>
    </div>
        </li>
      </ul>
      
    </fieldset>-->

    <fieldset class="buttons">

      <input class="submit button" type="Submit" value="{% trans 'Create' %}" /> or <a href="{% url plus_groups:groups %}">Go back</a>

    </fieldset>

  </form>

</div>

{{form.error}}

{% endblock %}
