{% extends "plus_lib/listing.html" %}

{% load i18n %}
{% load group_tags %}
{% block create_button %}
{% if create %}
<a class="button" href="{% url create_group%}">{% blocktrans %}Create New {{head_title}}{% endblocktrans %}</a>
{% endif %}
{% endblock %}

{% block list_data %}
    {% for group in objects %}
       <li {% if forloop.first %}class="first"{% endif %} {% if forloop.last %}class="last"{% endif %}> 
         {% show_group request group %}
       </li>
    {% endfor %}
{% endblock %}



		
