{% extends "site_base.html" %}

{% load i18n %}
{% load avatar_tags %}

{% load uni_form %}
{% load plus_tags %}
{% load plus_links %}
{% load editable_attribute %}
{% load threadedcommentstags %}

{% block body_id %}{% trans "group" %}{% endblock %}

{% block body %}

<div id="group_intro" class="block">
  <div id="info" class="block_column">
    {% if permissions %}
    <ul class="icon_text_button_set">
      <li><a href="#overlay" class="icon_text_button bt_permissions" rel="#overlay" id="{{group.edit_key}}permissionedit">Permissions</a></li>
    </ul>
    {% endif %}
    <h3>{% trans "About" %}</h3>

    <ul>
      <li>
	{% editable "Type" group 'group_type' 'Type of Group' %}
      </li>
      <li class="yui-skin-sam">
	{% autoescape off %}
	{% editable "Description" group 'description' 'Description of the group' %}
	{% endautoescape %}
      </li>  

      <li>
	{% editable "Address" group 'address' 'Address' %}
      </li>
    </ul>
    
    <h3>{% trans "Links" %}</h3>
    {% plus_links target_class target_id %}
    
    
    <h3>Skills and Needs</h3>
    <ul>
      <li>
	<dl>
	  {% if can_tag %}
    	      {% plus_tag 'Skills' 'skills'  group user %}
	  {% else %}
	      {% view_plus_tag 'Skills' 'skills' group user %}
	  {% endif %}
	</dl>
      </li>
    </ul>

    <ul>
      <li>
	<dl>
	  {% if can_tag %}
	      {% plus_tag 'Needs' 'needs'  group  user %}
	  {% else %}
	      {% view_plus_tag 'Needs' 'needs' group user %}
          {% endif %}
	</dl>
      </li>
    </ul>
    
    <h3>{% trans "Members" %}</h3>
    <ul>
      <li><dl><dt>{% trans "Members" %}:</dt><dd>
	    <ul id="members_list">
	      {% for member in members %}
	      <li><a href="{% url profile_detail member.username %}" class="thumb small" title="{% if member.display_name %}{{member.display_name}}{% else %}{{member.username}}{%endif%}">
				{% avatar member 40 %}
			</a>
	      </li>
	      {% endfor %}
	    </ul>
	    <a href="#" class='disabled'>Show all ({{member_count}})</a>
      </dd></dl>
      </li>
    <li>
      <dl>
	<dt>{% trans "Group Hosts" %}:</dt>
	<dd>
	  {% for host in hosts %}
	  <a href="{% url profile_detail host.username %}" class="thumb small" title=" {% if host.display_name %}{{host.display_name}}{% else %}{{host.username}}{% endif %}">
		{% avatar host 40 %}
	  </a>
	  {% endfor %}
	  <br /><a href="#" class='disabled'>Show all ({{host_count}})</a>
	</dd>
      </dl>
    </li>
    </ul>
  </div>

  <div id="extra" class="block_column">
    <div id="page_image" class="image group">
      <img id="group_image" src="/site_media/images/group.jpg" />
    </div>
    <ul id="actions" class="link_list">
      {% if message %}
      <li class="first"><a href="{% url plus_groups:message_members group.id %}">Message members</a></li>
      {% endif %}
      {% if invite %}
      <li><a href="{% url plus_groups:invite_to_group group.id %}">Invite members</a></li>
      {% endif %}
      {% if can_join %}
      <li><a href="{% url plus_groups:join_group group.id %}">Join Group</a></li>
      {% endif %}
      {% if apply %}
      <li><a href="{% url plus_groups:apply_group group.id %}/">Apply to Group</a></li>
      {% endif %}
      {% if leave %}
      <li><a href="{% url plus_groups:leave_group group.id %}">Leave Group</a></li>
      {% endif %}
      <li class="disabled last"><a href="#">Follow group ?</a></li>
    </ul>
  </div>
</div>
<!--div id="section_tab_navigation" class="section"-->
{% include "plus_groups/tabbed_subs.html" %}
<!--/div-->  


{% endblock %}


{% block side_bar %}
<div id="feature_search" class="site_block">
  <h3>Search</h3>
  <form>
    <input name="search_term" type="text" class="text" /> <input type="submit" value="Search" class="button" /><br />
    <input name="current_area" type="checkbox" checked="checked" /> Groups only<br />
    <!--<input name="search_limit" type="radio" checked="checked" /> Groups only <input name="search_limit" type="radio" /> Hub+<br />-->
  </form>
</div>

<div id="feature_explore" class="site_block">
  <h3>Explore Groups</h3>
  <ol class="tag_list">
    <li><a href="#" class="tag pop7">activism</a></li>
    <li><a href="#" class="tag pop8">architecture</a></li>
    <li><a href="#" class="tag pop6">better</a></li>
    <li><a href="#" class="tag pop3">big</a></li>
    <li><a href="#" class="tag pop5">climatechange</a></li>
    <li><a href="#" class="tag pop2">clothing</a></li>
    <li><a href="#" class="tag pop8">design</a></li>
    <li><a href="#" class="tag pop8">dip</a></li>
    <li><a href="#" class="tag pop7">developement</a></li>
    <li><a href="#" class="tag pop3">energy</a></li>
    
    <li><a href="#" class="tag pop6">environment</a></li> 
    <li><a href="#" class="tag pop8">fairtrade</a></li>
    <li><a href="#" class="tag pop1">gender</a></li>
    <li><a href="#" class="tag pop8">green</a></li>
    <li><a href="#" class="tag pop7">hub</a></li>
    <li><a href="#" class="tag pop4">innovation</a></li>
    <li><a href="#" class="tag pop2">living</a></li>
    <li><a href="#" class="tag pop6">product</a></li>
    <li><a href="#" class="tag pop8">reference</a></li> 
    <li><a href="#" class="tag pop5">salad</a></li>
    <li><a href="#" class="tag pop5">org</a></li>
    
    <li><a href="#" class="tag pop8">science</a></li>
    <li><a href="#" class="tag pop2">shopping</a></li>
    <li><a href="#" class="tag pop6">sustainability</a></li>
    <li><a href="#" class="tag pop1">web</a></li>
  </ol>
</div>

{% include "add.html" %}

{% include "my_hub.html" %}

{% endblock %}
