{% extends "plus_lib/listing.html" %}

{% load i18n %}
{% load group_tags %}
{% block create_button %}
{% if create %}
<a class="button" href="{% url plus_groups:create_group %}">{% blocktrans %}Create New {{obj_type}}{% endblocktrans %}</a>
{% endif %}
{% endblock %}

{% block list_data %}
    {% for group in objects %}
       <li {% if forloop.first %}class="first"{% endif %} {% if forloop.last %}class="last"{% endif %}> 
         {% show_group group %}
       </li>
    {% endfor %}
{% endblock %}
