{% extends "site_base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load app_plugins %}
{% load uni_form %}

{% block body %}

<div id="intro" class="block">
  
  <div id="info" class="block_column">
    <h3>{% trans "About" %}</h3>
    <ul>
      <li><dl><dt>{% trans "Type" %} :</dt>
	  <dd>{{extras.group_type}}</dd></dl>
      </li>
      <li><dl><dt>{% trans "Description" %} : </dt>
	  <dd>{{extras.about}}</dd></dl>
      </li>
      
      <li><dl><dt>{% trans "Hosts" %}:</dt>
	  <dd></dd></dl>
      </li>
    </ul>
    <h3>{% trans "Links" %}</h3>

    <ul class='disabled'>
      <li><dl><dt>Website:</dt><dd><a href="http://www.children-psychosocial-wellbeing.org">www.children-psychosocial-wellbeing.org</a></dd></dl></li>
      <li><dl><dt>Photos:</dt><dd><a href="#">www.flickr.com/cpsw</a></dd></dl></li>
      
    </ul>
    <h3>{% trans "Skills and needs" %}</h3>
    <ul>
      <li>
        <dl>
          <dt>Skills:</dt>
          <dd class="tag_manager" id="skills">
            <span class="tag_list">
              {% for s in skills %}
              <span><a href="/plus_tags/tag/{{s.keyword}}/" class="tag option">{{s.keyword}}</a>
		<a class="delete_tag" href="/plus_tags/TgGroup/{{group.pk}}/delete/">X</a>
	      </span>
              {% endfor %}
            </span>
            <span class="error_message"></span>
            <form method='post' class="add_tag_form" action='/plus_tags/add_tag/' >
              <input name="target_class" class="target_class" value="TgGroup" type="hidden" />
              <input name="target_id" class="target_id" value="{{group.pk}}" type="hidden" />
              <input name="tag_type" class="tag_type" value="skill" type="hidden" />
              <input name="tag_value" class="tag_value" />
              <input class="add_tag" type="submit" value="add a skill" />
            </form>
          </dd>
        </dl>
      </li>
      
      <li>
        <dl>
          <dt>Needs:</dt>
          <dd class="tag_manager" id="needs">
              <span class="tag_list">
                {% for s in needs %}
                <span><a href="/plus_tags/tag/{{s.keyword}}/" class="tag option">{{s.keyword}}</a>
		  <a class="delete_tag" href="/plus_tags/TgGroup/{{group.pk}}/delete/">X</a></span>
                {% endfor %}
              </span>
              <span class="error_message"></span>
             <form method='post' class="add_tag_form" action=''>
               <input name="target_class" class="target_class" value="TgGroup" type="hidden" />
               <input name="target_id" class="target_id" value="{{group.pk}}" type="hidden" />
               <input name="tag_type" class="tag_type" value="need" type="hidden" />
               <input name="tag_value" class="tag_value" />
               <input class="add_tag" type="submit" value="add a need" />
             </form>
          </dd>
        </dl>
      </li>



    </ul>

    <h3 class='disabled'>Members</h3>
    <ul>
      <li><dl><dt>Members:</dt><dd>
	    <ul id="members_list">
	    </ul>
	    <a href="#" class='disabled'>Show all (35)</a>
      </dd></dl></li>
      <li><dl><dt>Group hosts:</dt><dd><a href="#">Esther Mckenzie</a>, <a href="#">Matthew Mcgowan</a></dd></dl></li>
      
    </ul>
  </div>
  
  <div id="extra" class="block_column">
    <img id="group_image" src="image/group.jpg" />
    <ul id="actions" class="link_list">
      <li class="first"><a href="#">Message members</a></li>
      <li><a href="#">Invite members</a></li>
      
      <li><a href="#">Join Group</a></li>
      <li class="last"><a href="#">Follow group ?</a></li>
    </ul>
  </div>
  
</div>

{% endblock %}
