{% extends "site_base.html" %}

{% load i18n %}
{% load avatar_tags %}

{% load plus_tags %}
{% load plus_links %}
{% load editable_attribute %}
{% load threadedcommentstags %}
{% load listings %}
{% block body_id %}{% trans "group" %}{% endblock %}

{% block body %}

<div id="group_intro" class="block">
    <div id='messages'>
      {% if messages %}
      <ul>
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
      </ul>
      {% endif %}
    </div>

  <div id="info" class="block_column">
    
    {% if permissions %}
    <ul class="icon_text_button_set">
      <li><a href="#overlay" class="icon_text_button bt_permissions" rel="#overlay" id="{{group.edit_key}}permissionedit">{% trans "Permissions" %}</a></li>
    </ul>
    {% endif %}
    
    <h3>{% trans "About" %}</h3>
    
    <div id='ajax_select_list_url_TgGroup-{{group.id}}-group_type_widget' href='{% url groups:group_type_ajax %}'></div>
    
    <ul class="yui-skin-sam">
      {% if editable_group_type %}
          {% if group.should_show_group_type %}
              {% editable "Type" group 'group_type' 'Type of Group' %}
          {% endif %}
      {% else %}
      <!--
          <li>
	    <div class="label">{% trans "Type" %}</div>
            <div class="value">{{group.group_type}}</div>
	  </li>
	  -->
      {% endif %}
      
      {% if group.should_show_description %}
      {% autoescape off %}
      {% editable "Description" group 'description' 'Description of the group' %}
      {% endautoescape %}
      
      {% endif %}
      
      {% if group.should_show_address %}
      {% editable "Address" group 'address' 'Address' %}
      {% endif %}
      
    </ul>
    
    <h3>{% trans "Links" %}</h3>
    {% plus_links target_class target_id %}
    
    <!--
    <h3>{   % trans "Skills and Needs" %}</h3>
    <ul>
      <li>
	<dl>
	  {  % if can_tag %}
	  {  % plus_tag 'Skills <span class="extra">What does the group specialise in? (eg. 'nutrition')</span>' 'skills'	group user %}
	  {  % else %}
	  {  % view_plus_tag 'Skills' 'skills' group '' %}
	  {  % endif %}
	</dl>
      </li>
    </ul>
    
    <ul>
      <li>
	<dl>
	  {  % if can_tag %}
	  {  % plus_tag 'Needs <span class="extra">What skills are the group looking for from other members? (eg. 'marketing')</span>' 'needs'	group	user %}
	  {  % else %}
	  {  % view_plus_tag 'Needs' 'needs' group '' %}
	  {  % endif %}
	</dl>
      </li>
    </ul>
    -->

  </div>
  
  <div id="extra" class="block_column">
    <div id="page_image" class="image group">
      {% avatar group 180 %}
      {% if can_change_avatar %}
      <a href="{% url group_avatar_change group.id%}" id="avatar_replace" class="bt_edit icon_button">(replace)</a>
      {% endif %}
      <!-- img id="group_image" src="/site_media/images/group.jpg" / -->
    </div>
    <ul id="actions" class="link_list">
      {% if message %}
      <li class="first"><a href="{% url plus_groups:message_members group.id %}">Message members</a></li>
      {% endif %}
      
      {% if invite %}
      <li><a href="{% url plus_groups:invite_to_group group.id %}">Invite members</a></li>
      {% endif %}
      
      {% if can_join %}
      <li><a href="{% url plus_groups:join_group group.id %}">Join {{GROUP_OR_HUB}}</a></li>
      {% endif %}
      {% if apply %}
      <li><a href="{% url plus_groups:apply_group group.id %}">Apply to {{GROUP_OR_HUB}}</a></li>
      {% endif %}
      {% if leave %}
      <li><a href="{% url plus_groups:leave_group group.id %}">Leave {{GROUP_OR_HUB}}</a></li>
      {% endif %}
      <li class="disabled last"><a href="#">Follow {{GROUP_OR_HUB}} ?</a></li>
    </ul>
  </div>

  

</div>
<!--div id="section_tab_navigation" class="section"-->
{% include "plus_groups/tabbed_subs.html" %}
<!--/div-->	

{% if can_delete %}

<hr/>
<a href="{% url plus_groups:delete_group group_id %}">Delete this group</a>
{% endif %}  

{% endblock %}


{% block side_bar %}
{% side_search side_search_args %}
<div id="feature_explore" class="site_block">
	<h3>{% blocktrans %}Explore {% endblocktrans %}{{side_search_args.search_type_label}}</h3>
	{% tag_cloud 25 '' search_types tagged_url %}
</div>

{% include "add.html" %}

{% include "my_hub.html" %}

{% if has_accept %}
<ul>
  <li><a href="{% url plus_groups:list_open_applications group.id %}">{% trans "View recent applicants" %}</a></li>
</ul>
{% endif %}

{% endblock %}
