{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form %}

{% block page_header %}
<a id="parent" href="{% url plus_groups:group group_id %}">{{group.display_name}}</a>
<h2 id="page_title">{% trans "Message Members" %}</h2>
{% endblock %}


{% block body %}

  <form class="full_block block" id="message_members_form" method="post" action="">
    <p>{% trans "Use this form to send a message to all members of"%} {{group.get_display_name}}. {% trans "Please be careful to ensure your message is likely to be relevant and interesting to this group." %}</p>
    <fieldset>
      <ul>
        <li>
          <div class="label">
            <label for="message_header"><span class="required">*</span> {% trans "Title" %}</label>
          </div>
          <div class="input">
            <input  id="message_header" name="message_header" class="text" type="text" />
            {{ form.message_header.errors }}
          </div>
        </li>
        <li>
          <div class="label">
            <label for="">{% trans "Message" %}</label>
          </div>
          <div class="input">
            <textarea id="message_body" name="message_body"></textarea>
            {{ form.message_body.errors}}
          </div>
        </li>
      </ul>
    </fieldset>

    <fieldset class="buttons">
      <input class="button" type="submit" value="{% trans 'Send' %}" />
      <span class="alternative">or <a href="{% url plus_groups:group group_id %}">{% trans "Go back" %}</a></span>
    </fieldset>

  </form>

{% endblock %}
