{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form %}

{% block body %}

  <form class="full uniForm" id="message_members_form" method="post" action="">

    <h4>{% trans "Message Members" %}</h4>
    <p>
      Use this form to send a message to all members of {{group.get_display_name}} Please be careful to ensure your message is likely to be relevant and interesting to this group.
    </p>
    <fieldset>
      <ul>
        <li>
          {{ form.message_header.errors }}
          <p><label for="message_header"><span class="required">*</span> {% trans "Message Header" %}</label>
            <input  id="message_header" name="message_header" class="text" type="text" />
          </p>
        </li>
        <li>
	  {{ form.message_body.errors}}
          <p>
            <label for="">{% trans "Add a special invite message to the user" %}</label>
          </p>
          <textarea id="message_body" name="message_body">
          </textarea>
        </li>

      </ul>
    </fieldset>
    <input class="submit button" type="submit" value="{% trans "Invite &raquo;" %}" />

  </form>

{% endblock %}
