<div id="resources" class="page_content">
<!--<a href="{% url add_content resource_id=group.id %}" class="add_content" rel="#overlay">Add Resource</a>-->

	<div class="sorting disabled">
	<label>Sort by:</label>
	<select name="state" size="1">
	<option value="latest">Most recent</option>
	<option value="view">Most views</option>
	<option value="az">A-Z</option>
	</select>
	<!--<label>Display:</label>
	<select name="state" size="1">
	<option value="all">All</option>
	<option value="pages">Pages</option>
	<option value="files">Files</option>
	</select>-->
	</div>

	<ul id="resources_list" class="content_list">

		{% for resource in resources %}
		<li>

			<div class="thumb tiny upload"> 
				<img src="/site_media/images/upload.gif" alt="Upload" />
			</div>
			<div class="info"> 
				<h4><a href="{{resource.download_url}}">{{resource.title}}</a></h4>
				{{resource.resource.name}} | {{resource.size}} | More info
				<div>
				{{resource.description|truncatewords:20}}
				</div>
			</div>
		</li>
		{% endfor %}

		{% for page in pages %}
		<li>
			<div class="thumb tiny page"> 
				<img class="page" src="/site_media/images/page.gif" alt="Page" />
			</div>
			<div class="info">
				<h4><a href="{% url view_WikiPage group.id page.name%}">{{page.title}}</a></h4>
				<div>
					{{page.content|truncatewords:20}}
				</div>
			</div>
		</li>
		{% endfor %}

	</ul>
	<a href="#">Show all (32)</a>

	<!-- XXX temporary until I can get Tom's add_content template to recognise that I'm adding resources -->
	<p><a href="{% url edit_Resource group.id %}">Upload File</a></p>
	<!-- XXX temporary ends -->


</div>
