{% load i18n %}
{% load listings %}
{% load togglable %}

<h3>{% trans "Alternatively" %}...</h3>

{% if resource.stub %}{% else %}


{% togglable "Move to new Group" %}
<fieldset class="buttons">
  <div>{% trans "Move this resource to a new group" %}</div>
  <ul id="move_resource">
    <li>
      <label for="move_to">{% trans "Move to group" %}</label>
      <input class="autocomplete_uploadable_groups" id="move_to" name="move_to" type="select" value=""/>
      <input type="hidden" name="new_parent_group" value="" id="new_parent_group"/>
    </li>
      </ul>
  <ul>
    <li>
      <input class="button" id="move_resource_submit" name="move_resource_submit" type="submit" value="Move"/>
	</li>
  </ul>
</fieldset>
{% endtogglable %}

{% if pages %}
{% togglable "Attach to a Page" %}
<fieldset class="buttons">
  <div>{% trans "Attach to another page in this group." %}.</div>
  <ul id="attach">
    <li>

      {  % listing pages 'THIS IS THE LABEL' 'ORDER' 'SEARCH TERMS' pages_listings_args %}

    </li>
    <li class="delete_hide">
      <input class="button" id="attach_submit" name="attach_submit" type="submit" value="Move"/>
    </li>
  </ul>
</fieldset>

{% endtogglable %}
{% endif %}

{% togglable "Delete this resource" %}
<fieldset class="buttons">
  <div>{% trans "Delete this resource" %}.</div>
  <ul id="delete_buttons">
    <li>
      <label for="delete_check">{% trans "Check this box to confirm that you want to delete this upload." %}</label>
      <input id="delete_check" name="delete_check" type="checkbox" value=""/>
    </li>
  </ul>
  <ul>
    <li class="delete_hide">
      <input class="button" id="delete_submit" name="delete_submit" type="submit" value="Delete"/>
	</li>
  </ul>
</fieldset>

{% endtogglable %}


{% endif %}

