  <div id="resources" class="page_content">
    <!--<a href="{% url add_content resource_id=group.id %}" class="add_content" rel="#overlay">Add Resource</a>-->

    <!-- XXX temporary until I can get Tom's add_content template to recognise that I'm adding resources -->
    <p>
      <a href="{% url upload_resource group.id %}">Upload File</a>
 
   </p>
    <!-- XXX temporary ends -->

    <div class="sorting">
      <label>Sort by:</label>
      <select name="state" size="1">
	<option value="latest">Most recent</option>
	<option value="view">Most views</option>
	<option value="az">A-Z</option>
      </select>
      <!--<label>Display:</label>
	  <select name="state" size="1">
	    <option value="all">All</option>
	    <option value="pages">Pages</option>
	    <option value="files">Files</option>
	  </select>-->
    </div>
    <div id="filters">
      Filter by tag:
      <input name="search_term" type="text" /> <input type="submit" value="Go" />
      <br /><br />
      Popular tags:
      <a href="#" class="tag option">food</a>
      <a href="#" class="tag option">salad</a>
      <a href="#" class="tag option">club</a>
      <a href="#" class="tag option">fresh</a>
      <a href="#" class="tag option">fun</a>
      <a href="group_tag_organic.html#section_tab_navigation" class="tag option">organic</a>
      <a href="#" class="tag option">share</a>
      <a href="#" class="tag option">hub_islington</a>
      <a href="#" class="tag option">vegan</a>
      <a href="#" class="tag option">suppliers</a>
      <a href="#" class="tag option">recipe</a>
      <a href="#" class="tag option">cooking</a>
      <a href="#" class="tag option">wednesdays</a>
      <a href="#" class="tag option">vegetarian</a>
      <a href="#" class="tag option">sharing</a>
      <a href="#" class="tag option">kitchen</a>
      <a href="#" class="tag option">weekly</a>
      <br />
    </div>
    <br />

    <ul id="resources_list" class="content_list">
      {% for resource in resources %}
      <li class="Xfirst">
	<img class="thumb" src="#" alt="Page" />
	<div class="preview"> 
	  <h3><a href="{{resource.download_url}}">{{resource.title}} ({{resource.download_url}})</a></h3>
	 <div>
	  {{resource.description|truncatewords:20}}
	  </div>
	</div>
      </li>
      {% endfor %}
    </ul>
    <a href="#">Show all (83)</a>
  </div>
