/*
PLUS: THEME
Hub World
*/


/* Layout */

body {
	background	: #fff url('../images/header_bg.gif') 0 0 repeat-x;
}


/* Elements */

h2,
#page_title,
.tabbed ul.tabbed_navigation li.selected a {
	color		: #5a0000;
}

a {
	color		: #540000;
}


/* Layout: Header */

#header h1 a {
	background	: url('../images/hub_plus_logo.gif') 0 0 no-repeat;
	height		: 90px;
	overflow	: hidden;
	padding-top	: 0;
	text-indent	: -2000px;
	width		: 123px;
}

#header #main_navigation li a {
	color		: #f7efef;
}


/* Icons */

a.bt_edit        { background-image: url('../images/icon_edit.gif');        }
a.bt_permissions { background-image: url('../images/icon_permissions.gif'); }
a.bt_rss         { background-image: url('../images/icon_rss.gif');         }
a.bt_pdf         { background-image: url('../images/icon_pdf.gif');         }


/* Tags */

.tag_list a.tag:hover {
	background	: #5a0000;
}
