{% load i18n %}

<div id="section_tab_navigation" class="tabbed section yui-navset">

  <ul class="tabbed_navigation yui-nav">
    <li class='selected'><a href="#global"><span>{% trans "Everyone" %}</span></a></li>
    <li><a href="#my_feed"><span>{% trans "News For Me"%}</span></a></li>
    <!--li><a href="#my_hub"><span>My HUB_NAME</span></a></li> -->

  </ul>

  <div class="tabbed_content yui-content">
	{% include "home/global.html" %}
	<!--{  % include "home/my_hub.html" %}-->
	{% include "home/my_feed.html" %}
  </div>

</div>
