

<div class="response">
  <p>Replying to {{target_user.name}}</p>
  
  <form method="POST" action="{{url}}">
    <ul>
      <input type="hidden" value="{{request.user.username}}" name="name" />
      <input type="hidden" value="{{request.user.email_address}}" name="email" />
      <input type="hidden" value="{{parent_id}}" name="parent_id" />
      <li> <textarea id="id_comment" name="comment" rows="10" class="comment_text"></textarea></li>
      <li><input type="submit" value="Submit Comment" /></li>
    </ul>
  </form>
</div>
