{% load avatar_tags %}

<div class="response">

  <div class="thumb small">{% avatar user 40 %}</div>

  <form method="POST" action="{{url}}">
    <ul>
      <input type="hidden" value="{{request.user.username}}" name="name" />
      <input type="hidden" value="{{request.user.email_address}}" name="email" />
      <input type="hidden" value="{{parent_id}}" name="parent_id" />
      <li> <textarea id="id_comment" name="comment" cols="40" rows="6" class="comment_text"></textarea></li>
      <li><input type="submit" class="button" value="Reply" /></li>
    </ul>
  </form>
</div>
