{% load i18n %}
{% load oembed_tags %}
{% load pagination_tags %}
{% load plus_url %}
{% load avatar_tags %}
{% load group_tags %}
{% load profile_tags %}
{% load feed_tags %}

{% autopaginate feed_items %}

{% if feed_items %}
  <ul id="feed" class="content_list">
    {% for item in feed_items %}
    
    <li>
      {% one_item item.id %}
    </li>
    
    {% endfor %}
  </ul>

{% else %}
  {% comment %}
  {% if are_mine %}
  {% url tweets_you_follow as tweets_url %}
<p>{% blocktrans %}You haven't posted any <a href="{{ tweets_url }}">status updates</a> yet.{% endblocktrans %}</p>
     {% else %}
        {% if IS_GROUP_TYPE %}
           <p>{% blocktrans %}There is no activity on this{% endblocktrans %} {{GROUP_OR_HUB}}</p>
        {% else %} 
           <p>{% blocktrans %}There are currently no status updates.{% endblocktrans %}</p>
	{% endif %}
   
     {% endif %}
   
  {% endif %}
  {% endcomment %}
{% endif %}


{% paginate %}




