/*
PLUS: THEME
Mental Health & Psychosocial Network
*/


/* Layout */

body {
	background	: #fff url('../images/header_bg.gif') 50% 0 repeat-x;
}


/* Elements */

h2,
#page_title,
.tabbed ul.tabbed_navigation li.selected a {
	color		: #0A446C;
}

a {
	color		: #0b439f;
}


/* Layout: Header */

#header h1 a {
	background	: url('../images/psychosocialnetwork_logo.gif') 0 22px no-repeat;
	height		: 66px;
	overflow	: hidden;
	padding-top	: 22px;
	text-indent	: -2000px;
	width		: 220px;
}

#header #main_navigation li a {
	color		: #e8eef3;
}


/* Icons */

a.bt_add         { background-image: url('../images/icon_add.gif');         }
a.bt_edit        { background-image: url('../images/icon_edit.gif');        }
a.bt_permissions { background-image: url('../images/icon_permissions.gif'); }
a.bt_rss         { background-image: url('../images/icon_rss.gif');         }
a.bt_pdf         { background-image: url('../images/icon_pdf.gif');         }


/* Tags */

.tag_list a.tag:hover {
	background	: #0A446C;
}
