{% load i18n %}
{% load intro_box %}

{% load editable_attribute %}
{% load microblogging_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% if SITE_NAME %}{{ SITE_NAME }}{% endif %}{% if head_title %} : {{head_title}}{% endif %}</title>
	<link rel="shortcut icon" href="{{MEDIA_URL}}/themes/{{PROJECT_THEME}}/favicon.ico" />

	<!-- STYLES -->
	<!--[if IE]><style>
		div { zoom: 1; } /* trigger hasLayout */
	</style><![endif]-->

	{% if DEVELOPMENT %}
	    {% for css_file_path in CSS_FILES %}
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/{{css_file_path}}" media="all" />
            {% endfor %}
	<!-- SCRIPT: YUI -->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/yui2/build/logger/assets/skins/sam/logger.css" />	
	{% else %}
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/hubplus_core{{CSS_VERSION_NO}}.css" media="all" />
	{% endif %}
	<!-- STYLES: THEME -->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}themes/{{PROJECT_THEME}}/css/theme.css" media="all" />

	{% if DEVELOPMENT %}
	<!-- <script type="text/javascript">
	YAHOO.widget.Logger.enableBrowserConsole()
	</script> -->
	<!-- SCRIPT: SITE -->
	<!-- <script type="text/javascript" src="{{ MEDIA_URL }}js/list-editor.js" charset="utf-8"></script> -->
	<!--<script type="text/javascript" src="{{ MEDIA_URL }}js/Jit/jit-yc.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jit.css">
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jit-example.js" charset="utf-8"></script>-->
   	   {% for js_file_path in JS_FILES %}
              <script src="{{ MEDIA_URL }}js/{{js_file_path}}" charset="utf-8"></script>
           {% endfor %}
	{% else %}
	   <script type="text/javascript" src="{{ MEDIA_URL }}js/hubplus_core{{JS_VERSION_NO}}.js"></script> 
	{% endif %}
	{% block extra_head_base %}
	{% block extra_head %}{% endblock %}
	{% endblock %}
</head>

<body>

	<iframe id="yui-history-iframe" src="/site_media/js/yui2/build/history/assets/blank.html"></iframe> 
	<input id="yui-history-field" type="hidden" /> 
	<div class="overlay" id="overlay"> 
		<div id="overlay_content"></div>
	</div><!-- overlayed element, which is styled with external stylesheet --> 

	<!-- wrapper -->
	<div id='wrapper'>

		<!-- header -->
		{% block header %}{% endblock %}
		<!-- end header -->

		<!-- main -->
		<div id='main'>
			{% block main %}

			<!-- site_wide_messages -->
			<div id='site_wide_messages'>
				{% if site_wide_announcements %}
				<div id="site_wide_announcements">
					<ul>
						{% for announcement in site_wide_announcements %}
						<li>
							<a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a> -
							<a href="{% url announcement_hide announcement.pk %}?next={{ request.path }}">{% trans "Hide announcement" %}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
			</div>
			<!-- end site_wide_messages -->

			<!-- page_header -->
			<div id="page_header">

			  {% block page_header %}
			  <h2 id="page_title">{% block page_title %}{{head_title}}{% endblock %}</h2>
                            {% if intro_box_override %}
                               {% intro_box %}
                            {% else %}
				<div id="page_status">
				  {% if status_type %}
				      {% autoescape off %}
				      {% ifequal status_type 'group' %}
				          {% microblogging_form group 'True' %}
				      {% endifequal %}

				      {% ifequal status_type 'profile' %}
				          {% microblogging_form other_user 'True' %}
				      {% endifequal %}
				      {% endautoescape %} 
				      
				  {% endif %}

				</div>
		            {% endif %}
			  {% endblock %}

			</div>
			<!-- end page_header -->
 
			<!-- body -->
			<div id='body'>
  			    {% block body %}{% endblock %}
			</div>
			<!-- end body -->

			<!-- side_bar -->
			<div id='side_bar'>
				{% block side_bar %}{% endblock %}
			</div>
			<!-- end side_bar -->

			{% endblock %}
		</div>
		<!-- end main -->
			
		<!-- footer -->
		<div id='footer'>
			{% block footer %} {% endblock %}
		</div>
		<!-- end footer -->

		{% block extra_body_base %}{% endblock %}


	</div>
	<!-- end wrapper -->



<!-- Google analytics -->

<script src='http://www.google-analytics.com/ga.js' type='text/javascript'></script>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {

var pageTracker = _gat._getTracker("UA-9039567-1");

pageTracker._trackPageview();
} catch(err) {}
</script>

<!-- Analytics Ends -->

</body>
<!-- DEBUG_STATUS=OK -->	
</html>
