{% load i18n %}
{% load intro_box %}

{% load editable_attribute %}
{% load microblogging_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% if SITE_NAME %}{{ SITE_NAME }}{% endif %}{% if head_title %} : {{head_title}}{% endif %}</title>
	<link rel="shortcut icon" href="{{MEDIA_URL}}/themes/{{PROJECT_THEME}}/favicon.ico" />

	<!-- STYLES -->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/site.css"            media="all" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/header.css"          media="all" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css"            media="all" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/serendipity.css"     media="all" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/footer.css"          media="all" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/forms.css"           media="all" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/tabview.css"         media="all" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/overlay.css"         media="all" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/permissions.css"     media="all" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/flickr.css"          media="all" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/list-edit-table.css" media="all" />
	<!--[if IE]><style>
		div { zoom: 1; } /* trigger hasLayout */
	</style><![endif]-->

	<!-- STYLES: THEME -->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}themes/{{PROJECT_THEME}}/css/theme.css" media="all" />

	<!-- SCRIPT: JQUERY -->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.autocomplete.css" media="screen"/>

	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jq.noconflict.js" charset="utf-8"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/ui.core.js" charset="utf-8"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/effects.core.js" charset="utf-8"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/effects.highlight.js" charset="utf-8"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.bgiframe.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.autocomplete.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/tools.overlay-1.0.4.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/json2.js" charset="utf-8"></script>
	
	<!-- SCRIPT: YUI -->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/yui2/build/editor/assets/skins/sam/editor.css" />
	<!-- <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/yui2/build/fonts/fonts-min.css" /> -->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/yui2/build/logger/assets/skins/sam/logger.css" />	
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/yui2/build/menu/assets/skins/sam/menu.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/yui2/build/button/assets/skins/sam/button.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/yui2/build/container/assets/skins/sam/container.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/yui2/build/autocomplete/assets/skins/sam/autocomplete.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/yui2/build/slider/assets/skins/sam/slider.css" />

	<script type="text/javascript" src="{{ MEDIA_URL }}js/yui2/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
	<script type="text/javascript" src="{{ MEDIA_URL }}js/yui2/build/element/element-min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/yui2/build/container/container_core-min.js"></script>
	<!--<script type="text/javascript" src="{{ MEDIA_URL }}js/yui2/build/container/container-min.js"></script>-->
	<script type="text/javascript" src="{{ MEDIA_URL }}js/yui2/build/menu/menu-min.js"></script> 
	<script type="text/javascript" src="{{ MEDIA_URL }}js/yui2/build/button/button-min.js"></script> 
	<script type="text/javascript" src="{{ MEDIA_URL }}js/yui2/build/editor/editor-min.js"></script> 
	<script type="text/javascript" src="{{ MEDIA_URL }}js/yui2/build/animation/animation-min.js"></script> 
	<script type="text/javascript" src="{{ MEDIA_URL }}js/yui2/build/logger/logger-min.js"></script> 
	<!-- <script type="text/javascript">
	YAHOO.widget.Logger.enableBrowserConsole()
	</script> -->
	<script type="text/javascript" src="{{ MEDIA_URL }}js/yui2/build/dragdrop/dragdrop-min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/yui2/build/selector/selector-min.js"></script> 
	<script type="text/javascript" src="{{ MEDIA_URL }}js/yui2/build/tabview/tabview-min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/yui2/build/history/history-min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/yui2/build/datasource/datasource-min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/yui2/build/connection/connection-min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/yui2/build/autocomplete/autocomplete-min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/editor.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/ui.accordion.js" charset="utf-8"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/json2.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.confirm.js" charset="utf-8"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.confirm-1.1.js" charset="utf-8"></script>

	<!-- SCRIPT: SITE -->
	<!-- <script type="text/javascript" src="{{ MEDIA_URL }}js/list-editor.js" charset="utf-8"></script> -->
	<script type="text/javascript" src="{{ MEDIA_URL }}js/hubcms.js" charset="utf-8"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/tab_hist.js" charset="utf-8"></script>
	<!--<script type="text/javascript" src="{{ MEDIA_URL }}js/Jit/jit-yc.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jit.css">
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jit-example.js" charset="utf-8"></script>-->
	<script type="text/javascript" src="{{ MEDIA_URL }}js/hubplus.js" ></script> 
	<script type="text/javascript" src="{{ MEDIA_URL }}js/yui2/build/slider/slider-min.js"></script>
	<!--<script type="text/javascript" src="{{ MEDIA_URL }}js/plus_libs/html.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/plus_libs/utils.js"></script> -->
	<script type="text/javascript" src="{{ MEDIA_URL }}js/plus_resources/replace_file.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/plus_permissions/views.js"></script> 	
	<script type="text/javascript" src="{{ MEDIA_URL }}js/pinax_libs/comments.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/plus_links/plus_links.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/listings.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/home.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/plus_microblogging/plus_microblogging.js"></script>

	<!-- SCRIPT: SITE READY (Put your "on load" functions that fire it all off in here) -->
	<script type="text/javascript" src="{{ MEDIA_URL }}js/ready.js"></script>
	{% block extra_head_base %}
	{% block extra_head %}{% endblock %}
	{% endblock %}
</head>

<body>

	<iframe id="yui-history-iframe" src="/site_media/js/yui2/build/history/assets/blank.html"></iframe> 
	<input id="yui-history-field" type="hidden" /> 
	<div class="overlay" id="overlay"> 
		<div id="overlay_content"></div>
	</div><!-- overlayed element, which is styled with external stylesheet --> 

	<!-- wrapper -->
	<div id='wrapper'>

		<!-- header -->
		{% block header %}{% endblock %}
		<!-- end header -->

		<!-- main -->
		<div id='main'>
			{% block main %}

			<!-- site_wide_messages -->
			<div id='site_wide_messages'>
				{% if site_wide_announcements %}
				<div id="site_wide_announcements">
					<ul>
						{% for announcement in site_wide_announcements %}
						<li>
							<a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a> -
							<a href="{% url announcement_hide announcement.pk %}?next={{ request.path }}">{% trans "Hide announcement" %}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
			</div>
			<!-- end site_wide_messages -->

			<!-- page_header -->
			<div id="page_header">

			  {% block page_header %}
			  <h2 id="page_title">{% block page_title %}{{head_title}}{% endblock %}</h2>
                            {% if intro_box_override %}
                               {% intro_box %}
                            {% else %}
				<div id="page_status">
				  {% if status_type %}
				      {% autoescape off %}
				      {% ifequal status_type 'group' %}
				          {% microblogging_form group 'True' %}
				      {% endifequal %}

				      {% ifequal status_type 'profile' %}
				          {% microblogging_form profile.user 'True' %}
				      {% endifequal %}
				      {% endautoescape %} 
				      
				  {% endif %}

				</div>
		            {% endif %}
			  {% endblock %}

			</div>
			<!-- end page_header -->
 
			<!-- body -->
			<div id='body'>
  			    {% block body %}{% endblock %}
			</div>
			<!-- end body -->

			<!-- side_bar -->
			<div id='side_bar'>
				{% block side_bar %}{% endblock %}
			</div>
			<!-- end side_bar -->

			{% endblock %}
		</div>
		<!-- end main -->
			
		<!-- footer -->
		<div id='footer'>
			{% block footer %} {% endblock %}
		</div>
		<!-- end footer -->

		{% block extra_body_base %}{% endblock %}


	</div>
	<!-- end wrapper -->

</body>
<!-- DEBUG_STATUS=OK -->	
</html>
