{% load openid_tags %}
{% load i18n %}
{% load plus_url %}

	<div id="header">

		<h1><a href="{% url home %}">{{ SITE_NAME }}</a></h1>

		{% block login %}

		<ul id="account_navigation" style="">
			{% if user.is_authenticated %}
				<li class="first"><span>{% openid_icon openid user %}{% trans "Welcome" %} <a href="{% url profile_detail user.username %}">{{user.get_display_name}}</a></span></li>
				<li><a href="{% url profile_detail user.username %}">{% trans "Profile" %}</a></li>
				<li><a href="{% url messages_all %}">{% trans "Inbox" %}</a></li>
				<li class="disabled"><a href="{% url acct_settings %}">{% trans "Settings" %}</a></li>
				<li class="last"><a href="/openid/logout/?next={% url acct_logout %}">{% trans "Logout" %}</a></li>
				{% else %} 
				<li class="first"><a href="{% url acct_apply %}">{% trans "Apply to join" %}</a></li>
				<li><span>{% trans "or" %}</span></li>
				<li class="last"><a href="{% url acct_login %}?next={{request.get_full_path}}">{% trans "Log in" %}</a></li>
			{% endif %}
		</ul>
		{% endblock %}

		<!--
		{% block locale_switcher %}
		<li>
			<form action="{% if request.user.is_authenticated %}{% url acct_language_change %}{% else %}/i18n/setlang/{% endif %}" 
			  method="post" id="locale_switcher">
				<select name="language" onchange="$("#locale_switcher").submit()">
					{% for lang in LANGUAGES %}
						<option value="{{ lang.0 }}"{% ifequal lang.0 LANGUAGE_CODE %} selected="selected"{% endifequal %}>{{ lang.1 }}</option>
					{% endfor %}
				</select>
			</form>
		</li>
		{% endblock %}
		-->

		<ul id="main_navigation">
			<li class="first{% ifequal CURRENT_AREA ''%} active{% endifequal %}"><a href="{% url home %}">{% trans "Home" %}</a></li>
			<li {% ifequal CURRENT_AREA 'explore' %}class="active"{% endifequal %}><a href="{% url explore %}">{% trans EXPLORE_NAME %}</a></li>
			<!--li><a href="{% url explore %}">Explore</a></li-->
			<li {% ifequal CURRENT_AREA 'members' %}class="active"{% endifequal %}><a href="{% url profile_list %}">{% trans "Members" %}</a></li>
			<li {% ifequal CURRENT_AREA 'groups' %}class="active"{% endifequal %}><a href="{% url groups:groups %}">{% trans "Groups" %}</a></li>
			<li class="last{% ifequal CURRENT_AREA 'hubs'%} active{% endifequal %}"><a href="{% plus_url HUB_APP_NAME %}">{{HUB_NAME_PLURAL}}</a></li>
		</ul>

	</div>

	<!--div id="subnav" class="clearfix">{% block subnav %}&nbsp;{% endblock %}</div-->
 
