{% load openid_tags %}
{% load i18n %}

	<div id="header">


		<h1><a href="index.html">{{ site_name }}</a></h1>
		<!--<div id='logo'>
		  {% block logo_link_image %}<a href="{% url home %}"><img src="{{ MEDIA_URL }}pinax/images/logo.png" alt="Pinax"/></a>{% endblock %}
		</div>-->

		{% block login %}
		<ul id='account_navigation'>
			{% if user.is_authenticated %}
				<li class='first'>{% openid_icon openid user %}{% trans "Welcome" %} {{ user }}</li>
				<li><a href='/profiles/{{user.username}}'>{% trans "Profile" %}</a></li>
				<li><a href='/messages/'>{% trans "Inbox" %}</a></li>
				<li><a href="{% url acct_email %}" class='disabled'>{% trans "Settings" %}</a></li>
				<!-- Do we have this notion of admin now? -->
				{% if user.is_staff %}
				<li><a href="/admin/">{% trans "Admin" %}</a></li>
				{% endif %}
				<li class="last"><a href="/openid/logout/?next={% url acct_logout %}">{% trans "Logout" %}</a></li>
				{% else %}
				<li><a href="{% url acct_apply %}">{% trans "Apply to join" %}</a></li>
				<li><span>{% trans "or" %}</span></li>
				<li class='last'><a href="{% url acct_login %}">{% trans "Login" %}</a></li>
			{% endif %}
		</ul>
		{% endblock %}

		<!-- 
		{% block locale_switcher %}
		<form action="{% if request.user.is_authenticated %}{% url acct_language_change %}{% else %}/i18n/setlang/{% endif %}" 
		  method="post" id="locale_switcher">
			<select name="language" onchange="$('#locale_switcher').submit()">
				{% for lang in LANGUAGES %}
					<option value="{{ lang.0 }}"{% ifequal lang.0 LANGUAGE_CODE %} selected="selected"{% endifequal %}>{{ lang.1 }}</option>
				{% endfor %}
			</select>
		</form>
		{% endblock %}
		-->

		<ul id='main_navigation'>
			<li class="first"><a href="{% url home %}">{% trans "Home" %}</a></li>
			<li class="disabled"><a href='#'>{% trans "Explore" %}</a></li>	
			<li><a href='/profiles/'>{% trans "Members" %}</a></li>
			<li><a href='{% url groups %}'>{% trans "Groups" %}</a></li>
			<li><a href='{% url hubs %}'>{{HUB_NAME}}</a></li>
			<li class="last disabled"><a href='#'>{% trans "Events" %}</a></li>
		</ul>

	</div>

	<!--div id="subnav" class="clearfix">{% block subnav %}&nbsp;{% endblock %}</div-->
 
