{% extends "site_base.html" %}

{% load i18n %}

{% load microblogging_tags %}


{% block head_title %}{% trans "Home" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}

<div id="status" class="block">

  <div id="status" class="block">
    <h3>What's up?</h3>

    <form method="POST" action="{% url tweets_you_follow %}">
        <p>{% trans "What are you doing?" %}</p>
        {{ form.as_p }}
        {% if twitter_authorized %}
        <h2>{% trans "You have authorized a twitter account." %}</h2>
        <input name="pub2twitter" type="checkbox" id="pub2twitter" value="yes" />
        <label for="pub2twitter">{% trans "Publish to Twitter?" %}</label>
        {% endif %}

        <p>
            <span id="chars_left"></span> {% trans "chars left." %}
            <input type="submit" value="{% trans "post" %}">
        </p>
    </form>

    <form action="">
      <input name="search_term" type="text" />
      <input type="submit" value="Share" />
    </form>
    
  </div>

  <div id="updates_feed" class="block">
    <h3>Activity</h3>
    <div id="feed_customise_link"><a href="#">Customise my feed</a></div>
    <ul id="feed_switch">
      <li class="first"><a href="#" class="active">My Feed</a></li>
      <li><a href="#">My Hub</a></li>
      <li class="last" ><a href="#">Global</a></li>
    </ul>
    <ul id="feed" class="content_list">
      {% tweet_listing tweets 1 0 %}
    </ul>
  </div>
  
  <ul>
    <li><a href="{% url list_open_applications %}">View recent applicants to the site</a></li>
    <li><a href="{% url notification_notices %}">Look at your notices</a></li>
    <li><a href="{% url site_invite %}">Invite someone to the site</a></li>
  </ul>

</div>


{% endblock %}
