{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Home" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}

<div id="status" class="block">
  <p>This is a place-holder page until we have something to put here.</p>
  <p>For now ...</p>
  <ul>

    <li><a href="{% url list_open_applications %}">View recent applicants to the site</a></li>
    <li><a href="{% url notification_notices %}">Look at your notices</a></li>
    <li><a href="{% url site_invite %}">Invite someone to the site</a></li>
  </ul>

</div>


{% endblock %}
