{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Home" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}

<div id="status" class="block">
  <h3>What's up?</h3>
  <form action="">
    <input name="search_term" type="text" />
    <input type="submit" value="Share" />
  </form>
</div>

<div id="updates_feed" class="block">
  <h3>Activity</h3>
  <div id="feed_customise_link"><a href="#">Customise my feed</a></div>
  <ul id="feed_switch">
    <li class="first"><a href="#" class="active">My Feed</a></li>
    <li><a href="#">My Hub</a></li>
    <li class="last" ><a href="#">Global</a></li>
  </ul>
  <ul id="feed" class="content_list">
    <li class="first"><div class="thumb tiny"><img src="../../site_media/images/member.jpg" /></div><a href="#">Holly Lambert (The Hub Islington Host)</a> is taking a giant step forward. <span class="label_time">7 minutes ago.</span></li>
    <li><div class="thumb tiny"><img src="../../site_media/images/member.jpg" /></div><a href="#">Massimo Galipo</a> is moving into into the non profit sector. <span class="label_time">2 minutes ago</span></li>
    <li><div class="thumb tiny"><img src="../../site_media/images/group.jpg" /></div><a href="#">The Hub Kings Cross</a> is having a bit of a spring clean.<span class="label_time">12 minutes ago.</span></li>
    <li><div class="thumb tiny"><img src="../../site_media/images/group.jpg" /></div><a href="#">Space Design</a> has 2 new members.</li>
    <li><div class="thumb tiny"><img src="../../site_media/images/member.jpg" /></div><a href="#">Collin Phillips</a> made a new post... <span class="label_time">7 minutes ago</span>
      <div class="preview">
	<h3><a href="#">5 Crucial Elements for Great Spaces</a></h3>
	<p>What can you do with an outdated fireplace? Rip it out, patch the walls with drywall, redesign the surround, the mantel and the hearth?</p>
      </div>
    </li>
    <li><div class="thumb tiny"><img src="../../site_media/images/member.jpg" /></div><a href="#">Nigel Allen</a> is now following Alex Smith.</li>
    <li><div class="thumb tiny"><img src="../../site_media/images/group.jpg" /></div><a href="#">Sexy salad club</a> has 5 new members.</li>
    <li><div class="thumb tiny"><img src="../../site_media/images/member.jpg" /></div><a href="#">Collin Phillips</a> is working from home today. <span class="label_time">7 minutes ago.</span></li>
    <li class="last"><div class="thumb tiny"><img src="../../site_media/images/member.jpg" /></div><a href="#">Alex Gibbs</a> is trying to switch career into the non profit sector. <span class="label_time">2 minutes ago</span></li>
  </ul>
  <a href="#">More updates</a>
</div>


{% endblock %}
