{% extends "site_base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load app_plugins %}
{% load uni_form %}

{% block body %}

<h2>{% trans "Permission Failure"%}</h2>


<p>You don't have permission to do that</p>
<p>You are {{user}}</p>
<p>The resource is {{resource}}</p>

<p>{{msg}}</p> 
{% if tags %}
This security context : {{security_context}} :
<table>
{% for t in tags %}
   <tr>
     <td>{{t.interface}}</td>
     <td>{{t.agents.all.obj}}</td>
   </tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
