{% extends "site_base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load app_plugins %}

{% block main %}

<!-- site_wide_messages -->
<div id="site_wide_messages">
  {% if site_wide_announcements %}
  <div id="site_wide_announcements">
    <ul>
      {% for announcement in site_wide_announcements %}
      <li>
	<a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a> -
	<a href="{% url announcement_hide announcement.pk %}?next={{ request.path }}">{% trans "Hide announcement" %}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>
<!-- end site_wide_messages -->
<form action="{{form_action}}" method="POST" id="page_edit_form" class="full_block" {{form_encoding}} >

<div id="page_header">
  {% block edit_header %}{% endblock %}
</div>

<!-- body -->
<div id="body" class="editing">
  {% block body %}{% endblock %}
</div>
<!-- end body -->
</form>

<!-- side_bar -->
<div id="side_bar">
  {% block side_bar %}{% endblock %}
</div>
<!-- end side_bar -->

{% endblock %}

