/* Layout: Footer */

#footer {
	background	: #EEE;
	padding		: 10px;
	position	: relative;
}

#footer p {
	padding		: 4px 3px;
}

#footer #extra_navigation {
	list-style	: none;
	padding		: 3px;
	position	: absolute;
	right		: 10px;
	top			: 10px;
}

#footer #extra_navigation li {
	float		: left;
	margin-left	: 15px;
}

#footer #extra_navigation li a {
	color		: #000;
}