/* Forms: Header Status */

#page_header #page_status {

}

#page_header #page_status dt {
	display		: none;
}

#page_header #page_status dd .text {
	width		: 612px;
}


/* Forms */

form p {
	color		: #888888;
}

form fieldset {
	border		: none;
}

form label span.required {
	color		: #5a0000;
	font-size	: 1.2em;
	line-height	: 0em;
}

form ul {
	list-style	: none;
	overflow	: hidden;
	padding-bottom	: 10px;
}

form ul ul {
	padding-bottom	: 0;
}

form ul li {
	overflow	: hidden;
	margin-bottom	: 3px;
}

form ul li.last {
	margin-bottom	: 0;
}

span.extra {
	font-size	: 0.9em;
	padding-bottom	: 3px;
}

label .extra {
	font-size	: 0.8181em;
}

dt .extra {
	padding-right	: 10px;
}

input.text,
textarea {
	background	: #fff url('../images/input_bg.gif') 0 0 repeat-x;
	border		: 1px solid #999;
	border-color: #777 #bbb #ddd #aaa;
	padding		: 3px 3px;
}

.large input.text,
input.text.large {
	font-size	: 1.3em;
	margin-bottom	: 5px;
	padding		: 1px 5px 2px;
}

form input.checkbox,
form input.radio {
	float		: left;
	margin		: 2px 5px 0 0;
}


/* Forms: Page */

form.page input#page_title {
	width		: 612px;
}

form.page {
	border		: 0;
}

form.page .label {
	float		: left;
	width		: 150px;
	margin-right: 10px;
}

form.page .input {
	float		: left;
	width		: 70%;
}

form.page .message_body textarea {
	width		: 612px;
}


/* Form Related Elements */

p.note {
	color		: #888888;
}

abbr {
    border		: 0;
}

abbr.required {
	color		: #5a0000;
	font-size	: 1.2em;
	line-height	: 0em;
}


/* Form: Full Size NEW */

form.full_block {
	padding-bottom	: 15px;
}

form.full_block fieldset {
	padding-bottom	: 15px;
}

form.full_block ul {
	padding		: 0;
}

form.full_block p.note {
	margin-bottom : -3px;
	padding		: 0;
}

form.full_block fieldset p {
	padding		: 0;
}

form.full_block .label p,
form.full_block .input p {
	font-size	: .9em;
	line-height	: 1.4em;
}

form.full_block .label {
	float		: left;
	text-align	: right;
	padding		: 0 10px 0 30px;
	width		: 200px;
}

form.full_block .label label {
	font-size	: 1.1em;
}

form.full_block .input {
	float		: left;
	width		: 208px;
}

form.full_block .input .text,
form.full_block .input textarea {
	width		: 208px;
	max-width   : 208px;
}

form.full_block .input select {
	width		: 100%;
}

form.full_block .input.checkboxes .label {
	float		: right;
	padding		: 0;
	text-align	: left;
	width		: 190px;
}

form.full_block .input .note {
	margin-bottom   : 0;
	padding-bottom	: 3px;
}

form.full_block input.checkbox,
form.full_block input.radio {
	float		: left;
	margin-right: 0;
}

form.full_block .buttons,
form.full_block .unlabelled {
	padding-left: 240px;
}

form.full_block .buttons .button {
	margin-bottom	: 3px;
}

form.full_block .buttons .alternative {
    color       : #888;
}

/* Forms: Page Editor */

form.full_block input#page_title {
	width		: 612px;
}

form.full_block #content {
	width		: 620px;
}


/* Forms: Tag Manageer */

form.full_block .input.tag_manager .text {
	width		: 130px;
}


/* Forms: Full Size */

form.full fieldset {
	padding		: 0 0 10px;
}

form.full label,
form.full .label_extended {
	display		: block;
	float		: left;
	font-size	: 1.1em;
	text-align	: right;
	padding		: 0 10px 0 30px;
	width		: 200px;
}

form.full .label_extended {
	padding-left: 0;
}

form.full .label_extended label {
	font-size	: 1em;
	padding-left: 0;
}

form.full .label_extended input.text {
	width		: 200px;
}

form.full input.text,
form.full textarea {
	width		: 250px;
}

form.full select {
	width		: 260px;
}

form.full input.submit,
form.full .input_extension {
	margin-left	: 240px;
}

form.full ul ul {
	float: left;
}

form.full ul ul li {
	width		: 260px;
}

form.full ul ul li label {
	padding-right	: .2em;
	text-align	: left;
}

form.full ul ul li label {
	font-size	: 1.1em;
	padding-left: 0;
	width		: auto;
}


/* Forms: Custom Labels */

form.full .custom_labels label {
	text-align	: left;
}

form.full .custom_labels label .extra {
	display		: inline;
}

form.full .custom_labels .input_extended label {
	padding-left: 0;
	width		: 248px
}

form.full .custom_labels .label_extended {
	padding-left: 30px;
}

form.full .custom_labels .label_extended input.text {
	width		: 190px;
}




/* Forms: Errors */

.error_message,
.errorlist,
.error_message_large {
	display		: block;
	color		: #a30000;
}

.error_message_large {
	background	: #eee;
	margin-bottom	: 15px;
	padding		: 10px 20px;
}

form.full ul.errorlist {
	margin-left	: 240px;
}


/* Forms: Checkbox/Radio Button Labelling */

form fieldset .checkboxes .label_extended {
	float		: left;
	padding-right	: 0;
	text-align	: left;
	width		: 240px;
}

form fieldset .checkboxes .label_extended label {
	text-align	: left;
	padding-right	: 0;
	width		: 240px;
}

form fieldset .checkboxes select {
	width		: 240px;
}


/* Form: Buttons */

.button {
	background	: #e8e8e8 url('../images/button_bg.gif') 0 0 repeat-x;
	border		: 1px solid #bbb;
	border-color: #bbb #999 #999 #bbb;
    color       : #222;
	cursor		: pointer;
	padding		: 3px 5px 3px;	
	text-transform	: uppercase;
}

.large .button,
.button.large {
	font-size	: 1.2em;
	margin-bottom	: 5px;
	padding		: 3px 5px 2px;
}

.button::-moz-focus-inner {
	border		: none;
	padding		: 0;
}

.button:hover {
	background	: #ccc;
	border-color: #aaa #999 #aaa #999;
}


/* Form: Permissions Label */

.permission_button {
	text-align	:right;
	margin-bottom	:1.5em;
	cursor		:pointer;
}

form .label_permissions {
	background	: url('../images/icon_permissions.gif') 100% 0 no-repeat;
	padding-right	: 17px;
}


/* Edit in Place */

.editable_set {
	border		: 1px solid transparent;
	border-width: 1px 0;
}

.editable_set dt,
.editable_set dd {
	padding		: 1px 0;
}

.editable_set:hover {
	border-color: #DDD;
}

.editable_set .bt_edit {
	display: none;
}

.icon_text_button_set {
	list-style	: none;
	float		: right;
	padding-bottom	: 10px;
}

.icon_text_button_set li {
	display		: inline;
	overflow	: hidden;
}

.icon_button,
.icon_text_button {
	background-repeat	: no-repeat;
	color		: #222;
	float		: left;
	font-size	: .9em;
	min-height	: 16px;
	margin		: 1px 0 0 15px;
	padding		: 0 0 0 20px;
	overflow	: hidden;
	text-transform	: uppercase;
}

.icon_button {
	float		: right;
	height		: 16px;
	margin-left	: 3px;
	padding		: 0;
	text-indent	: -2000px;
	width		: 16px;
}

.icon_button:hover,
.icon_text_button:hover {
	background-position	: 0 -100px;
}

.icon_text_button.bt_add {
	font-size	: 1.4em;
	margin		: 0;
	padding		: 0 0 0 22px;
	text-transform	: none;
}

.bt_add         { background-image: url('../images/icon_add.gif');         }
.bt_edit        { background-image: url('../images/icon_edit.gif');        }
.bt_permissions { background-image: url('../images/icon_permissions.gif'); }
.bt_rss         { background-image: url('../images/icon_rss.gif');         }
.bt_pdf         { background-image: url('../images/icon_pdf.gif');         }

.editing .icon_button {
	display		: block;
}



.tag_manager form,
.editable_set form {
	margin		: 3px 0;
}

.editable_set input.text {
	margin-bottom	: 3px;
	width		: 240px;
}

.editable_set .buttons .button {
	margin-right	: 3px;
}

#add_form input.disabled {
	display		: block !important;
}

#add_form input.disabled:hover {
	background	: #e8e8e8 url('../images/button_bg.gif') 0 0 repeat-x;
	border-color: #bbb #999 #999 #bbb;
	cursor		: default;
}

.external_links .button {
	margin-bottom	: 15px;
}

.yui-editor-container,
#search #current input {
	margin-bottom	: 3px;
}

.yui-editor-container {
	border		: 1px solid #bbb !important;
	border-color: #aaa #bbb #ddd #aaa !important;
}

.yui-editor-container .yui-toolbar-titlebar {
	height		: 20px !important;
}

.yui-editor-container .yui-toolbar-titlebar h2 {
	display		: none;
}

form.full_block .yui-editor-container fieldset {
	padding		: 0 !important;
}

.yui-editor-container .yui-toolbar-subcont {
	padding		: 3px 3px 0 !important;
}

.yui-editor-container .yui-toolbar-subcont h3 {
	display		: none;
}

.yui-editor-container .yui-toolbar-subcont ul {
	padding-bottom	: 0px !important;
}

.yui-editor-container .yui-toolbar-group {
	margin		: 0 3px 3px 0 !important;
}

.yui-editor-container .dompath {
	border-top	: 1px solid #ddd !important;
}

