/*
HUB PLUS 2009
*/



/* Main Generic */

#main h2 {
	padding-bottom	: 10px;
}

#main h3 {
	padding-bottom	: .5em;
}

#main p {
	padding-bottom	: 1.5em;
}

#main span.label_time {
	color		: #888;
}


/* Divided lists */

.content_list,
.link_list {
	border-bottom	: 1px solid #DDD;
	list-style	: none;
	overflow	: hidden;
}

.content_list li,
.link_list li {
	border-top	: 1px solid #DDD;
	padding		: 5px 0;
	overflow	: hidden;
}

.content_list li .thumb,
.link_list li .thumb {
	float		: left;
	margin-right: 10px;
	width		: 25px;
}

.content_list li .preview {
	margin-left	: 50px;
	padding		: 5px 0 0;
}

.content_list li .preview p {
	padding-bottom	: 0;
}


/* Page Tab Content */

.section_tab_navigation {
	font-size	: 1.4em;
	line-height	: 1.4em;
	list-style	: none;
	margin		: 0 0 -1px;
	overflow	: hidden;
}

.section_tab_navigation li {
	float		: left;
}

.section_tab_navigation li a {
	background	: #FFF;
	border		: 1px solid #000;
	color		: #000;
	display		: block;
	margin-right: -1px;
	padding		: 1px 10px;
}

.section_tab_navigation li a.active {
	background	: #666;
	color		: #FFF;
}

/* Block: Updates */

#updates_feed #feed_customise_link {
	float		: right;
}

#updates_feed #feed_switch {
	list-style	: none;
	padding-bottom	: .5em;
	overflow	: hidden;
}

#updates_feed #feed_switch li {
	float		: left;
}

#updates_feed #feed_switch li a {
	border		: 1px solid #000;
	color		: #000;
	display		: block;
	margin-right: 5px;
	padding		: 1px 5px;
}

#updates_feed #feed_switch li a.active {
	background	: #666;
	color		: #fff;
}


/* Blocks: Intro */

#intro {
	overflow	: hidden;
}

#intro #group_image {
	width		: 200px;
}

#intro #extra {
	float		: left;
	width		: 200px;
}

#intro #info {
	float		: left;
	margin-right: 10px;
	width		: 388px;
}

#intro dl {
	overflow	: hidden;
}

#intro dt {
	float		: left;
	width		: 30%;
}

#intro dd {
	float		: left;
	width		: 70%;
}

#intro #info ul {
	list-style	: none;
	padding-bottom	: 1em;
}

#intro #info ul li ul {
	list-style	: none;
	padding-bottom	: 0;
}


/* Tag Block */

#about {
	
}

#about dl {
	overflow	: hidden;
}

#about dt {
	float		: left;
	width		: 30%;
}

#about dd {
	float		: left;
	width		: 70%;
}

#about ul {
	list-style	: none;
	padding-bottom	: 1em;
}

#about ul li ul {
	list-style	: none;
	padding-bottom	: 0;
}


/* Block: Members */

#members_list {
	list-style	: none;
	overflow	: hidden;
}

#members_list li {
	float		: left;
	margin-right: 10px;
}

#members_list .member_thumb {
	width		: 35px;
}


/* Block: Resources */

#resources #filters {
	background	: #eee;
	overflow	: hidden;
	padding		: 10px;
}

#resources .sorting {
	width		: 100%;
	text-align	: right;
}

#resources .tags {
	overflow	: hidden;
}

a.tag {
	background	: #fff;
	border		: 1px solid #BBB;
	margin		: 0 0 5px 0;
	padding		: 1px 3px;
}

#resources a.active {
	background	: #666;
	color		: #fff;
}













/* Right Blocks: Members Online */

#feature_members_online ul {
	list-style	: none;
	overflow	: hidden;
}

#feature_members_online ul li {
	float		: left;
	margin-right: 10px;
}

#feature_members_online .member_thumb {
	width		: 35px;
}


/* Right Blocks: My Hub */

#feature_my_hub .hub_thumb {
	float		: left;
	margin-right: 10px;
	width		: 80px;
}

#feature_my_hub .links {
	clear		: both;
	list-style	: none;
	overflow	: hidden;
}

#feature_my_hub .links li {
	border-right: 1px solid #000;
	float		: left;
	margin-right: 5px;
	padding-right	: 5px;
}

#feature_my_hub .links li.last {
	border-right: 0;
	float		: left;
	margin-right: 0;
	padding-right	: 0;
}


