/*
HUB PLUS 2009
*/


/* Main Generic */

#main h2 {
	clear		: both;
	font-size	: 2.6em;
	font-weight	: normal;
	line-height	: 1.1em;
	margin-bottom	: 10px;
}

#main h3 {
	clear		: both;
	font-size	: 1.0em;
	padding-bottom	: .5em;
	text-transform	: uppercase;
}

#main p {
	padding-bottom	: 1.5em;
}

#main span.label_time {
	color		: #888;
}

#head_title {
	font-size	: 1.5em; 
}

.error_message {
	color		: #FF0000;
}

#permission_button {
	text-align	:right;
	margin-bottom	:1.5em;
}


/* Images & Thumbnails */

.image,
.thumb {
	border		: 1px solid #ddd;
	border-color: #ddd #ccc #bbb #ddd;
	display		: block;
}

.image {
	margin-bottom 	: 1.5em;
	padding		: 10px;
}

.thumb {
	float		: left;
	margin 		: 0 10px 10px 0;
}

.image.member img,
.image.group  img { width : 179px; }
.image.hub    img { width : 598px; }

.thumb.tiny       { padding : 2px; margin-bottom : 0; }
.thumb.small      { padding : 3px; }
.thumb.medium     {	padding : 4px; }

.thumb.tiny   img { width : 25px; }
.thumb.small  img { width : 35px; }
.thumb.medium img {	width : 80px; }


/* Divided lists */

.content_list,
.link_list {
	border-bottom	: 1px solid #ddd;
	list-style	: none;
	overflow	: hidden;
}

.content_list li,
.link_list li {
	border-top	: 1px solid #ddd;
	padding		: 5px 0;
	overflow	: hidden;
}

.content_list li .preview {
	margin-left	: 50px;
	padding		: 5px 0 0;
}

.content_list li .preview p {
	padding-bottom	: 0;
}


/* Page Tab Content */

.tabbed ul.tabbed_navigation {
	background	: #fff url('../images/tabbed_nav_bg.gif') 0 100% repeat-x;
	font-size	: 1.6em;
	line-height	: 1em;
	list-style	: none;
	margin		: 0 0 1em;
	overflow	: hidden;
	padding		: 0;
}

.tabbed ul.tabbed_navigation li {
	float		: left;
	margin		: 0 20px 0 0;
	padding		: 0;
}

.tabbed ul.tabbed_navigation li a {
	color		: #999;
	display		: block;
	margin		: 0;
	padding		: 0 0 12px;
}

.tabbed ul.tabbed_navigation li a:hover,
.tabbed ul.tabbed_navigation li.selected a {
	color		: #777;
	background	: url('../images/tabbed_nav_indicator.gif') 50% 100% no-repeat;
}

.tabbed ul.tabbed_navigation li.selected a {
	color		: #5a0000;	
}


/* Block: Updates */

#updates_feed #feed_customise_link {
	float		: right;
}

#updates_feed #feed_switch {
	list-style	: none;
	padding-bottom	: .5em;
	overflow	: hidden;
}

#updates_feed #feed_switch li {
	float		: left;
}

#updates_feed #feed_switch li a {
	border		: 1px solid #000;
	color		: #000;
	display		: block;
	margin-right: 5px;
	padding		: 1px 5px;
}

#updates_feed #feed_switch li a.active {
	background	: #666;
	color		: #fff;
}


/* Blocks: Intro */

#intro {
	overflow	: hidden;
}

#intro #group_image {
	width		: 200px;
}


#intro #extra {
	float		: left;
	width		: 200px;
}

#intro #info {
	float		: left;
	margin-left	: 10px;
	width		: 388px;
}

#intro dl {
	overflow	: hidden;
}

#intro dt {
	float		: left;
	width		: 30%;
}

#intro dd {
	float		: left;
	width		: 70%;
}

#intro #info ul {
	list-style	: none;
	padding-bottom	: 1em;
}

#intro #info ul li ul {
	list-style	: none;
	padding-bottom	: 0;
}


/* Block: About */

#about_block {
	
}

#about_block dl {
	overflow	: hidden;
}

#about_block dt {
	float		: left;
	width		: 30%;
}

#about_block dd {
	float		: left;
	width		: 70%;
}

#about_block ul {
	list-style	: none;
	padding-bottom	: 1em;
}

#about_block ul li ul {
	list-style	: none;
	padding-bottom	: 0;
}


/* Block: Members */

#members_list {
	list-style	: none;
	overflow	: hidden;
}

#members_list li {
	float		: left;
}


/* Block: Resources */

#resources #filters {
	background	: #eee;
	overflow	: hidden;
	padding		: 10px;
}

#resources .sorting {
	width		: 100%;
	text-align	: right;
}

#resources .tags {
	overflow	: hidden;
}

#resources a.active {
	background	: #666;
	color		: #fff;
}


/* Tags */

.tag_list {
	line-height	: 1em;
	list-style	: none;
	overflow	: hidden;
}

.tag_list li {
	float		: left;
	margin		: 0 3px 3px 0;
}

.tag_list a.tag,
.tag_list a.delete_tag {
	background	: #f5f5f5 url('../images/tag_bg.gif') 0 0 repeat-x;
	border		: 1px solid #bbb;
	border-color: #ddd #bbb #bbb #ddd;
	display		: block;
	float		: left;
	padding		: 3px 3px 4px;
}

.tag_list a.delete_tag {
	background	: #eee url('../images/button_bg.gif') 0 0 repeat-x;
	border-left	: 0;
	color		: #000;
	font-family	: verdana;
	text-align	: center;
	width		: 1.0em;
}

.tag_list a.tag:hover {
	background	: #5a0000;
	border-color: #500000 #300000 #300000 #500000;
	color		: #eee;
	filter		: alpha(opacity=100);
	opacity		: 1.0; 
}

.tag_list .pop8 { opacity: 1.0; filter: alpha(opacity=100); }
.tag_list .pop7 { opacity: 0.9; filter: alpha(opacity=90);  }
.tag_list .pop6 { opacity: 0.8; filter: alpha(opacity=80);  }
.tag_list .pop5 { opacity: 0.7; filter: alpha(opacity=70);  }
.tag_list .pop4 { opacity: 0.6; filter: alpha(opacity=60);  }
.tag_list .pop3 { opacity: 0.5; filter: alpha(opacity=50);  }
.tag_list .pop2 { opacity: 0.4; filter: alpha(opacity=40);  }
.tag_list .pop1 { opacity: 0.3; filter: alpha(opacity=30);  }

.tag_list a.delete_tag:hover {
	background	: #ccc;
	border-color: #aaa #999 #aaa #999;
}


/* Forms */

form h4 {
	clear		: both;
	font-weight	: normal;
	font-size	: 1.5em;
	padding-bottom	: 9px;
}

form p {
	color		: #888888;
}

form fieldset {
	border		: none;
}

form label span.required {
	color		: #5a0000;
	font-size	: 1.2em;
	line-height	: 0em;
}

input.text,
textarea {
	background	: #fff url('../images/input_bg.gif') 0 0 repeat-x;
	border		: 1px solid #999;
	border-color: #777 #bbb #ddd #aaa;
	padding		: 3px 3px;
}

form input.checkbox,
form input.radio {
	float		: left;
	margin		: 2px 5px 0 0;
}


/* Forms: Full Size */

form.full fieldset {
	padding		: 0 0 10px;
}

form.full ul {
	list-style	: none;
	overflow	: hidden;
	padding-bottom	: 10px;
}

form.full ul ul {
	padding-bottom	: 0;
}

form.full ul li {
	overflow	: hidden;
	padding-bottom	: 3px;
}

form.full label,
form.full .label_extended {
	display		: block;
	float		: left;
	font-size	: 1.1em;
	text-align	: right;
	padding		: 0 10px 0 30px;
	width		: 200px;
}

form.full .label_extended {
	padding-left: 0;
}

form.full .label_extended label {
	font-size	: 1em;
	padding-left: 0;
}

form.full .label_extended input.text {
	width		: 200px;
}

form.full label .extra {
	color		: #888888;
	font-size	: 0.8181em;
	display		: block;
}

form.full input.text,
form.full textarea {
	width		: 250px;
}

form.full select {
	width		: 260px;
}

form.full input.submit {
	margin-left	: 240px;
}

form.full ul ul {
	float: left;
}

form.full ul ul li {
	width		: 260px;
}

form.full ul ul li label {
	padding-right	: .2em;
	text-align	: left;
}

form.full ul ul li label {
	font-size	: 1.1em;
	padding-left: 0;
	width		: auto;
}


/* Forms: Custom Labels */

form.full .custom_labels label {
	text-align	: left;
}

form.full .custom_labels label .extra {
	display		: inline;
}

form.full .custom_labels .input_extended label {
	padding-left: 0;
	width		: 248px
}

form.full .custom_labels .label_extended {
	padding-left: 30px;
}

form.full .custom_labels .label_extended input.text {
	width		: 190px;
}


/* Forms: Checkbox/Radio Button Labelling */

form.full fieldset .checkboxes .label_extended {
	float		: left;
	padding-right	: 0;
	text-align	: left;
	width		: 240px;
}

form.full fieldset .checkboxes .label_extended label {
	text-align	: left;
	padding-right	: 0;
	width		: 240px;
}

form.full fieldset .checkboxes select {
	width		: 240px;
}


/* Form Buttons */

.button {
	background	: #e2e2e2 url('../images/button_bg.gif') 0 0 repeat-x;
	border		: 1px solid #bbb;
	border-color: #bbb #999 #999 #bbb;
	cursor		: pointer;
	padding		: 3px 5px 3px;	
	text-transform	: uppercase;
}

.button::-moz-focus-inner {
	border		: none;
	padding		: 0;
}

.button:hover {
	background	: #ccc;
	border-color: #aaa #999 #aaa #999;
}


/* Form: Permissions Label */

form .label_permissions {
	background	: url('../images/icon_permissions.gif') 100% 0 no-repeat;
	padding-right	: 17px;
}


/* Side Blocks: Members Online */

#feature_members_online ul {
	list-style	: none;
	overflow	: hidden;
}

#feature_members_online ul li {
	float		: left;
	margin-right: 10px;
}

#feature_members_online .member_thumb {
	width		: 35px;
}


/* Side Blocks: My Hub */

#feature_my_hub .hub_thumb {
	float		: left;
	margin-right: 10px;
}

#feature_my_hub .links {
	clear		: both;
	list-style	: none;
	overflow	: hidden;
}

#feature_my_hub .links li {
	border-right: 1px solid #000;
	float		: left;
	margin-right: 5px;
	padding-right	: 5px;
}

#feature_my_hub .links li.last {
	border-right: 0;
	float		: left;
	margin-right: 0;
	padding-right	: 0;
}

