/* Reset */

* {
	margin		: 0;
	padding		: 0;
}


/* Elements */

a {
	text-decoration	: none;
}

a img {
	border		: 0;
}

img {
	vertical-align	: bottom;
}


/* Layout */

body {
	background	: #fff url('../images/header_bg.gif') 0 0 repeat-x;
	color		: #222222;
	font		: 62.5%/1.8em 'helvetica neue', 'helvetica', 'verdana', sans-serif;
	text-align	: center;
}

#wrapper {
	font-size	: 1.2em;
	margin		: 0 auto;
	position	: relative;
	text-align	: left;
	width		: 900px;
}

#main {
	overflow 	: hidden;
	padding		: 10px 0 0;
	margin-bottom	: 10px;
}

#body {
	float		: left;
	margin-right: 10px;
	width		: 620px;
}

#side_bar {
	float		: right;
	width		: 250px;
}

.block,
.section.tabbed {
	border-top	: 12px solid #e5e5e5;
	margin-bottom	: 10px;
	padding		: 10px 0 10px;
}

#side_bar .block {
	background	: #fff url('../images/block_header_right.gif') 0 0 repeat-x;
	border-top	: 0;
	padding-top	: 22px;
}

.disabled {
	opacity:.4;
}

#yui-history-iframe {
  position:absolute;
  top:0; left:0;
  width:1px; height:1px; /* avoid scrollbars */
  visibility:hidden;
}
