{% load i18n %}
{% load editable_attribute %}
  <div id="about_block">
  
    <h3>About me</h3>
    <ul class="yui-skin-sam">
      <li>
	   {% editable "A bit about me" profile 'about' 'About me' 'True' %}
           <a href="#">more</a>
      </li>
    </ul>

    <h3>Contact</h3>
    <ul>
      <li>
         {% editable "Phone (Mobile)" profile 'mobile' 'My mobile' %} 
      </li>
      <li>
         {% editable "Phone (Work)" profile 'work' 'My work phone' %} 
      </li>
      <li>
         {% editable "Phone (Home)" profile 'home' 'My phone' %} 
      </li> 
      <li>
         {% editable "Fax No." profile 'fax' 'My fax' %} 
      </li>
      <li>
         {% editable "Address" profile 'address' 'My address' %} 
      </li>
      <li>
         {% editable "Email" profile 'email_address' 'My email' %} 
      </li> 
    </ul>

    <h3>Links</h3>
    <ul>
      <li>
         {% editable "Website" profile 'website' 'My site' %} 
      </li> 
    </ul>
    <h3>Skills and needs</h3>
    <ul>
      <li>
	<dl>
	  <dt>Skills:</dt>
	  <dd class="tag_manager" id="skills">
              <ul class="tag_list">
		{% for s in skills %}
		<li><a href="/plus_tags/tag/{{s.keyword}}/" class="tag option">{{s.keyword}}</a><a class="delete_tag" href="/plus_tags/Profile/{{profile.pk}}/delete/">X</a></li>
		{% endfor %}
	      </ul>
              <span class="error_message"></span>
             <form method='post' class="add_tag_form" action='/plus_tags/add_tag/' >
	       <input name="target_class" class="target_class" value="Profile" type="hidden" />
	       <input name="target_id" class="target_id" value="{{profile.pk}}" type="hidden" />
               <input name="tag_type" class="tag_type" value="skill" type="hidden" />
               <input name="tag_value" class="tag_value" />
               <input class="button add_tag" type="submit" value="Add" />
             </form>
	  </dd>
	</dl>
      </li>
      
      <li>
	<dl>
	  <dt>Needs:</dt>
	  <dd class="tag_manager" id="needs">
              <ul class="tag_list">
		{% for s in needs %}
		<li><a href="/plus_tags/tag/{{s.keyword}}/" class="tag option">{{s.keyword}}</a><a class="delete_tag" href="/plus_tags/Profile/{{profile.pk}}/delete/">X</a></li>
		{% endfor %}
	      </ul>
              <span class="error_message"></span>
             <form method='post' class="add_tag_form" action=''>
               <input name="target_class" class="target_class" value="Profile" type="hidden" />
               <input name="target_id" class="target_id" value="{{profile.pk}}" type="hidden" />
               <input name="tag_type" class="tag_type" value="need" type="hidden" />
               <input name="tag_value" class="tag_value" />
               <input class="button add_tag" type="submit" value="Add" />
             </form>
	  </dd>
	</dl>
      </li>
    </ul>
    
    {% include "profiles/profile_about_form.html" %}
    

    { % include "profiles/profile_host_info_form.html" % }

</div>
