{% load i18n %}
{% load microblogging_tags %}


<div id="news">

  {# @@@ can the publish to twitter checkbox actually be part of form and then we can use uni-form #}
  <form method="POST" action="{% url tweets_you_follow %}">
    <p>{% trans "What are you doing?" %}</p>
    {{ form.as_p }}
    {% if twitter_authorized %}
    <h2>{% trans "You have authorized a twitter account." %}</h2>
    <input name="pub2twitter" type="checkbox" id="pub2twitter" value="yes" />
    <label for="pub2twitter">{% trans "Publish to Twitter?" %}</label>
    {% endif %}
    
    <p>
      <span id="chars_left"></span> {% trans "chars left." %}
      <input type="submit" value="{% trans "post" %}">
    </p>
  </form>

  <p>{% blocktrans with user.followed.count as follow_count and user.followed.count|pluralize:_("person,people") as follow_name %}
   These are tweets from the {{ follow_count }} {{ follow_name }} you are following (plus your own){% endblocktrans %}:
  </p>

    {% tweet_listing other_user_tweets 1 0 %}

</div>
