{% extends "profiles/base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load pagination  %}
{% load avatar_tags %}
{% load humanize %}
{% load profile_tags %}

{% block body %}
<form method="GET" action="{% url profile_list %}" class="order_list">
	<div class="block">
	  <input type="text" class="text" name="search" value="{{ search_terms }}" />
	  <input type="submit" class="button" value="Search" />
	</div>
    {% if users %}
    <ul class="display_options">
      <li class="sort"> 
	  <label>{% trans "Sort by" %}:</label>
	  <select size="1" name="order">
	    <!--<option value="relevance">Relevance</option>-->
	    <option value="date" {% ifequal order "date" %}selected="selected"{% endifequal %}>{% trans "Most recent" %}</option>
	    <!--<option value="view">Most views</option>-->
	    <option value="name" {% ifequal order "name" %}selected="selected"{% endifequal %}>{% trans "A-Z" %}</option>
	  </select>
      </li>
    </ul>
</form>
        {% autopaginate users 10 %}
      <div id="results_all">
	{% plus_paginate_header %}
	<ul id="results_list_all" class="content_list results">
        {% ifequal order 'date'  %}
            {% regroup users by date_joined.date as users_by_date_joined %}
            {% for date in users_by_date_joined %}
                {% for user in date.list %}
                  <li {% if forloop.first %}class="first"{% endif %}>
                    {% show_profile request user %}
		  </li>
                {% endfor %}
            {% endfor %}
        {% else %}
            {% for user in users %}
               <li {% if forloop.first %}class="first"{% endif %} {% if forloop.last %}class="last"{% endif %}> 
                {% show_profile request user %}
	       </li>
            {% endfor %}
        {% endifequal %}
        </ul>
      </div>
        {% plus_paginate %}
        
       {% else %}
           <p>No profiles were found.</p>
      {% endif %}
	</div>
{% endblock %}
