{% extends "profiles/base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load app_plugins %}
{% load uni_form %}

{% block body %}

<div id='main_column'>
  <div id="intro" class="block">
    <div id="extra" class="block_column">

      <div>{% avatar other_user 180 %}</div>
      {% if is_me %}
         <a href="{% url avatar_change %}" id="avatar_replace">(replace)</a>
      {% endif %}

	 <ul id="actions" class="link_list">
	   <li class="first"><a href="#">Follow {{other_user.get_profile.name}}</a></li>
	   <li class="last"><a href="#">Message {{other_user.get_profile.name}}</a></li>
	 </ul>
    </div>

    <div id="info" class="block_column">
      <ul>
	<li>
	  <dl>
	    {% if other_user.get_profile.has_interests %}
	    <dt>{% trans "Interests" %}:</dt>
	    <dd>
	      {% for i in other_user.get_profile.get_interests %}
	        <a class="tag">{{i.label}}</a> 
	      {% endfor %}
	      <form method='post' action='/profiles/{{other_user.username}}/interests/'>
		<input name='interest' />
		<input type='submit'/>
	      </form>
	    </dd>

	    {% endif %}
	  </dl>
	</li>

	<li>
	  <dl>
	    <dt>{% trans "Groups" %} :</dt>
	    <dd>
	      {% for g in other_user.get_enclosures %}
	      <a href="#">{{g.get_permission_agent_name}}</a> | 
	      {% endfor %}
	    </dd>
	  </dl>
	</li>
	<br />
	<li>
	  <dl><dt >{% trans "Organisation" %} :</dt><dd class='editable' id='{{profile.edit_key}}organisation'>{{profile.organisation}}</dd></dl>
	</li>
	<li>
	  <dl><dt >{% trans "Role" %} : </dt><dd  class='editable' id='{{profile.edit_key}}role'>{{profile.role}}</dd></dl>
	</li>
	<br />
	<li>
	  <dl><dt >{% trans "Location" %} : </dt><dd class='editable' id='{{profile.edit_key}}location'>{{profile.location}}
	  </dd></dl>
	</li>
	<li>
	  <dl><dt >{% trans "Hub" %} : </dt><dd class='editable' id='{{profile.edit_key}}hub'><a href="hub.html">{{profile.get_hub}}</a></dd></dl>
	</li>
	
      </ul>

      {% include "profiles/profile_info_form.html"%}
      
    </div>
    
  </div>



  <div id="about" class="block">
  
    <h3>About me</h3>
    <ul>
      <li>
	<dl>
	  <dt >{% trans "A bit about me" %} :</dt>
	  <dd class='editable' id='{{profile.edit_key}}about'>
	    {{profile.about}}
	    <a href="#">more</a>
	  </dd>
	</dl>
      </li>
    </ul>
    
    <h3>Contact</h3>
    <ul>
      <li><dl><dt >Phone:</dt><dd class='editable' id='{{profile.edit_key}}phone'></dd></dl></li>
      <li><dl><dt >Email:</dt><dd class='editable' id='{{profile.edit_key}}email'>{{profile.email}}</dd></dl></li>
    </ul>
    
    <h3>Links</h3>
    <ul>
      <li><dl><dt >Website:</dt><dd class='editable' id='{{profile.edit_key}}website'><a href="#"></a></dd></dl></li>
    </ul>
    
    <h3>Skills and needs</h3>
    
    <ul>
      {% if other_user.get_profile.has_skills %}
      <li>
	<dl>
	  <dt>Skills:</dt>
	  <dd>
	  {% for s in other_user.get_profile.get_skills %}
	     <a href="#" class="tag option">{{s.label}}</a>
	  {% endfor %}
             <form method='post' action='/profiles/{{other_user.username}}/skills/'>
               <input name='skill' />
               <input type='submit'/>
             </form>
	  </dd>
	</dl>
      </li>
      {% endif %}
      
      {% if other_user.get_profile.has_needs %}
      <li>
	<dl>
	  <dt>Needs:</dt>
	  <dd>
	    {% for n in other_user.get_profile.get_needs %}
	    <a href="#" class="tag option">{{n.label}}</a>
	    {% endfor %}
            <form method='post' action='/profiles/{{other_user.username}}/needs/'>
              <input name='need' />
              <input type='submit'/>
            </form>
	  </dd>
	</dl>
      </li>
      {% endif %}
    </ul>

    {% include "profiles/profile_about_form.html" %}
    
    
    <h3>Host Questions (Private)</h3>
    <ul>
      <li><dl><dt >How did you find out about the Hub?</dt><dd class='editable' id='{{host_info.edit_key}}find_out'>{{host_info.find_out}}</dd></dl></li>
      <li><dl><dt >Are you interested in peer mentoring?</dt><dd class='editable' id='{{host_info.edit_key}}peer_mentoring'>{{host_info.peer_mentoring}}</dd></dl></li>
      
      <li><dl><dt >Tell us a bit about your project?</dt><dd class='editable' id='{{host_info.edit_key}}project'>{{host_info.project}}</dd></dl></li>
      <li><dl><dt >What stage is your project at?:</dt><dd class='editable' id='{{host_info.edit_key}}project_stage'>{{host_info.project_stage}}</dd></dl></li>
    <li><dl><dt >What assistence would you like to offer other members?</dt><dd class='editable' id='{{host_info.edit_key}}assisstance_offered'>{{host_info.assistance_offered}}</dd></dl></li>
    </ul>
    {% include "profiles/profile_host_info_form.html" %}

  </div>
</div>

{% endblock %}


{% block side_bar %}
<div id="right_column" class="disabled">

  <div id="feature_search" class="block">
    <h3>Search</h3>
    <form>
      <input name="search_term" type="text" /> <input type="submit" value="Search" /><br />
      <input name="current_area" type="checkbox" checked="checked" /> Members only<br />      
    </form>
  </div>

  <div id="feature_explore" class="block">
    <h3>Explore Members</h3>
    <div class="tags">
      <a href="#" class="tag">green</a> <a href="#" class="tag">environment</a> 
      <a href="#" class="tag">fairtrade</a> <a href="#" class="tag">reference</a> 
      <a href="#" class="tag">clothes</a> <a href="#" class="tag">design</a> 
      <a href="#" class="tag">sustainability</a> <a href="#" class="tag">energy</a> 
      <a href="#" class="tag">shopping</a> <a href="#" class="tag">climatechange</a> 
      <a href="#" class="tag">science</a> <a href="#" class="tag">activism</a> 
      <a href="#" class="tag">health</a> <a href="#" class="tag">architecture</a> 
      <a href="#" class="tag">shopping</a> <a href="#" class="tag">green</a> 
      <a href="#" class="tag">environment</a> <a href="#" class="tag">fairtrade</a> 
      <a href="#" class="tag">reference</a> <a href="#" class="tag">clothes</a> <a href="#" class="tag">design</a>
    </div>
  </div>

  <div id="feature_members_online" class="block">
    <h3>Who's online</h3>
    <ul id="members_list">
      <li class="first"><a href="#"><img class="member_thumb" src="image/member.jpg" /></a></li>
      <li><a href="#"><img class="member_thumb" src="image/member.jpg" /></a></li>
      <li><a href="#"><img class="member_thumb" src="image/member.jpg" /></a></li>
      <li><a href="#"><img class="member_thumb" src="image/member.jpg" /></a></li>
      <li class="last" ><a href="#"><img class="member_thumb" src="image/member.jpg" /></a></li>
    </ul>
    <a href="#">Show all (43)</a>
  </div>

  <div id="feature_my_hub" class="block">
    <h3>My Hub</h3>
    <img class="hub_thumb" src="image/group.jpg" />

    <p><a href="#">Hub Kings Cross</a> is having a bit of a spring clean.</p>
    <ul class="links">
      <li class="first"><a href="#">Hub page</a></li>
      <li class="last" ><a href="#">Book space</a></li>
    </ul>
  </div>
  
</div>

{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(document).ready(function() {

            $('#edit_profile_info').hide();
            $('#edit_profile_info_toggle').click(function() {
                $('#edit_profile_info').toggle();

                //$('#edit_profile_info').autoscroll();
	        
                return false;
            });
            if ($('#edit_profile_info ul.errorlist').length) {
                $('#edit_profile_info').show();
                //$('#edit_profile_info ul.errorlist').autoscroll();
            }
        });
    </script>
{% endblock %}

