{% extends "site_base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load app_plugins %}
{% load uni_form %}
{% load plus_tags %}
{% load editable_attribute %}
{% block body %}

<div id="intro" class="block">

  <div id="extra" class="block_column">

    <div id='permission_sliders'></div>

    <div id='messages'>
      {% if messages %}
      <ul>
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
      </ul>
      {% endif %}
    </div>

    
    <div id="page_image" class="image member">
      {% avatar other_user 180 %}
      {% if is_me %}
      <a href="{% url avatar_change %}" id="avatar_replace" class="bt_edit icon_button">(replace)</a>
      {% endif %}
    </div>
    
    <ul id="actions" class="link_list">
      <li class="first"><a href="/tweets/toggle_follow/{{other_user.username}}/">{% if is_following %}Unfollow {% else %}Follow {% endif %}{{other_user.get_display_name}}</a></li>
      <li class="last"><a href="{% url messages_all_to other_user.username %}">Message {{other_user.get_display_name}}</a></li>
    </ul> 
  </div>
  
  <div id="info" class="block_column">
    {% if permissions %}
    <ul class="icon_text_button_set">
      <li><a href="#overlay" class="icon_text_button bt_permissions" rel="#overlay" id="{{other_user.edit_key}}permissionedit">Permissions</a></li>
    </ul>
    {% endif %}
    <ul>
      <li>
	<dl>
	  {% plus_tag 'Interests' 'interests'  profile  other_user %}
	</dl>
      </li>  
      <li>
	<dl class="disabled"><dt >{% trans "Region" %} : </dt>
	  <dd>
	    <a href="hub.html" class='editable_temp_off' id='{{profile.edit_key}}hub'>{{profile.get_hub}}</a>
	</dd></dl>
      </li>
      <li>
	<dl>
	  <dt>{% trans "Groups" %} :</dt>
	  <dd>
	    {% for g in other_user.get_enclosures %}
	      <a href="/groups/{{g.pk}}/">{{g.get_permission_agent_name}}</a>{% if forloop.last %}{% else %},{% endif %}
	    {% endfor %}
	  </dd>
	</dl>
      </li>
      <br />
      <li>
	   {% editable "Organisation" profile 'organisation' 'Your organisation' %}
      </li>
      <li>
	   {% editable "Role" profile 'role' 'Your role' %}
      </li>
      <br />
      <li class="place">
	   {% editable "Location" profile 'place' 'Your Location' %}
      </li>	
    </ul>
  </div>
</div>
{% include "profiles/tabbed_subs.html" %}

{% endblock %}


{% block side_bar %}

{% include "plus_explore/side_search.html" %}
<div id="feature_explore" class="site_block">
  <h3>{% trans "Explore members" %}</h3>
  {% tag_cloud 25 '' search_types 'profile_list_tag' %}
</div>

{% include "add.html" %}

{% include "my_hub.html" %}

{% endblock %}
