 
{% extends "site_base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load app_plugins %}
{% load uni_form %}
{% load profile_tags %}
{% load plus_tags %}
{% load editable_attribute %}
{% block body %}

<div id="intro" class="block">

  <div id="extra" class="block_column">

    <div id='permission_sliders'></div>

    <div id='messages'>
      {% if messages %}
      <ul>
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
      </ul>
      {% endif %}
    </div>

    
    <div id="page_image" class="image member">{% avatar other_user 180 %}</div>
    {% if is_me %}
    <a href="{% url avatar_change %}" id="avatar_replace">(replace)</a>
    {% endif %}
    
    <ul id="actions" class="link_list">
      <li class="first disabled"><a href="#">Follow {{other_user.get_profile.name}}</a></li>
      <li class="last disabled"><a href="#">Message {{other_user.get_profile.name}}</a></li>
    </ul>
  </div>
  
  <div id="info" class="block_column">
       <div id='permission_button'><img src='/site_media/images/button_permissions2.gif'/></div>
 
    <ul>
      <li>
	<dl>
	  <dt>{% trans "Interests" %}:</dt>
          <dd class="tag_manager" id="interests">
            <ul class="tag_list">
              {% for s in interests %}
              <li><a href="/plus_tags/tag/{{s.keyword}}/" class="tag option">{{s.keyword}}</a><a class="delete_tag" href="/plus_tags/Profile/{{profile.p\
															    k}}/delete/">X</a></li>
              {% endfor %}
            </ul>
            <span class="error_message"></span>
            <form method='post' class="add_tag_form" action='/plus_tags/add_tag/' >
              <input name="target_class" class="target_class" value="Profile" type="hidden" />
              <input name="target_id" class="target_id" value="{{profile.pk}}" type="hidden" />
              <input name="tag_type" class="tag_type" value="interest" type="hidden" />
              <input name="tag_value" class="text tag_value" />
              <input class="button add_tag" type="submit" value="Add" />
            </form>
          </dd>
	</dl>
      </li>
      <!-- li>
	{ % plus_tag 'interest2' 'interests' profile.id profile.user.id % }
	
      </li -->
      <li>
	<dl class="disabled"><dt >{% trans "Region" %} : </dt>
	  <dd>
	    <a href="hub.html" class='editable_temp_off' id='{{profile.edit_key}}hub'>{{profile.get_hub}}</a>
	</dd></dl>
      </li>
      <li>
	<dl>
	  <dt>{% trans "Groups" %} :</dt>
	  <dd>
	    {% for g in other_user.get_enclosures %}
	    <a href="/groups/{{g.pk}}/">{{g.get_permission_agent_name}}</a>, 
	    {% endfor %}
	  </dd>
	</dl>
      </li>
      <br />
      <li>
	   {% editable "Organisation" profile 'organisation' 'Your organisation' %}
      </li>
      <li>
	   {% editable "Role" profile 'role' 'Your role' %}
      </li>
      <br />
      <li>
	   {% editable "Location" profile 'place' 'Your Location' %}
      </li>	
    </ul>
  </div>
</div>
{% include "profiles/tabbed_subs.html" %}

{% endblock %}


{% block side_bar %}

<div id="feature_search" class="block">
    <h3>Search</h3>
    <form>
      <input name="search_term" type="text" class="text" /> <input class="button" type="submit" value="Search" /><br />
      <input name="current_area" type="checkbox" checked="checked" /> Members only<br />      
    </form>
</div>

<div id="feature_explore" class="block">
  <h3>Explore members</h3>
  <ol class="tag_list">
	<li><a href="#" class="tag pop7">activism</a></li>
	<li><a href="#" class="tag pop8">architecture</a></li>
	<li><a href="#" class="tag pop6">better</a></li>
	<li><a href="#" class="tag pop3">big</a></li>
	<li><a href="#" class="tag pop5">climatechange</a></li>
	<li><a href="#" class="tag pop2">clothing</a></li>
	<li><a href="#" class="tag pop8">design</a></li>
	<li><a href="#" class="tag pop8">dip</a></li>
	<li><a href="#" class="tag pop7">developement</a></li>
	<li><a href="#" class="tag pop3">energy</a></li>

	<li><a href="#" class="tag pop6">environment</a></li> 
	<li><a href="#" class="tag pop8">fairtrade</a></li>
	<li><a href="#" class="tag pop1">gender</a></li>
	<li><a href="#" class="tag pop8">green</a></li>
	<li><a href="#" class="tag pop7">hub</a></li>
	<li><a href="#" class="tag pop4">innovation</a></li>
	<li><a href="#" class="tag pop2">living</a></li>
	<li><a href="#" class="tag pop6">product</a></li>
	<li><a href="#" class="tag pop8">reference</a></li> 
	<li><a href="#" class="tag pop5">salad</a></li>
	<li><a href="#" class="tag pop5">org</a></li>

	<li><a href="#" class="tag pop8">science</a></li>
	<li><a href="#" class="tag pop2">shopping</a></li>
	<li><a href="#" class="tag pop6">sustainability</a></li>
	<li><a href="#" class="tag pop1">web</a></li>
  </ol>
</div>

<div id="feature_my_hub" class="block">
	<h3>My Hub</h3>
	<div class="thumb medium"><img src="../../site_media/images/group.jpg" /></div>
	<p><a href="#">Hub Kings Cross</a> is having a bit of a spring clean.</p>
	<ul class="links">
		<li class="first"><a href="#">Hub page</a></li>
		<li class="last" ><a href="#">Book space</a></li>
	</ul>
</div>

{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(document).ready(function() {

            $('#edit_profile_info').hide();
            $('#edit_profile_info_toggle').click(function() {
                $('#edit_profile_info').toggle();

                //$('#edit_profile_info').autoscroll();
	        
                return false;
            });
            if ($('#edit_profile_info ul.errorlist').length) {
                $('#edit_profile_info').show();
                //$('#edit_profile_info ul.errorlist').autoscroll();
            }
        });
    </script>
{% endblock %}

