
<div id="section_tab_navigation" class="section yui-navset">

  <ul class="yui-nav">
    <li class="selected" ><a href="#about"><span>About</span></a></li>
    <li><a href="#updates_feed"><span>Activity</span></a></li>
    <li><a href="#tags"><span>Tags</span></a></li>
    <li><a href="#news"><span>News</span></a></li>
  </ul>
  
  <div  class="yui-content">
	{% include "profiles/about.html" %}
	{% include "profiles/update.html" %}
	{% include "profiles/tags.html" %}
	{% include "profiles/news.html" %}

	
  </div>
</div>

