<div id="updates_feed">
  <!--<div id="feed_customise_link"><a href="#">Customise my feed (Admin only)</a></div>-->
  <ul id="feed" class="content_list">


    <li class="first"><div class="thumb tiny"><img src="../../site_media/images/member.jpg" /></div><a href="#">Andrew</a> is taking a giant step forward. <span class="label_time">2 minutes ago.</span></li>
    <li><div class="thumb tiny"><img src="../../site_media/images/group.jpg" /></div><a href="#">Region: South Africa</a> has two new members. Auto republished by <a href="#">Andrew</a>. <span class="label_time">Today.</span></li> 
    <li><div class="thumb tiny"><img src="../../site_media/images/group.jpg" /></div><a href="#">Andrew</a> joined <a href="#">Space Design</a>. <span class="label_time">22 minutes ago.</span></li>
    <li><div class="thumb tiny"><img src="../../site_media/images/member.jpg" /></div><a href="#">Andrew</a> tagged a post by <a href="#">Collin Phillips</a>... <span class="label_time">35 minutes ago.</span>
      <div class="preview">
	
        <h3><a href="#">Internal Displacement: Global Overview of Trends and Developments in 2008</a></h3>
        <p>International efforts have failed to reduce the scale of internal displacement caused by conflict. According to s report Internal Displac\
	  ement: Global Overview of Trends and Developments in 2008, an estimated 26 million people were still displaced within their countries, the same number as in 2007 and the highest since...</p>
      </div>
    </li>
    <li><div class="thumb tiny"><img src="../../site_media/images/member.jpg" /></div><a href="#">Andrew</a> is now following <a href="#">Alex Smith</a> <span class="label_time">1 hour ago.</span></li>
    
    <li><div class="thumb tiny"><img src="../../site_media/images/group.jpg" /></div><a href="#">Andrew</a> joined <a href="#">ID Group</a>. <span class="label_time">1 hour ago.</span></li>
    <li><div class="thumb tiny"><img src="../../site_media/images/member.jpg" /></div><a href="#">Andrew</a> is working from home today. <span class="label_time">3 hours ago.</span></li>
    <li class="last"><div class="thumb tiny"><img src="../../site_media/images/member.jpg" /></div><a href="#">Andrew</a> is trying to switch career into the non profit sector. <span class="label_time">4 hours ago.</span></li>
  </ul>
  <a href='#'>More updates</a>
</div>
