{% extends "account/base.html" %}

{% load i18n %}
{% load avatar_tags %}


{% block page_title %}
{{from_name}} {% trans "Picture" %}
{% endblock %}

 {% block body %}
 <div class="block">

   {% if not avatars %}
   <h4>Current picture</h4>
	   {% ifequal target_type 'group' %}
	      <p class="extra">{% trans "The picture is currently the" %} {{SITE_NAME}} {% trans "default, upload a new one below"%}.</p>
          {% else %}
             <p class="extra">{% trans "Your profile picture is currently the" %} {{ SITE_NAME }} {% trans "default, upload a new one of your own below" %}.</p>
          {% endifequal %}

	<div id="avatar_current" class="thumb medium">{% avatar target 80 %}</div>
    {% else %}

	<form id="avatar_current" method="POST" action="">
		<h4>Current picture</h4>
		<p>Choose which picture you would like to use or upload a new one below.</p>
		<div class="avatar_choices">
			{{ primary_avatar_form.choice }}
		</div>
		<input type="submit" class="button" value="Use this one" />
		{% url avatar_delete as avatar_delete_url %}
		{% blocktrans %} or <a href="{{ avatar_delete_url }}">Delete images...</a>.{% endblocktrans %}</p>
	</form>
    {% endif %}

    <form id="avatar_add" enctype="multipart/form-data" method="POST" action="">
    	<h4>{% trans "Upload a new one" %}</h4>
        <fieldset>
			<ul>
				<li><input type="file" class="file" name="avatar" value="{% trans "Avatar Image" %}" /></li>
			</ul>
        </fieldset
        <input type="submit" class="button" value="{% trans "Upload picture" %}" />
    </form>

    {% ifequal target_type 'group' %}
       <a href="{% url plus_groups:group target.id %}">{% trans "Back to " %}{{from_name}}</a>
    {% else %}
       <a href="{% url profile_detail target.username %}">{% trans "Back to Profile" %}</a>
    {% endifequal %}
</div>
{% endblock %}
 
{% block extra_body %}
    {% load jquery_validation %}
    {% include_validation %}
    <script type="text/javascript">
       <!-- nothing here -->
    </script>
{% endblock %}
