{% load i18n %} 
{% load uni_form_tags %}
{% load profile_tags %}

<div id="compose">
  <div id='user_list' class='user_list'>
  </div>
  <form class="page" method="post" action="#tabview=compose">
    <fieldset>
      <ul class="message_headers">
	<li> 
	  <dl>
	    <dt><label for="message_recipient"><span class="required">*</span> {% trans 'To' %}</label></dt>
	    <dd>
	      <input id="id_recipient" type="hidden" name="recipient"/>
	      
	      {% if prefill %}
	          {% autocomplete_user_form recipient_str %}
	      {% else %}
	          {% autocomplete_user_form %}
	      {% endif %}

	      {{form.recipient.errors}}
	    </dd>
	  </dl>
	</li>
	<li>
	  <dl>
	    <dt><label for="message_subject"><span class="required">*</span> {% trans 'Subject' %}</label></dt>
	    <dd>
	      <input type="text" id="message_subject" name="subject" value="{{form.data.subject}}"/>
	      {{form.subject.errors}}

	  </dl>
	</li>
      </ul>
      <ul class="message_body">
	<li>
	  <dl>
	    <dt><label for="message_content"><span class="required">*</span> Body</label></dt>
	    <dd><textarea name="body" cols="55" rows="12" id="message_content">{{form.data.body}}</textarea></dd>
	  </dl>
	</li>
      </ul>
      <input type="submit" value="{% trans 'Send' %}" class="button"/>
    </fieldset>
  </form>
  
</div>


