{% extends "site_base.html" %}

{% load i18n %} 
{% load timezone_filters %}

{% block page_title %}{% trans "Messages" %}{% endblock %}
{% load inbox %}
{% block body %}


{% if system_messages %}
<ul class='system_messages'>
  {% for ms in system_messages %}
  <li>{{ms}}</li>
  {% endfor %}
</ul>
{% endif %}

{% include "messages/tabbed_subs.html" %}

{% endblock %}


{% block side_bar %}

<!-- <div id="feature_invite" class="block">
    <h3>{% trans "Invite a friend" %}</h3>
	<p>{% blocktrans %} Share {{ SITE_NAME }} with your friends and colleagues.{% endblocktrans %}</p>
	<a class="button" href="{% invite_url None %}">{% trans "Invite" %}</a>
</div> -->
 
<!--<div id="feature_email_settings" class="block">
    <h3>Email Notifications</h3>
	<ul class="link_list">
		<li><a href="{% url acct_email %}">Change your email address</a></li>
		<li><a href="{% url notification_notices %}">Notification settings</a></li>
	</ul>
</div>-->

{% include "plus_explore/side_search.html" %}
{% include "add.html" %}

{% endblock %}
