{% load i18n %}
{% load timezone_filters %}

<div id="sent">
    <table class="messages">
        <thead>
            <tr>
				<th class="contact">{% trans "To" %}</th>
				<th class="subject">{% trans "Subject" %}</th>
				<th class="date"   >{% trans "Date" %}</th>
				<th class="action" >{% trans "Action" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for message in outbox %} 
                <tr>
                    <td>{{ message.recipient }}</td>
                    <td>
                        <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a>
                    </td>
                    <td>{{ message.sent_at|localtime:account.timezone|date:_("DATETIME_FORMAT") }}</td>
                    <td><a href="{% url messages_delete message.id %}?next={% url messages_outbox %}">{% trans "delete" %}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
