{% load i18n %} 

<div id="section_tab_navigation" class="tabbed section yui-navset">

  <ul class="tabbed_navigation yui-nav">
    <li class="selected"><a href="#inbox"><span>{% trans "Inbox" %} ({{ messages_inbox_count }})</span></a></li>
    <li><a href="#sent"><span>{% trans "Sent" %}</span></a></li>
    <li><a href="#trash"><span>{% trans "Trash" %}</span></a></li>
    <li><a href="#compose"><span>{% trans "Compose" %}</span></a></li>
  </ul>

  <div class="tabbed_content yui-content">
	{% include "messages/inbox_listing.html" %}
	{% include "messages/outbox.html" %}
	{% include "messages/trash.html" %}
	{% include "messages/compose.html" %}
  </div>

</div>
