{% load i18n %} 
{% load timezone_filters %}

<div id="trash">
    <table class="messages">
        <thead>
            <tr>
				<th class="contact">{% trans "Sender" %}</th>
				<th class="subject">{% trans "Subject" %}</th>
				<th class="date"   >{% trans "Date" %}</th>
				<th class="action" >{% trans "Action" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for message in trash %} 
                <tr>
                    <td>{% ifequal message.sender user %}Me{% else %}{{ message.sender }}{% endifequal %}</td>
                    <td> 
                        {{ message.subject }}
                    </td>
                    <td>{{ message.sent_at|localtime:account.timezone|date:_("DATETIME_FORMAT") }}</td>
                    <td><a href="{% url messages_undelete message.id %}">{% trans "undelete" %}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
    <p>{% trans "Deleted messages are automatically removed from the trash frequently." %}</p>
</div>
