{% extends "messages/base.html" %} 

{% load i18n %}
{% load oembed_tags %}
{% load timezone_filters %}

{% block page_title %}{% trans "Messages" %}{% endblock %}

{% block body %}

<div id="message_viewer" class="tabbed section">

	<ul class="tabbed_navigation">
		{% ifequal message.recipient user %}
		<li class="selected"><a href="{% url messages_all %}"><span>{% trans "Inbox" %} ({{ messages_inbox_count }})</span></a></li>
		<li><a href="{% url messages_all %}#tabview=sent"><span>{% trans "Sent" %}</span></a></li>
		{% else %}
		<li><a href="{% url messages_all %}"><span>{% trans "Inbox" %} ({{ messages_inbox_count }})</span></a></li>
		<li class="selected"><a href="{% url messages_all %}#tabview=sent"><span>{% trans "Sent" %}</span></a></li>
		{% endifequal %}
		<li><a href="{% url messages_all %}#tabview=trash"><span>{% trans "Trash" %}</span></a></li>
		<li><a href="{% url messages_all %}#tabview=compose"><span>{% trans "Compose" %}</span></a></li>
	</ul>

	{% ifequal message.recipient user %}
	<a id="parent" href="{% url messages_all %}">{% trans "Back to Inbox" %}</a>
	{% else %}
	<a id="parent" href="{% url messages_all %}#tabview=sent">{% trans "Back to Sent" %}</a>
	{% endifequal %}

	<dl class="message_headers">
		<dt>{% trans "From" %}:</dt>
		<dd><a href="{% url profile_detail message.sender %}">{{ message.sender }}</a></dd>
		<dt>{% trans "Subject" %}:</dt>
		<dd><strong>{{ message.subject }}</strong></dd>
		<dt>{% trans "Date" %}:</dt>
		<dd>{{ message.sent_at|localtime:account.timezone|date:_("DATETIME_FORMAT")}}</dd>
		<dt>{% trans "To" %}:</dt>
		<dd>{{ message.recipient }}</dd>
	</dl>

	<p>{% oembed %}{% autoescape off %}{{ message.body|linebreaksbr }}{% endautoescape %}{% endoembed %}</p>

	{% ifequal message.recipient user %}
		<a class="button" href="{% url messages_reply message.id %}">{% trans "Reply" %}</a>
		or
	{% endifequal %}

	<a href="{% url messages_delete message.id %}">{% trans "Delete message" %}</a>

</div>


{% endblock %}
