/* Layout: Footer */

#footer {
	background	: #EEE;
	padding		: 10px;
	position	: relative;
}

#footer p {
	padding		: 4px 3px;
}

#footer #extra_navigation {
	background	: #FFF;
	border		: 1px solid #000;
	list-style	: none;
	padding		: 3px;
	position	: absolute;
	right		: 10px;
	top			: 10px;
}

#footer #extra_navigation li {
	border-left : 1px solid #000;
	float		: left;
	padding-left: 5px;
	margin-left	: 5px;
}

#footer #extra_navigation li.first {
	border-left : 0;
	padding-left: 0;
	margin-left	: 0;
}

#footer #extra_navigation li a {
	color		: #000;
}
