{% load i18n %}
{% load avatar_tags %}
{% load plus_url %}
<a href="{{group_url}}">
    <div class="thumb medium"><img src="/site_media/images/{{group_label}}.jpg" /></div>
</a>
<dl>
  <dt>{% trans "Name" %}</dt>
  <dd><a href="{{group_url}}">{{group.get_display_name}}</a></dd>
  <dt>{% trans "Type" %}:</dt>
  <dd>{{group.get_group_type_display}}</dd>
  <dt>{% trans "Description" %}:</dt>
  <dd>{% autoescape off %}{{group.description|truncatewords_html:20}}{% endautoescape %}</dd>
  <dt>{% trans "Members" %}:</dt>
  <dd>{% blocktrans %}{{no_of_members}} members{% endblocktrans %}</dd>  
</dl>

