{% load i18n %}
{% load avatar_tags %}
{% load plus_tags %}

<a href="{{resource_url}}">
    <div class="thumb medium"><img src="/site_media/images/resource.jpg" /></div>
</a>
<dl>
  <dt>{% trans "Name" %}</dt>
  <dd><a href="{{resource_url}}">{{resource.display_name}}</a> ({{resource.display_type}})</dd>
  <dt>{% trans "Description" %}</dt>
  <dd>{% autoescape off %}{{resource.content|striptags|truncatewords:20}}{% endautoescape %}</dd>
  <dt>{% trans "In Group" %}</dt>
  <dd><a href="{% url plus_groups:group resource.in_agent.obj.id %}">{{resource.in_agent.display_name}}</a></dd>
  {% view_plus_tag 'Tags' ''  resource  '' %}
</dl>
