{% load i18n %}
{% load avatar_tags %}
{% load plus_url %}
{% load group_tags %}
<a href="{{resource_url}}">
    <div class="thumb medium"><img src="/site_media/images/resource.jpg" /></div>
</a>
<dl>
  <dt>{% trans "Name" %}</dt>
  <dd><a href="{{resource_url}}">{{resource.display_name}}</a></dd>
  <dt>{% trans "Description" %}:</dt>
  <dd>{% autoescape off %}{{resource.content|truncatewords_html:20}}{% endautoescape %}</dd>
  {% if tags %}
  <dt>{% trans "Tags" %}:</dt>
  <dd>{% for tag in tags %}{{tag.keyword}}{% endfor %}</dd>
  {% endif %}
</dl>
